{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}About - {% endblock %}

{% block description %}AnsweredBy is a site designed to revolution online news consumption.{% endblock %}

{% block body %}
 <h1 style="text-align:center;">About</h1>
 <img src="{{ asset('images/ab_logo_final_small.png') }}" class="img-responsive" alt="">
 <hr>
 <p><b><span class="blue">Answered</span><span class="orange">By</span></b> is a new social network where <b><em>you</em></b> control how posts are shared and received. Through <b><span class="blue">Answered</span><span class="orange">By</span></b>, you can:</p>
 <ol>
  <li>Publish posts to certain networks of users &mdash; networks you've built.</li>
  <li>Receive posts from networks that you approve yourself to be on.</li>
  <li>See posts in your sharefeed immediately when they're posted. Other social networks delay your viewing of them to better fit their algorithms.</li>
  <li>See <em>all</em> your networks' posts &mdash; and be sure they see all of yours. Algorithms play no part in showing or hiding posts from people.</li>
 </ol>
 <p>What can you post? Currently you can post:</p>
 <ol>
  <li>Text</li>
  <li>Links</li>
  <li>Photos</li>
 </ol>
 <p>Where possible, <b><span class="blue">Answered</span><span class="orange">By</span></b> will show a preview of your link or YouTube video in your post.</p>
 <p></p>
 <hr>
 <div class="row">
  <div class="col-sm-6">
   {% if whoWeAre['Founder & CEO'] %}
    <h3 style="margin-bottom:24px;">Who are we?</h3>
    <h5>Founder &amp; Lead Developer:</h5>
    <table>
     <tr>
      <td>{{ macros.UserProfilePic(whoWeAre['Founder & CEO']) }}</td>
      <td>{{ macros.UserPageAnchor(whoWeAre['Founder & CEO']) }}</td>
     </tr>
    </table>
   {% endif %}
  </div>
  <div id="contact" class="col-sm-6">
   <h3 style="margin-bottom:24px;">Contact Us</h3>
   <p>You want to contact us? Cool!</p>
   <p><em>Please</em> contact us about anything at all  &mdash; design advice, bugs in the site, job applications, whatever! We're just starting up, so we don't even have a Frequently Asked Questions section yet &mdash; help us build it!</p>
   <address>
    <b>Email:</b> admin@<span class="donotreveal">&nbsp;</span>answeredby.<span class="donotreveal">&nbsp;</span>com<br>
    <b>Tel:</b> +1 (267) 403-4140
   </address>
   <h3 style="margin-bottom:24px;margin-top:48px;">Where are we?</h3>
   <address>
    answer1answer2, LLC<br>
    11117 La Chene Ave.<br>
    Warren, MI 48093
   </address>
  </div>
 </div>
{% endblock %}
