<html>
 <head>
  <style type="text/css">
   html, body {
    font-family: Arial;
   }
   .button {
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size: 14px;
    height: 34px;
    line-height: 20px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
   }
   .approve {
    background-color: #5cb85c;
    border-color: #5cb85c;
   }
   .ignore {
    background-color: #d9534f;
    border-color: #d9534f;
   }
  </style>
 </head>
 <body>
  <div>
   <img src="{{ site_url }}/images/ab_logo_final_small.png" alt="logo" style="max-width:300px;">
  </div>
  <p>Hello!</p>
  {% for relationship in relationships %}
   <p>{{ relationship.createdUser.username }} {% if relationship.createdUser == relationship.originationUser %}wants you to join their{% else %}wants to join your{% endif %} {{ relationship.network.text }} network on <b><span style="color:#428bca;">Answered</span><span style="color:#f69442;">By</span></b>. <a href="{{ site_url }}{{ path('RelationshipApproveIgnorePage', {'md5': relationship.md5, 'actionType': 'approve'}) }}" class="button approve">Approve</a> <a href="{{ site_url }}{{ path('RelationshipApproveIgnorePage', {'md5': relationship.md5, 'actionType': 'ignore'}) }}" class="button ignore">Ignore</a></p>
  {% endfor %}
  <p><a href="{{ site_url }}{{ path('EmailSubscriptionsPage', {'md5Type': 'relationship', 'md5': relationships.0.md5}) }}" style="font-size:11px;color:darkgrey;">View/update your e-mail notifications</a></p>
 </body>
</html>
