{% for relationship in relationships %}
{{ relationship.createdUser.username }} {% if relationship.createdUser == relationship.originationUser %}wants you to join their{% else %}wants to join your{% endif %} {{ relationship.network.text }} Network on AnsweredBy. 
Approve: {{ site_url }}{{ path('RelationshipApproveIgnorePage', {'md5': relationship.md5, 'actionType': 'approve'}) }}
Ignore: {{ site_url }}{{ path('RelationshipApproveIgnorePage', {'md5': relationship.md5, 'actionType': 'ignore'}) }}
{% endfor %}
See your e-mail notifications: {{ site_url }}{{ path('EmailSubscriptionsPage', {'md5Type': 'relationship', 'md5': relationships.0.md5}) }}.
