{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Forgot - {% endblock %}

{% block description %}If you forgot your password, enter your account e-mail address below to be sent an e-mail containing a link to reset your password.{% endblock %}

{% block body %}
 <h1>Forgot Something?</h1>
 <p>If you forgot your password, enter your account e-mail address below to be sent an e-mail containing a link to reset your password:</p>
 {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
  {{ form_errors(form) }}
  <div class="form-group">
   <div class="col-sm-2 control-label">
    {{ form_label(form.email) }}
   </div>
   <div class="col-xs-3">
    {{ form_errors(form.email) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
   </div>
  </div>
  <div class="form-group">
   <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" value="Submit" class="btn btn-primary">
   </div>
  </div>
 {{ form_end(form) }}
{% endblock %}