{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Forgot - {% endblock %}

{% block body %}
 <h1>Sent!</h1>
 <p>If there's an account associated with it, a password reset e-mail was sent to <b>{{ email }}</b>.</p>
{% endblock %}