{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Privacy - {% endblock %}

{% block description %}We take the private nature of your personal information very seriously, and are committed to protecting it.{% endblock %}

{% block body %}
 <h1>answer1answer2, LLC Official Privacy Policy</h1>
 <h2>Who We Are and What This Is</h2>
 <p>The answeredby.com Site (the &ldquo;Site&rdquo;) is an Internet site and other applications for posting information and is owned and operated by answer1answer2, LLC (&ldquo;answer1answer2&rdquo;), a Michigan corporation.</p>
 <p>We take the private nature of your personal information very seriously, and are committed to protecting it. To do that, we've set up procedures to ensure that your information is handled responsibly and in accordance with applicable data protection and privacy laws. We're grateful for your trust, and we'll act that way.</p>
 <div>
  This privacy policy describes what information we collect when you visit the site, how we use that information, and what choices we offer you to access, update, and control it. This version of the policy is effective as of August 28, 2014.
 </div>
 <h2>Types of Information</h2>
 <p><strong>"Personal information"</strong> is any information that we could use to identify an individual. It does not include personal information that is encoded or anonymized, or publicly available information that has not been combined with non-public information.</p>
 <p><strong>"Sensitive personal information"</strong> is information that meets the "personal information" criteria and also a) reveals race, ethnic origin, political opinions, religious or philosophical beliefs, trade union membership, or b) concerns health or sex life, information about social security benefits, or information on criminal or administrative proceedings other than in the context of pending legal proceedings.</p>
 <h2>How We Collect Information</h2>
 <p>We collect information two ways: Information we get from your use of the site, and information you provide to us directly.</p>
 <p><strong>Information we get from your use of the site</strong> is primarily non-personally-identifying information of the sort that web browsers, servers, and services like Google Analytics* typically make available, such as the browser type, language preference, referring site, and the time of each visit. Other non-identifying information that we might have access to includes how you use the service (e.g., search queries), your approximate location, cookies, etc.</p>
 <p>We collect this non-personally identifying information in order to better understand how visitors use the service and where possible, to improve their experience. For instance, we may monitor the most common content on the site to help identify spam. In some cases, we may publicly display information that is not personally identifying in the aggregate, (e.g., by publishing a report on trends in the usage of the site,) or may provide it to third parties.</p>
 <p>When you use the site, we also collect potentially personally identifying information in the form of Internet Protocol (IP) addresses. But we don't use that information to identify you, and we handle and disclose these addresses in the same way we handle other potentially personally identifying information as described below.</p>
 <p><strong>Information you provide to us directly</strong>. Certain visitors to the site choose to interact with it in ways that may require them to provide us with personally identifying information. The amount and type of information that is provided depends on the nature of the interaction. For example, we ask visitors who sign up for answeredby.com to provide a display name, email address, and date of birth. Advertisers who engage in financial transactions with answeredby.com are asked to provide additional information, such as the personal and financial information required to process those transactions. We use a payment gateway to protect financial information we collect online, and we only collect as much information as is necessary or appropriate given the type of interaction. We do not disclose personally identifying information other than as described below. And you can always refuse to supply personally identifying information, with the caveat that it may prevent you from engaging in certain activities.</p>
 <p>If you send us a request, such as emailing us for support, we reserve the right to publish it (absent any personally identifying information) in order to help us clarify or respond to your request or help other users.</p>
 <p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. We use cookies to help us track visitors' use of the site and their preferences. If you do not wish to have cookies placed on your computer, you should set your browser to refuse cookies, but should be aware that certain features of the site may not function properly without them.</p>
 <p>If you are outside the United States, you should know that any personally identifiable information you enter into the site will be transferred out of your country and into the United States, and possibly to other countries. By using the site, you consent to such transfer, and are representing that you have the right to transfer such information outside your country.</p>
 <p>We do not knowingly collect any personally identifiable information from children under the age of 13. If you believe that a child has provided us with personally identifiable information without the consent of his or her parent or guardian, please contact us at admin@<span class="donotreveal">&nbsp;</span>answeredby.com. If we become aware that a child under age 13 has provided us with personally identifiable information, we'll delete it.</p>
 <h2>Information You Choose to Display Publicly on the Site</h2>
 <p>Some users may elect to publicly post personally identifying or sensitive information about themselves in their normal use of the site. This could occur through use of profile fields or in posts or comments. Information like that, which is voluntarily posted in publicly visible parts of the site, is considered to be public, even if it would otherwise be considered to be personally identifying or sensitive. As such, it is not subject to the protocols listed below, because we don't control it; you do. Additionally, voluntarily publicizing such information means that you lose any privacy rights you might normally have with regards to that information. It also increases your chances of receiving unwanted communications, like spam.</p>
 <h2>Information You Give to Other People</h2>
 <p>This Policy only applies to information collected by answer1answer2. It does not apply to the practices of companies that we don't own or control, or employees that we don't manage. The site contains links to third party websites, and any information you provide to those sites will be covered by any privacy policies they may have. Please be sure to read the privacy policies of any third-party sites you visit. It is those sites' responsibility to protect any information you give them, so we can't be held liable for their wrongful use of your personally identifying information.</p>
 <h2>How We Use Information We Collect</h2>
 <p><strong>Notice</strong> – When we collect your personal information, we'll tell you how we're using it, any types of third parties to which we might disclose it, (other than moderators or <strong id="agents">"agents,"</strong> such as vendors or contractors, who are only processing such information for us or at our direction), and the choices we offer you to limit the use of your information.</p>
 <p>Notice will be provided in clear and conspicuous language when you are first asked to provide us with personal information, or as soon as practicable thereafter, and we'll notify you before we use the information for something other than the purpose for which it was originally collected. If anything in this policy seems unclear, please don't hesitate to contact us at admin@<span class="donotreveal">&nbsp;</span>answeredby.com, so we can address your question and possibly clarify this document.</p>
 <p>Although most changes are likely to be minor, we may occasionally need to change this policy. If we do update it, we'll notify you either by posting the new policy on the site or by emailing you the changes or a link to the modified document. (See the "Choice" section below for information about how we'll notify you if we change our policy regarding sensitive information.) In any case, the way we use information you provide will be covered by the privacy policy that was in effect at the time it was collected.</p>
 <p><b>Here are some of the ways we may use personal information you provide us:</b></p>
 <ul>
  <li>To allow you to register for our web site and other services, and to administer and process those registrations.</li>
  <li>To communicate with you about our products, services and related issues.</li>
  <li>To evaluate the quality of our products and services, and to enhance your experience on our web site.</li>
  <li>To maintain and administer our web site and comply with our legal or internal obligations and policies.</li>
  <li>To divansfer information to others as described in this policy or to satisfy our legal, regulatory, compliance, or auditing requirements.</li>
 </ul>
 <p><strong>Choice</strong> – answer1answer2 will never share any of your personal information with non-<a href="#agents">agent</a> third parties unless required to do so by law, or if we believe in good faith that disclosure is reasonably necessary to protect our property, rights or those of third parties or the public at large. It is possible that we may, on occasion, buy or sell assets from or to other companies. If that should occur, user information is typically one of the assets that get transferred. Similarly, if answer1answer2 or most of its assets were acquired, or in the unlikely event that we go out of business or enter bankruptcy, user information could be transferred or acquired. You should be aware that such events can occur, and that if it does, the buyer may continue to use your personal and non-personal information, but only as set forth in this policy. Other than in these rare circumstances, answer1answer2 will not rent or sell potentially personally identifying information to anyone.</p>
 <p>It's hard to imagine that we would ever consider collecting, let alone sharing, sensitive information with a non-<a href="#agents">agent</a> third party, but if such a day should come, we will first give you the opportunity to explicitly consent (opt-in) to such disclosure or to any use of the information for a purpose other than the one for which it was originally collected or previously authorized.</p>
 <p>If you are a registered user of the site and have supplied your email address, we may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what's going on with the site. We generally use the site to communicate this type of information, so we expect to keep this type of communication to a minimum. If we do send you information that you did not expressly request, we will provide you with a way to request that you don't get any similar notices (opt-out).</p>
 <p><strong>Onward Transfer</strong> – Prior to providing <a href="#agents">agents</a> with any personal information, we will obtain assurances that they will safeguard it in accordance with this policy.</p>
 <p>In the unlikely event that we should discover that an <a href="#agents">agent</a> is using personal information in way that conflicts with this policy, we will take all reasonable steps to stop them immediately.</p>
 <p><strong>Security</strong> – All records containing personal or financial information are considered to be our property and are afforded confidential treatment at all times. We work hard to protect against the unauthorized access, use, alteration or destruction of personal or financial information. All such electronic information is stored on restricted database servers, and is generally kept until such time as you may ask us to edit or delete it, as described below. We only disclose such information to our employees, agents or affiliates that a) need to know that information in order to process it for us or to provide other services, and b) have agreed not to disclose it to others.</p>
 <p><strong>Data Integrity</strong> – In addition to assuring you that we will protect your personal information, we also want to make sure that it is reliable, accurate, and up-to-date. In order to do that, we provide:</p>
 <p><strong>Access</strong> – Upon request, we will provide you with reasonable access to the personal information we collect about you. You will have the opportunity to correct, update, modify or delete this information by sending an e-mail to admin@<span class="donotreveal">&nbsp;</span>answeredby.com. Additionally, there may be limits to the amount of information we can practically provide. For example, we may limit an individual's access to personal information where the burden or expense of providing access would be disproportionate to the risks to the individual's privacy or where doing so would violate others' rights.</p>
 <p><strong>Enforcement</strong> – We will conduct internal audits of our compliance with this privacy policy, including an annual self-assessment. Our employees take your privacy as seriously as we do, and we will take all reasonable measures against any employee found to be in violation of this policy.</p>
 <p>If you have any concerns or complaints about how you think we've handled your personal information, please contact admin@<span class="donotreveal">&nbsp;</span>answeredby.com or our Data Protection Officer at the address below. We will work hard to investigate and resolve any complaints you might have.</p>
 <h2>How to Contact Us</h2>
 <p>If you have any questions about this policy or our site in general, please contact us at admin@<span class="donotreveal">&nbsp;</span>answeredby.com.</p>
 <p>Written Inquiries can be sent to:</p>
 <address>
  answer1answer2, LLC<br>
  11117 La Chene Ave.<br>
  Warren, MI 48093<br>
  USA
 </address>
 <h2>Employees' &amp; Prospective Employees' Information</h2>
 <p>This section covers any ways in which personal information we collect from employees or applicants might be treated differently than user information. The following non-comprehensive list are ways that we may use information provided to us by employees or applicants:</p>
 <ul>
  <li>Responding to inquiries in connection with prospective employment at answer1answer2, and processing employment applications.</li>
  <li>Carrying out human resources functions like training, career / succession planning, administering contracts, evaluating employees, and providing benefits.</li>
  <li>Enabling answer1answer2 and its employees to contact each other by telephone fax, e-mail or "snail mail".</li>
  <li>Administering compensation, bonus and other employment needs.</li>
  <li>Arranging employees' travel plans.</li>
  <li>Maintaining building security and employee health and safety.</li>
  <li>Running internal administrative analytics, such as staffing, headcount and statistics initiatives.</li>
  <li>Complying with our legal obligations, policies and procedures.</li>
  <li>Transferring personal information to others as required by our legal, regulatory, compliance and auditing needs.</li>
 </ul>
 <p>* Google Analytics is a registered trademark of Google, Inc.</p>
 <br>
{% endblock %}