{{ userInvitation.createdUser.username }} has invited you to join AnsweredBy. 
Join Us: {{ site_url }}{{ path('InvitationPage', {'md5': userInvitation.invitation.md5}) }} 
Unsubscribe: {{ site_url }}{{ path('InvitationsUnsubscribePage', {'md5': userInvitation.invitation.md5}) }}
