<html>
 <head>
  <style type="text/css">
   html, body {
    font-family: Arial;
   }
   #button {
    background-color: #428bca;
    border-color: #428bca;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size: 14px;
    height: 34px;
    line-height: 20px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
   }
  </style>
 </head>
 <body>
  <div>
   <img src="{{ site_url }}/images/ab_logo_final_small.png" alt="logo" style="max-width:300px;">
  </div>
  <p>Hello!</p>
   <p>Your friend {{ userInvitation.createdUser.username }} has invited you to join <b><span style="color:#428bca;">Answered</span><span style="color:#f69442;">By</span></b>, a new social network where <b><em>you</em></b> control how posts are shared and received.</p>
  <p><a id="button" href="{{ site_url }}{{ path('InvitationPage', {'md5': userInvitation.invitation.md5}) }}">Check us out!</a></p>
  <p><a href="{{ site_url }}{{ path('InvitationsUnsubscribePage', {'md5': userInvitation.invitation.md5}) }}" style="font-size:10px;color:darkgrey;">Unsubscribe from invitations to AnsweredBy</a></p>
 </body>
</html>
