<html>
 <head>
  <style type="text/css">
   html, body {
    font-family: Arial;
   }
   #button {
    background-color: #428bca;
    border-color: #428bca;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size: 14px;
    height: 34px;
    line-height: 20px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
   }
  </style>
 </head>
 <body>
  <div>
   <img src="{{ site_url }}/images/ab_logo_final_small.png" alt="logo" style="max-width:300px;">
  </div>
  <p>Hello!</p>
  <p>{{ notification.getDescription }} <a id="button" href="{{ site_url }}{{ path('PostPage', {'post_id': notification.getTargetPost.id}) }}?notification_id={{ notification.md5 }}">View Post</a></p>
  <p><a href="{{ site_url }}{{ path('EmailSubscriptionsPage', {'md5Type': 'notification', 'md5': notification.md5}) }}" style="font-size:11px;color:darkgrey;">View/update your e-mail notifications</a></p>
 </body>
</html>
