{{ notification.getDescription }}. View Post: {{ site_url }}{{ path('PostPage', {'post_id': notification.getTargetPost.id}) }}?notification_id={{ notification.md5 }}
See your e-mail notifications: {{ site_url }}{{ path('EmailSubscriptionsPage', {'md5Type': 'notification', 'md5': notification.md5}) }}