{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Error - {% endblock %}

{% block body %}
 <h1>:(</h1>
 <h2>There has been an error!</h2>
 <p>If this error persists (fancy word, I know!), please <a href="{{ path('AboutPage') }}#contact">contact us</a>.</p>
{% endblock %}
