{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Search Users - {% endblock %}

{% block body %}
 <div id="all-posts">
  <h1>User Search</h1>
  <div style="padding-top:20px;">
   <form id="form-user-search">
    <input id="input-user-search-text" type="text" class="form-control" placeholder="Enter Display Name" autocomplete="off">
    <input type="submit" class="btn btn-danger">
   </form>
  </div>
  <div id="div-loading-users-progress-container" class="progress progress-striped active" style="display:none;">
   <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
  </div>
  <div id="div-all-users-base"></div>
 </div>
{% endblock %}

{% block javascript %}
 $("#form-user-search").submit( function(event) {
  event.preventDefault();
  $("#div-loading-users-progress-container").show();
  var inputUserSearchText = $("#input-user-search-text").val();
  $.ajax({
   type: "GET",
   url: "{{ path('ApiUserGetManyByPartialUsername') }}/" + inputUserSearchText
  }).done( function(returnedJsonString) {
   $("#div-all-users-base").html("<h2>Usernames similar to: &ldquo;" + inputUserSearchText + "&rdquo;</h2><hr>");
   for( var i=0; i<returnedJsonString.length; i++)
    $("#div-all-users-base").append("<div><img src='" + returnedJsonString[i]['imageUrl'] + "' alt='' height='64' width='64' style='border-radius:50%;margin-right:6px;background-color:#" + returnedJsonString[i]['backgroundHtmlColor'] + ";'><a href='" + returnedJsonString[i]['url'] + "'>" + returnedJsonString[i]['username'] + "</a></div><hr>");
  }).always( function() {
   $("#div-loading-users-progress-container").hide();
  });
 });

 $('#input-user-search-text').typeahead({
  source: function (query, process) {
   return $.get('{{ path('ApiUserAutocomplete') }}', { search_string: query }, function (data) {
    return process(data);
   });
  }
 });

 $(document).ready( function() {
  {% if app.request.query.all.username is defined %}
   var urlGetParameterusername = "{{ app.request.query.all.username }}";
   if( urlGetParameterusername ){
    $("#input-user-search-text").val(urlGetParameterusername);
    $("#form-user-search").submit();
   }
  {% endif %}

  $("#input-user-search-text").focus();
 });
{% endblock %}
