<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="login-modal-label">Log In</h4>
   </div>
   <div class="modal-body">
    <div id="modal-error" class="alert alert-danger" style="display:none;text-align:center;"></div>
    <form id="form-login" action="{{ path('login_check') }}" method="post" class="form-horizontal">
     {{ include('AnsweredbySharedBundle:Partials:login_form.html.twig') }}
    </form>
    <div class="progress progress-striped active" style="display:none;">
     <div id="div-login-progress-bar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%"></div>
    </div>
    <hr>
    <div style="text-align:center;">
     <a href="{{ path('RegisterPage') }}?target_url={{ app.getRequest.getUri }}" class="btn btn-default btn-xs">Register with <b><span class="blue">Answered</span><span class="orange">By</span></b></a>
    </div>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div>