<div style="text-align:center;">
 <table class="table-login">
  <tr>
   <td><label for="username">E-mail Address</label></td>
   <td><input type="text" id="username" name="_username" value="{% if last_username is defined %}{{ last_username }}{% endif %}" class="form-control"></td>
  </tr>
  <tr>
   <td><label for="password">Password</label></td>
   <td><input type="password" id="password" name="_password" class="form-control"></td>
  </tr>
 </table>
 <div class="form-group">
  <input id="input-submit-login" type="submit" name="login" value="Log in" class="btn btn-primary">
 </div>
 <div class="form-group">
  <a href="{{ path('ForgotPage') }}">I forgot something!</a>
 </div>
</div>