{% for registrationError in registrationErrors %}
 <div class="alert alert-danger">{{ registrationError|raw }}</div>
{% endfor %}
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
 {% if form_errors(form) %}
  <div class="alert alert-danger">{{ form_errors(form) }}</div>
 {% endif %}
 <table class="table-login">
  <tr>
   <td>{{ form_label(form.email) }}</td>
   <td>
    {% if form_errors(form.email) %}
     <div class="alert alert-danger">{{ form_errors(form.email) }}</div>
    {% endif %}
    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
   </td>
  </tr>
  <tr>
   <td>{{ form_label(form.username) }}</td>
   <td>
    {% if form_errors(form.username) %}
     <div class="alert alert-danger">{{ form_errors(form.username) }}</div>
    {% endif %}
    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
   </td>
  </tr>
  <tr>
   <td>{{ form_label(form.password) }}</td>
   <td>
    {% if form_errors(form.password) %}
     <div class="alert alert-danger">{{ form_errors(form.password) }}</div>
    {% endif %}
    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
   </td>
  </tr>
  <tr>
   <td>{{ form_label(form.birthday) }}</td>
   <td>
    {% if form_errors(form.birthday) %}
     <div class="alert alert-danger">{{ form_errors(form.birthday) }}</div>
    {% endif %}
    {{ form_widget(form.birthday, {'attr': {'class': 'div-form-select'}}) }}
    <small id="small-why-birthday" style="color:darkgrey;cursor:pointer;" data-toggle="popover" title="Why provide my birthday?" data-placement="left" data-content="Your birthday is required to help us comply with the United States' Children's Online Privacy Protection Act, which restricts information collection for children under 13 years of age. It also helps us learn our users' demographics. Your birthday will not be publicly accessible on <b><span class='blue'>Answered</span><span class='orange'>By</b>. Read more in our <a href='{{ path('TermsPage') }}'>Terms</a>.">...but why?</small>
   </td>
  </tr>
 </table>
 <div>
  {{ form_label(form.recaptcha) }}
 </div>
 <div>
  {% if form_errors(form.recaptcha) %}
   <div class="alert alert-danger">{{ form_errors(form.recaptcha) }}</div>
  {% endif %}
  {% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}
  {{ form_widget(form.recaptcha, { 'attr': {'options' : {'theme' : 'clean'} } }) }}
 </div>
 <div class="form-group" style="margin-top:12px;">
  <input type="submit" value="Register" class="btn btn-primary">
 </div>
{{ form_end(form) }}