$("#button-register-maximize-minimize").click( function(){
 if($("#div-login").is(":visible")) {
  $("#div-login").slideUp(400, function(){
   $("#form_email").focus();
  });
    $("#div-registration-form-filler").slideDown();
  $("#button-register-maximize-minimize").html("+");
 } else {
  $("#div-login").slideDown(400, function(){
   $("#username").focus();
  });
    $("#div-registration-form-filler").slideUp();
  $("#button-register-maximize-minimize").html("-");
 }
});

{{ include('AnsweredbySharedBundle:Partials:register_form.js.twig') }}
