{% if app.user %}
 <div class="alert alert-danger">You're currently logged in as {{ macros.UserPageAnchor(app.user) }}.<br>Continuing will register a new user.</div>
{% endif %}

{{ include('AnsweredbySharedBundle:Partials:register_form.html.twig') }}

{% if not app.user %}
 <hr>
 ...or Log In <button id="button-register-maximize-minimize" type="button" class="btn btn-primary btn-xs">+</button>
 <div id="div-login" style="{% if not registrationErrors and not form_errors(form) and not form_errors(form.username) and not form_errors(form.password) and not form_errors(form.email) and not form_errors(form.recaptcha) %}display:none;{% endif %}text-align:center;padding-top:20px 0 20px 0;">
  <div style="padding-bottom:20px;"></div>
  <div id="login" style="text-align:left;padding-top:20px;">
   {% if error %}
    <div class="alert alert-danger" style="text-align:center;">{{ error.message }}. Did you <a href="{{ path('ForgotPage') }}">forget something</a>?</div>
   {% endif %}
   <form action="{{ path('login_check') }}" method="post" class="form-horizontal">
    <input type="hidden" name="_target_path" value="{{ target_url }}#{{ target_fragment }}">
    {{ include('AnsweredbySharedBundle:Partials:login_form.html.twig') }}
   </form>
  </div>
 </div>
{% endif %}
