{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Relationship Approve/Ignore - {% endblock %}

{% block body %}
 <h2 style="text-align:center;">
  Relationship {{ actionType }}d!
 </h2>
{% endblock %}
