{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Relationship Not Found - {% endblock %}

{% block body %}
 <h1>:(</h1>
 <h2>Relationship not found!</h2>
 <p>It looks like the Relationship's creator removed their request...</p>
{% endblock %}
