{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block extra_header %}
 <style type="text/css">
  .header-logo-div
  {
   display:none;
  }
  .navbar
  {
   margin-bottom: 0;
  }
  .navbar-default
  {
   background-color: white;
   border-color: white;
  }
 </style>
{% endblock %}

{% block body %}
 <div style="min-height:calc(100vh - 91px);">
  {% if app.request.get('delete') %}
   <div class="alert alert-danger" style="text-align:center;">Account Deleted</div>
  {% endif %}
  {% if invitation is defined %}
   {% if invitation.userInvitations|length > 1 %}
    <div style="text-align:center;">These users have invited you</div>
    <div style="display:table;margin: 0px auto;">
     {% for userInvitation in invitation.userInvitations %}
      <div style="display:table-row;">
       <div style="display:table-cell;">
        {{ macros.UserProfilePic(userInvitation.createdUser) }}
       </div>
       <div style="display:table-cell;">
        {{ macros.UserPageAnchor(userInvitation.createdUser) }}
       </div>
      </div>
     {% endfor %}
    </div>
    <div style="text-align:center;">
     to
    </div>
   {% elseif invitation.userInvitations|length > 0 %}
    <div style="display:table;margin: 0px auto;">
     <div style="display:table-row;">
      <div style="display:table-cell;">
       {{ macros.UserProfilePic(invitation.userInvitations.0.createdUser) }}
      </div>
      <div style="display:table-cell;">
       {{ macros.UserPageAnchor(invitation.userInvitations.0.createdUser) }} has invited you to
      </div>
     </div>
    </div>
   {% else %}
    <div style="text-align:center;">You've been invited to</div>
   {% endif %}
  {% endif %}
  <div style="display:table;margin-left:auto;margin-right:auto;">
   <img src="{{ asset('images/ab_logo_final_full.png') }}" alt="logo" style="width:100px;margin-bottom:12px;">
   <h1 style="display:inline-block;"><span class="blue">Answered</span><span class="orange">By</span></h1></td>
   Beta
  </div>
  <div class="row">
   <div class="col-sm-6">
    <div style="text-align:center;padding-top:50px;">
     <img src="{{ asset('images/description-full.png') }}" alt="description" style="width:235px;margin-bottom:12px;">
    </div>
    <div style="text-align:center;">
     <div class="blue" style="margin:12px;font-size:18px;font-weight:bold;">A social network.</div>
     <div class="orange" style="margin:12px;font-size:18px;font-weight:bold;">Where <em>you</em> control how posts are shared and received.</div>
    </div>
   </div>
   <div class="col-sm-6" style="text-align:center;">
    <div id="div-registration-form-filler" class="hidden-xs" style="{% if not registrationErrors and not form_errors(form) and not form_errors(form.username) and not form_errors(form.password) and not form_errors(form.email) and not form_errors(form.recaptcha) %}height:125px;{% endif %}"></div>
    <button id="button-register-form-show" class="btn btn-primary btn-lg" style="{% if not registrationErrors and not form_errors(form) and not form_errors(form.username) and not form_errors(form.password) and not form_errors(form.email) and not form_errors(form.recaptcha) %}margin-top:12px;{% else %}display:none;{% endif %}">Register Now!</button>
    <div id="div-register-form" style="{% if not registrationErrors and not form_errors(form) and not form_errors(form.username) and not form_errors(form.password) and not form_errors(form.email) and not form_errors(form.recaptcha) %}display:none;{% endif %}">
     {{ include('AnsweredbySharedBundle:Partials:register_form.html.twig') }}
    </div>
    <div style="margin-top:48px;">
     ...or Log In <button id="button-register-maximize-minimize" type="button" class="btn btn-primary btn-xs">+</button>
     <div id="div-login" style="display:none;text-align:center;padding-top:20px 0 20px 0;">
      <div style="padding-bottom:20px;"></div>
      <div id="login" style="text-align:left;padding-top:20px;">
       {% if error %}
        <div class="alert alert-danger" style="text-align:center;">{{ error.message }}. Did you <a href="{{ path('ForgotPage') }}">forget something</a>?</div>
       {% endif %}
       <form action="{{ path('login_check') }}" method="post" class="form-horizontal">
        <input type="hidden" name="_target_path" value="{{ target_url }}#{{ target_fragment }}">
        {{ include('AnsweredbySharedBundle:Partials:login_form.html.twig') }}
       </form>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div style="text-align:center;margin-bottom:20px;">
  <span id="span-find-out-more" style="cursor:pointer;color:darkgrey;">Learn more <span class="glyphicon glyphicon-chevron-down"></span></span>
 </div>
 <hr>
 <div id="div-top-promotion-item" class="row">
  <div class="col-sm-6" style="padding-top:20px;padding-bottom:20px;">
   <p><b>Publish Posts to Those Interested</b></p>
   <p>Why make a social network post that only some of your contacts would be interested in? Instead, publish to your own list of networks, such a friends, co-workers, family, sports fans, political nerds, or any group you can think of.</p>
  </div>
  <div class="hidden-xs col-sm-6">
   <img src="{{ asset('images/description-send.png') }}" class="img-responsive" alt="">
  </div>
 </div>
 <hr>
 <div class="row">
  <div class="hidden-xs col-sm-6">
   <img src="{{ asset('images/description-receive.png') }}" class="img-responsive" alt="">
  </div>
  <div class="col-sm-6" style="padding-top:20px;padding-bottom:20px;">
   <p><b>Receive Posts You're Interested In</b></p>
   <p>Network membership is approved by both parties, so you control the posts you receive from others. Tired of receiving a friend's political posts but want to continue receiving family updates? Unsubscribe from one network and keep the other.</p>
  </div>
 </div>
 <hr>
 <div class="row">
  <div class="col-sm-6" style="padding-top:20px;padding-bottom:20px;">
   <p><b>Receive Posts on Time</b></p>
   <p>Unlike other social networks, posts appear on your sharefeed the second they're posted.</p>
  </div>
  <div class="hidden-xs col-sm-6">
   <img src="{{ asset('images/receive-posts-on-time.png') }}" class="img-responsive" alt="">
  </div>
 </div>
 <hr>
 <div class="row">
  <div class="hidden-xs col-sm-6">
   <img src="{{ asset('images/no-algorithms.png') }}" class="img-responsive" alt="">
  </div>
  <div class="col-sm-6" style="padding-top:20px;padding-bottom:20px;">
   <p><b>No Secret Algorithms</b></p>
   <p>Find your friends, join their networks, and receive <em>all</em> the relevant posts the moment they're posted &mdash; what appears on your sharefeed is determined by you, not an algorithm.</p>
  </div>
 </div>
{% endblock %}

{% block javascript %}
 $("#span-find-out-more").click( function() {
  $('html, body').animate({scrollTop: $("#div-top-promotion-item").offset().top});
 });

 $("#button-register-form-show").click( function() {
  $("#div-register-form").slideDown(400, function(){$("#form_email").focus();});
  $("#div-registration-form-filler").slideUp();
  $("#button-register-form-show").hide();
 });
 {{ include('AnsweredbySharedBundle:Partials:register_form_with_login_form_minimized.js.twig') }}
{% endblock %}
