{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block body %}
 <h2 style='margin-top:0;'>Your Sharefeed</h2>
 <div style='margin-bottom:20px;color:darkgrey;'>All the Posts shared with you either individually or through the Networks you follow:</div>
 <div id="all-posts">
  <div id="div-new-post-button-container" style="text-align:right;">
   New Post <button class="btn btn-danger button-new-post btn-xs" data-type="" data-id="">+</button>
  </div>
  <div id="div-all-posts-base"></div>
  <div class="progress progress-striped active">
   <div id="div-loading-posts-progress-bar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%"></div>
  </div>
 </div>
 {{ include('AnsweredbySharedBundle:Partials:login_modal.html.twig') }}
{% endblock %}

{% block javascript %}
 {{ include('AnsweredbySharedBundle:Partials:progressBar.js.twig') }}
 {{ macros.newPostJs(path('ApiPostHomepageGet')) }}
{% endblock %}
