{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Notifications - {% endblock %}

{% block body %}
 <h1>Notifications</h1>
 {% set usersNotifications = twigGlobalsHelper.getUsersNotifications %}
 {% if usersNotifications|length > 0 %}
  {% for notification in usersNotifications %}
   <hr>
   {{ macros.notificationAnchor(notification, 'notification') }}
  {% endfor %}
 {% else %}
  <h4>No notifications yet!</h4>
 {% endif %}
{% endblock %}