{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Account - {% endblock %}

{% block body %}
 <h1>Account Settings</h1>
 <div class="form-horizontal">
  <div class="form-group">
   <label class="col-sm-2 control-label">Display Name</label>
   <div class="col-sm-10">
    {{ app.user.username }}
   </div>
  </div>
  <div class="form-group">
   <label class="col-sm-2 control-label">Password</label>
   <div class="col-sm-10">
    &bull;&bull;&bull;&bull;&bull;&bull;
    <a href="{{ path('ResetPage') }}" class="btn btn-danger">Reset</a>
   </div>
  </div>
  <div class="form-group">
   <label class="col-sm-2 control-label">E-mail Address</label>
   <div class="col-sm-10">
    <div id="alert-email" style="display:none;"></div>
    <span id="span-email">{{ app.user.email }}</span>
    <input id="input-email" type="text" style="border:none;display:none;" maxlength="140" value="{{ app.user.email }}">
    <button id="cancel-email" class="btn btn-default" style="display:none;">Cancel</button>
    <button id="button-email" class="btn btn-danger">Change</button>
   </div>
  </div>
  <div class="form-group">
   <label class="col-sm-2 control-label">Privacy</label>
   <div class="col-sm-10">
    <div><small style="color:darkgrey;">Allow my profile to be visible to and searchable by:</small></div>
    <select id="select-privacy" class="show-tick" data-style="btn-primary" data-width="auto" style="display:none;">
     <option value="3"{% if app.user.privacySetting == 3%} selected{% endif %}>Everyone</option>
     <option value="2"{% if app.user.privacySetting == 2%} selected{% endif %}>My Networks' Networks</option>
     <option value="1"{% if app.user.privacySetting == 1%} selected{% endif %}>My Networks</option>
     <option value="0"{% if app.user.privacySetting == 0%} selected{% endif %}>Noone</option>
    </select>
    <div id="div-alert-noone-option" class="alert alert-warning" style="{% if app.user.privacySetting != 0%}display:none;{% endif %}text-align:center;">Notice: Selecting &ldquo;Noone&rdquo; as your privacy option prevents everyone &mdash; including your networks &mdash; from viewing your profile.</div>
   </div>
  </div>
  <div class="form-group">
   <label class="col-sm-2 control-label">E-mail <small>Notifications</small></label>
   <div class="col-sm-10">
    <table class="table">
     <tr>
      <th>Relationship Requests</th>
      <td><button class="btn btn-default span-notification-setting{% if app.user.isEmailNotificationRelationshipRequestsSet %} span-notification-setting-selected{% endif %}" data-notification-type="relationship_requests"><span class="glyphicon glyphicon-ok"></span></button></td>
     </tr><tr>
      <th>Upvotes</th>
      <td><button class="btn btn-default span-notification-setting{% if app.user.isEmailNotificationUpvotesSet %} span-notification-setting-selected{% endif %}" data-notification-type="upvotes"><span class="glyphicon glyphicon-ok"></span></button></td>
     </tr><tr>
      <th>Shares</th>
      <td><button class="btn btn-default span-notification-setting{% if app.user.isEmailNotificationSharesSet %} span-notification-setting-selected{% endif %}" data-notification-type="shares"><span class="glyphicon glyphicon-ok"></span></button></td>
     </tr><tr>
      <th>Subposts</th>
      <td><button class="btn btn-default span-notification-setting{% if app.user.isEmailNotificationSubpostsSet %} span-notification-setting-selected{% endif %}" data-notification-type="subposts"><span class="glyphicon glyphicon-ok"></span></button></td>
     </tr>
    </table>
   </div>
  </div>
  <div class="form-group">
   <label class="col-sm-2 control-label">Profile Pic</label>
   <div class="col-sm-10">
    <div>
     <img id="img-profilePic" src="{{ app.user.profilePicUrl }}" alt="" height="64" width="64" style="border-radius:50%;background-color:#{{ app.user.backgroundHtmlColor }};margin-right:6px;">
    </div>
    <div id="div-account-page-uploader-container"></div>
   </div>
  </div>
  <div class="form-group">
   <div class="col-sm-10 col-sm-offset-2">
    <button id="button-delete-account" class="btn btn-danger">Delete Account</button>
   </div>
  </div>
 </div>
{% endblock %}

{% block javascript %}
 $(document).ready( function() {
  $("#new-form-photo-uploader").attr("data-limit-to-one", "true")
                               .appendTo($("#div-account-page-uploader-container"));
 });

 $("#button-delete-account").click( function() {
  $("#blank-modal-title").html("Delete Account?");
  $("#blank-modal-body").html(
  "<div style='text-align:center;'>" +
   "<p>Are you sure you want to delete your account?</p>" +
   "<div class='well'>To disable your account and hide your profile from everyone &mdash; including your networks &mdash; you can change your privacy visibility to &ldquo;Noone&rdquo;.</div>" +
   "<p>If you want to <b><em>permanently</em></b> delete your AnsweredBy account, click here:</p>" +
   "<a href='{{ path('AccountPage') }}?delete=1&confirm_code={{ app.user.md5 }}' class='btn btn-danger'>Confirm Delete Account</a>" +
  "</div>");
  $("#blank-modal").modal("show");
 });

 function spanToInput() {
  $("#span-email").hide();
  $("#input-email").show();
  $("#input-email").focus();
  $("#cancel-email").show();
  $("#button-email").html("Update");
 }

 function inputToSpan() {
  var oldEmail = $("#span-email").html();
  var newEmail = $("#input-email").val();
  if( oldEmail !== newEmail ){
   $.ajax({
    type: "POST",
    url: "{{ path('ApiUserPostEmail') }}",
    data: {
     email: newEmail
    }
   }).done( function(returnedJsonString) {
    if( returnedJsonString.hasOwnProperty('success') && returnedJsonString['success'] == 0 && returnedJsonString.hasOwnProperty('invalid_email') && returnedJsonString['invalid_email'] == 1 ){
     $("#alert-email")
      .html("Invalid email format...")
      .attr("class","alert alert-danger")
      .show();
    } else if( returnedJsonString.hasOwnProperty('success') && returnedJsonString['success'] == 0 && returnedJsonString.hasOwnProperty('duplicate_email') && returnedJsonString['duplicate_email'] == 1 ){
     $("#alert-email")
      .html("E-mail address belongs to a different account...")
      .attr("class","alert alert-danger")
      .show();
    } else if( returnedJsonString.hasOwnProperty('success') && returnedJsonString['success'] == 1 ){
     $("#alert-email")
      .html("Email save succeeded!")
      .attr("class","alert alert-success");
    } else {
     $("#input-email").val(oldEmail);
     $("#span-email").html(oldEmail);
     $("#alert-email")
      .html("Email failed to save...")
      .attr("class","alert alert-danger")
      .show();
    }
   }).fail( function() {
    $("#input-email").val(oldEmail);
    $("#span-email").html(oldEmail);
    $("#alert-email")
     .html("Email failed to save...")
     .attr("class","alert alert-danger")
     .show();
   });
  }

  $("#span-email").html(newEmail);
  $("#span-email").show();
  $("#input-email").hide();
  $("#cancel-email").hide();
  $("#button-email").html("Change");
 }

 $("#span-email").on("click", function() {
  spanToInput();
 });

 $("#button-email").on("click", function() {
 if( $("#cancel-email").is(":visible") ){
   inputToSpan();
  } else {
   spanToInput();
  }
 });

 $("#input-email").keypress( function(e) {
  if(e.which == 13)
   inputToSpan();
 });

 $("#cancel-email").on("click", function() {
  $("#input-email").val($("#span-email").html());
  $("#span-email").show();
  $("#input-email").hide();
  $("#cancel-email").hide();
  $("#button-email").html("Change");
 });

 $(".span-notification-setting").click( function() {
  if( $(this).hasClass("span-notification-setting-selected") ){
   $(this).removeClass("span-notification-setting-selected");
  } else {
   $(this).addClass("span-notification-setting-selected");
  }

  var data = {};
  data[$(this).attr("data-notification-type")] = $(this).hasClass("span-notification-setting-selected") ? 1 : 0;
  $.ajax({
   type: "POST",
   url: "{{ path('ApiUserPostEmailNotificationSetting') }}",
   data: data
  });
 });
{% endblock %}
