{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Terms - {% endblock %}

{% block description %}Please read these terms of service carefully before using the Site or any services provided on the Site.{% endblock %}

{% block body %}
 <h1>answeredby.com Terms of Service</h1>
 <div>
  <div>
   <h3>Accepting the Terms of Service</h3>
   <p>The answeredby.com Site (the &ldquo;Site&rdquo;) is an Internet site and other applications for posting information and is owned and operated by answer1answer2, LLC (&ldquo;answer1answer2&rdquo;), a Michigan corporation. Please read these terms of service (&ldquo;Agreement&rdquo;) carefully before using the Site or any services provided on the Site (collectively, &ldquo;Services&rdquo;). By using or accessing the Services, you agree to become bound by all the terms and conditions of this Agreement. If you do not agree to all the terms and conditions of this Agreement, do not use the Services. The Services are accessed by You (&ldquo;Subscriber&rdquo; or &ldquo;You&rdquo;) under the following terms and conditions:</p>
   <h3>1. Access to the Services</h3>
   <p>Subject to the terms and conditions of this Agreement, answer1answer2 may offer to provide the Services, as described more fully on the Site, and which are selected by Subscriber, solely for Subscriber&rsquo;s own use, and not for the use or benefit of any third party. Services shall include, but not be limited to, any services answer1answer2 performs for Subscriber, as well as the offering of any Content (as defined below) on the Site. answer1answer2 may change, suspend or discontinue the Services at any time, including the availability of any feature, database, or Content. answer1answer2 may also impose limits on certain features and services or restrict Subscriber&rsquo;s access to parts or all of the Services without notice or liability. answer1answer2 reserves the right, at its discretion, to modify these Terms of Service at any time by posting revised Terms of Service on the Site and by providing notice via e-mail, where possible, or on the Site. Subscriber shall be responsible for reviewing and becoming familiar with any such modifications. Use of the Services by Subscriber following such modification constitutes Subscriber's acceptance of the terms and conditions of this Agreement as modified.</p>
   <p>Subscriber certifies to answer1answer2 that Subscriber is an individual (i.e., not a corporate entity) at least 13 years of age. No one under the age of 13 may provide any personal information to or on answer1answer2 (including, for example, a name, address, telephone number or email address). Subscriber also certifies that they are legally permitted to use the Services and access the Site, and takes full responsibility for the selection and use of the Services and access of the Site. This Agreement is void where prohibited by law, and the right to access the Site is revoked in such jurisdictions. answer1answer2 makes no claim that the Site may be lawfully viewed or that Content may be downloaded outside of the United States. Access to the Content may not be legal by certain persons or in certain countries. If You access the Site from outside the United States, You do so at Your own risk and You are responsible for compliance with the laws of Your jurisdiction.</p>
   <p>answer1answer2 will use reasonable efforts to ensure that the Site and Services are available twenty-four hours a day, seven days a week. However, there will be occasions when the Site and/or Services will be interrupted for maintenance, upgrades and repairs or due to failure of telecommunications links and equipment. Every reasonable step will be taken by answer1answer2 to minimize such disruption where it is within answer1answer2&rsquo;s reasonable control.</p>
   <p>You agree that neither answer1answer2 nor the Site will be liable in any event to You or any other party for any suspension, modification, discontinuance or lack of availability of the Site, the service, any Subscriber Content, or other Content.</p>
   <p>answer1answer2 retains the right to create limits on use and storage in its sole discretion at any time with or without notice.</p>
   <p>Subscriber shall be responsible for obtaining and maintaining any equipment or ancillary services needed to connect to, access the Site or otherwise use the Services, including, without limitation, modems, hardware, software, and long distance or local telephone service. Subscriber shall be responsible for ensuring that such equipment or ancillary services are compatible with the Services.</p>
   <h3>2. Site Content</h3>
   <p>The Site and its contents are intended solely for the use of the Site Subscribers and may only be used in accordance with the terms of this Agreement. All materials displayed or performed on the Site, including, but not limited to text, graphics, logos, tools, photographs, images, illustrations, software or source code, audio and video, and animations (collectively, &ldquo;Content&rdquo;) (other than Content posted by Subscriber (&ldquo;Subscriber Content&rdquo;)) are the property of answer1answer2 and/or third parties and are protected by United States and international copyright laws.</p>
   <p>All trademarks, service marks, and trade names are proprietary to answer1answer2 and/or third parties. Subscriber shall abide by all copyright notices, information, and restrictions contained in any Content accessed through the Services.</p>
   <p>The Site is protected by copyright as a collective work and/or compilation, pursuant to U.S. copyright laws, international conventions, and other copyright laws. Other than as expressly set forth in this Agreement, Subscriber may not copy, modify, publish, transmit, upload, participate in the transfer or sale of, reproduce (except as provided in this Section), create derivative works based on, distribute, perform, display, or in any way exploit, any of the Content, software, materials, or Services in whole or in part.</p>
   <p>Subscriber may download or copy the Content, and other items displayed on the Site for download, for personal use, provided that Subscriber maintains all copyright and other notices contained in such Content.</p>
   <p>Any other downloading, copying, or storing any Content for other than personal, noncommercial use is expressly prohibited without prior written permission from answer1answer2, or from the copyright holder identified in such Content's copyright notice. In the event You download software from the Site, the software, including any files, images incorporated in or generated by the software, and the data accompanying the software (collectively, the &ldquo;Software&rdquo;) is licensed to You by answer1answer2 or third party licensors for Your personal, noncommercial use, and no title to the Software shall be transferred to You. answer1answer2 or third party licensors retain full and complete title to the Software and all intellectual property rights therein.</p>
   <h3>3. Subscriber Content</h3>
   <p>You agree that all Subscriber Content that You contribute to the Site is perpetually and irrevocably licensed to answer1answer2 under the <a href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution Share Alike</a> license. You grant answer1answer2 the perpetual and irrevocable right and license to use, copy, cache, publish, display, distribute, modify, create derivative works and store such Subscriber Content and to allow others to do so in any medium now known or hereinafter developed (&ldquo;Content License&rdquo;) in order to provide the Services, even if such Subscriber Content has been contributed and subsequently removed by You. Subscriber warrants, represents and agrees Subscriber has the right to grant answer1answer2 and the Site the rights set forth above. Subscriber represents, warrants and agrees that it will not contribute any Subscriber Content that (a) infringes, violates or otherwise interferes with any copyright or trademark of another party, (b) reveals any trade secret, unless Subscriber owns the trade secret or has the owner&rsquo;s permission to post it, (c) infringes any intellectual property right of another or the privacy or publicity rights of another, (d) is libelous, defamatory, abusive, threatening, harassing, hateful, offensive or otherwise violates any law or right of any third party, (e) contains a virus, trojan horse, worm, time bomb or other computer programming routine or engine that is intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or information, or (f) remains posted after Subscriber has been notified that such Subscriber Content violates any of sections (a) to (e) of this sentence. answer1answer2 reserves the right to remove any Subscriber Content from the Site, re-post to the Site any Subscriber Content removed by any Subscriber or former Subscriber, suspend or terminate Subscriber&rsquo;s right to use the Services at any time, or pursue any other remedy or relief available to answer1answer2 and/or the Site under equity or law, for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to such Subscriber Content or if answer1answer2 is concerned that Subscriber may have breached the immediately preceding sentence), or for no reason at all.</p>
   <p>In the event that You post or otherwise use Subscriber Content outside of the Site or Services, with the exception of content entirely created by You, You agree that You will follow the attribution rules of the Creative Commons Attribution Share Alike license as follows:</p>
   <ol>
    <li>You will ensure that any such use of Subscriber Content visually displays or otherwise indicates the source of the Subscriber Content as coming from the answer1answer2 Site. This requirement is satisfied with a discreet text blurb, or some other unobtrusive but clear visual indication.</li>
    <li>You will ensure that any such Internet use of Subscriber Content includes a hyperlink directly to the original question on the source site on the Site</li>
    <li>You will ensure that any such use of Subscriber Content visually display or otherwise clearly indicate the author names for every question and answer so used.</li>
    <li>You will ensure that any such Internet use of Subscriber Content Hyperlink each author name directly back to his or her user profile page on the source site on the Site (e.g., http://answeredby.com/users/456/sampleuser), directly to the answer1answer2 domain, in standard HTML (i.e. not through a Tinyurl or other such indirect hyperlink, form of obfuscation or redirection), without any "nofollow" command or any other such means of avoiding detection by search engines, and visible even with JavaScript disabled.</li>
   </ol>
   <h3>4. Restrictions</h3>
   <p>Subscriber is responsible for all of its activity in connection with the Services and accessing the Site. Any fraudulent, abusive, or otherwise illegal activity or any use of the Services or Content in violation of this Agreement may be grounds for termination of Subscriber&rsquo;s right to Services or to access the Site. Subscriber may not post or transmit, or cause to be posted or transmitted, any communication or solicitation designed or intended to obtain password, account, or private information from any Site or Service user.</p>
   <p>Use of the Site or Services to violate the security of any computer network, crack passwords or security encryption codes, transfer or store illegal material including that are deemed threatening or obscene, or engage in any kind of illegal activity is expressly prohibited. Under no circumstances will Subscriber use the Site or the Service to (a) send unsolicited e-mails, bulk mail, spam or other materials to users of the Site or any other individual, (b) harass, threaten, stalk or abuse any person or party, including other users of the Site, (c) create a false identity or to impersonate another person, or (d) knowingly post any false, inaccurate or incomplete material.</p>
   <h3>5. Warranty disclaimer</h3>
   <p>answer1answer2 has no special relationship with or fiduciary duty to Subscriber. Subscriber acknowledges that answer1answer2 has no control over, and no duty to take any action regarding: which users gains access to the Site; which Content Subscriber accesses via the Site; what effects the Content may have on Subscriber; how Subscriber may interpret or use the Content; or what actions Subscriber may take as a result of having been exposed to the Content. Much of the Content of the Site is provided by and is the responsibility of the user or subscriber who posted the Content. answer1answer2 does not monitor the Content of the Site and takes no responsibility for such Content. Subscriber releases answer1answer2 from all liability for Subscriber having acquired or not acquired Content through the Site. The Site may contain, or direct Subscriber to sites containing, information that some people may find offensive or inappropriate. answer1answer2 makes no representations concerning any content contained in or accessed through the Site, and answer1answer2 will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Site.</p>
   <p>Although answer1answer2 and the Site will make reasonable efforts to store and preserve the material residing on the Site, neither answer1answer2 nor the Site is responsible or liable in any way for the failure to store, preserve or access Subscriber Content or other materials you transmit or archive on the Site. You are strongly urged to take measures to preserve copies of any data, material, content or information you post or upload on the Site.</p>
   <p>The Services, Content, Site and any Software are provided on an "as is" basis, without warranties of any kind, either express or implied, including, without limitation, implied warranties of merchantability, fitness for a particular purpose or non-infringement. answer1answer2 makes no representations or warranties of any kind with respect to the Site, the Services, including any representation or warranty that the use of the Site or Services will (a) be timely, uninterrupted or error-free or operate in combination with any other hardware, software, system or data, (b) meet your requirements or expectations, (c) be free from errors or that defects will be corrected, (d) be free of viruses or other harmful components.</p>
   <p>To the fullest extent allowed by law, answer1answer2 disclaims any liability or responsibility for the accuracy, reliability, availability, completeness, legality or operability of the material or services provided on this Site. By using this Site, you acknowledge that answer1answer2 is not responsible or liable for any harm resulting from (1) use of the Site; (2) downloading information contained on the Site including but not limited to downloads of content posted by subscribers; (3) unauthorized disclosure of images, information or data that results from the upload, download or storage of content posted by subscribers; (4) the temporary or permanent inability to access or retrieve any Subscriber Content from the Site, including, without limitation, harm caused by viruses, worms, trojan horses, or any similar contamination or destructive program.</p>
   <p>Some states do not allow limitations on how long an implied warranty lasts, so the above limitations may not apply to Subscriber.</p>
   <h3>6. Third party websites</h3>
   <p>Users of the Site may gain access from the Site to third party sites on the Internet through hypertext or other computer links on the Site. Third party sites are not within the supervision or control of answer1answer2 or the Site. Unless explicitly otherwise provided, neither answer1answer2 nor the Site make any representation or warranty whatsoever about any third party site that is linked to the Site, or endorse the products or services offered on such site. answer1answer2 and the Site disclaim: (a) all responsibility and liability for content on third party websites and (b) any representations or warranties as to the security of any information (including, without limitation, credit card and other personal information) You might be requested to give any third party, and You hereby irrevocably waive any claim against the Site or answer1answer2 with respect to such sites and third party content.</p>
   <h3>7. Registration and security</h3>
   <p>As a condition to using Services, Subscriber may be required to register with answer1answer2 and select a password and profile name. Subscriber shall provide answer1answer2 with accurate, complete, and updated registration information, including Subscriber&rsquo;s e-mail address. Failure to do so shall constitute a breach of this Agreement, which may result in immediate termination of Subscriber's account. Subscriber may not (a) select or use as a profile name a name of another person with the intent to impersonate that person; or (b) use as a profile name a name subject to any rights of a person other than Subscriber without appropriate authorization. answer1answer2 reserves the right to refuse registration of, or cancel a profile name in its discretion. Subscriber shall be responsible for maintaining the confidentiality of Subscriber's  password. Subscriber is solely responsible for any use of or action taken under Subscriber&rsquo;s password and accepts full responsibility for all activity conducted through Subscriber&rsquo;s account and agrees to and hereby releases the Site and answer1answer2 from any and all liability concerning such activity. Subscriber agrees to notify answer1answer2 immediately of any actual or suspected loss, theft, or unauthorized use of Subscriber&rsquo;s account or password. The Site will take reasonable security precautions when using the internet, telephone or other means to transport data or other communications, but expressly disclaims any and all liability for the accessing of any such data communications by unauthorized persons or entities.</p>
   <h3>8. Indemnity</h3>
   <p>Subscriber will indemnify and hold answer1answer2, its directors, officers and employees, harmless, including costs and attorneys' fees, from any claim or demand made by any third party due to or arising out of Subscriber&rsquo;s access to the Site, use of the Services, the violation of this Agreement by Subscriber, or the infringement by Subscriber, or any third party using the Subscriber's account, of any intellectual property or other right of any person or entity.</p>
   <h3>9. Limitation of liability</h3>
   <p>In no event shall answer1answer2, its directors, officers, shareholders, employees or members be liable with respect to the Site or the Services for (a) any indirect, incidental, punitive, or consequential damages of any kind whatsoever; (b) damages for loss of use, profits, data, images, Subscriber Content or other intangibles; (c) damages for unauthorized use, non-performance of the Site, errors or omissions; or (d) damages related to downloading or posting Content. answer1answer2's and the Site's collective liability under this agreement shall be limited to three hundred United States Dollars. Some states do not allow the exclusion or limitation of incidental or consequential damages, so the above limitations and exclusions may not apply to Subscriber.</p>
   <h3>10. Fees and payment</h3>
   <p>Some of the Services require payment of fees. All fees are stated in U.S. dollars. Subscriber shall pay all applicable fees, as described on the Site in connection with such Services selected by Subscriber, and any related taxes or additional charges. All fees are non-refundable unless expressly stated otherwise on the Site. Subscriber represents to answer1answer2 that Subscriber is the authorized account holder or an authorized user of the chosen method of payment used to pay for the paid aspects of the Services. All fee-based Services and virtual goods are provided &ldquo;AS IS&rdquo; with no warranties of any kind. answer1answer2 may modify and/or eliminate such fee-based Services at its discretion. Subscriber understands and agrees that the payment for virtual goods grants Subscriber a limited license to use the virtual goods as specified on the Site.</p>
   <p>answer1answer2 may change its prices at any time but will provide you reasonable notice of any such changes by posting the new prices on the Site and by sending you email notification. If you do not wish to pay the new prices, you may cancel the services prior to the change going into effect.</p>
   <h3>11. Termination</h3>
   <p>Either party may terminate the Services at any time by notifying the other party by any means. answer1answer2 may also terminate or suspend any and all Services and access to the Site immediately, without prior notice or liability, if Subscriber breaches any of the terms or conditions of this Agreement. Upon termination of Subscriber's account, Subscriber&rsquo;s right to use the Services, access the Site, and any Content will immediately cease. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, and limitations of liability. Termination of Your access to and use of the Site and the Services shall not relieve Subscriber of any obligations arising or accruing prior to such termination or limit any liability which Subscriber otherwise may have to answer1answer2 or the Site, including without limitation any indemnification obligations contained herein.</p>
   <h3>12. Privacy</h3>
   <p>Please <a href="{{ path('PrivacyPage') }}">review our Privacy Policy</a>, which governs the use of personal information on the Site and to which Subscriber agrees to be bound as a user of the Site.</p>
   <h3>13. Miscellaneous</h3>
   <p>This Agreement (including the Privacy Policy), as modified from time to time, constitutes the entire agreement between You, the Site and answer1answer2 with respect to the subject matter hereof. This Agreement replaces all prior or contemporaneous understandings or agreements, written or oral, regarding the subject matter hereof. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder. answer1answer2 shall not be liable for any failure to perform its obligations hereunder where such failure results from any cause beyond answer1answer2&rsquo;s reasonable control, including, without limitation, mechanical, electronic or communications failure or degradation. If any provision of this Agreement is found to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum extent necessary so that this Agreement shall otherwise remain in full force and effect and enforceable. This Agreement is not assignable, transferable or sublicensable by Subscriber except with answer1answer2&rsquo;s prior written consent. answer1answer2 may assign this Agreement in whole or in part at any time without Subscriber&rsquo;s consent. This Agreement shall be governed by and construed in accordance with the laws of the state of Delaware without regard to the conflict of laws provisions thereof. No agency, partnership, joint venture, or employment is created as a result of this Agreement and Subscriber does not have any authority of any kind to bind answer1answer2 in any respect whatsoever. Any notice to the Site that is required or permitted by this Agreement shall be in writing and shall be deemed effective upon receipt, when sent by confirmed e-mail to admin@<span class="donotreveal">&nbsp;</span>answeredby.com or when delivered in person by nationally recognized overnight courier or mailed by first class, registered or certified mail, postage prepaid, to <em>answer1answer2, LLC, 11117 La Chene Ave. Warren, MI 48093, Attn: Legal Dept.</em></p>
   <h3>14. Copyright Policy</h3>
   <p>answer1answer2 has adopted the following policy toward copyright infringement with respect to the Site in accordance with the <a href="http://www.loc.gov/copyright/legislation/dmca.pdf">Digital Millennium Copyright Act</a>. The address of answer1answer2's Designated Agent for copyright takedown notices (&ldquo;Designated Agent&rdquo;) is listed below.</p>
   <h3>Reporting Copyright Infringements</h3>
   <p>If You believe that content residing or accessible on the Site infringes a copyright, please send a notice of copyright infringement containing the following information to the Designated Agent at the address below:</p>
   <ol>
    <li>Identification of the work or material being infringed.</li>
    <li>Identification of the material that is claimed to be infringing, including its location, with sufficient detail so that answer1answer2 is capable of finding and verifying its existence.</li>
    <li>Contact information about the notifying party (the Notifying Party), including name, address, telephone number and e-mail address.</li>
    <li>A statement that the Notifying Party has a good faith belief that the material is not authorized by the copyright owner, its agent or law.</li>
    <li>A statement made under penalty of perjury that the information provided in the notice is accurate and that the Notifying Party is authorized to make the complaint on behalf of the copyright owner.</li>
    <li>The Notifying Party's physical or electronic signature.</li>
   </ol>
   <p>After the Designated Agent receives notification of an alleged infringement that meets all of the requirements above, answer1answer2 shall:</p>
   <ol>
    <li>Disable access to or remove material that it has a reasonable, good faith belief is copyrighted material that has been illegally copied and distributed by any subscriber to the Site.</li>
    <li>answer1answer2 will then immediately notify the subscriber responsible for the allegedly infringing material (the Offending Subscriber) that it has removed or disabled access to the material.</li>
    <li>answer1answer2 reserves the right, at its discretion, to immediately terminate the account of any subscriber who is the subject of repeated takedown notices.</li>
   </ol>
   <h3>Filing Copyright Counterclaims</h3>
   <p>A subscriber who believes they are the wrongful subject of a copyright takedown notice may file a counter notification with answer1answer2 by providing the following items in writing to the Designated Agent at the address below:</p>
   <ul>
    <li>The specific URLs of material that answer1answer2 has removed or to which answer1answer2 has disabled access.</li>
    <li>User&rsquo;s name, address, telephone number, and email address.</li>
    <li>A statement that User consent to the jurisdiction of Federal District Court for the judicial district in which your address is located (or Macomb County, Michigan if your address is outside of the United States), and that User will accept service of process from the person who provided notification under subsection (c)(1)(C) or an agent of such person.</li>
    <li>The following statement: "I swear, under penalty of perjury, that I have a good faith belief that the material was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled."</li>
    <li>User&rsquo;s signature.</li>
   </ul>
   <p>Upon receipt of a counterclaim, answer1answer2 will forward it to the party who submitted the original copyright infringement claim. The original complainant will then have 10 days to notify us that he or she has filed legal action relating to the allegedly infringing material. If answer1answer2 does not receive any such notification within 10 days, we may restore the material to the Site.</p>
   <h3>Designated Agent</h3>
   <address>
    Attn: Copyright Agent<br>
    answer1answer2, LLC<br>
    11117 La Chene Ave.<br>
    Warren, MI 48093
   </address>
   <address>
    <b>Tel:</b> +1 (267) 403-4140<br>
    <b>Email:</b> admin@<span class="donotreveal">&nbsp;</span>answeredby.com
   </address>
   <br>
  </div>
 </div>
{% endblock %}