<html>
 <head>
  <style type="text/css">
   html, body {
    font-family: Arial;
   }
   #button {
    background-color: #d9534f;
    border-color: #d9534f;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size: 14px;
    height: 34px;
    line-height: 20px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
   }
  </style>
 </head>
 <body>
  <div>
   <img src="{{ site_url }}/images/ab_logo_final_small.png" alt="logo" style="max-width:300px;">
  </div>
  <p>Hello!</p>
  <p>You &ndash; or someone else &ndash; requested a password reset link be sent to your e-mail address. Here it is:</p>
  <a id="button" href="{{ site_url }}{{ path('ResetPage', {'md5': md5}) }}">Password Reset</a>
  <p><em>This link will only be active for 24 hours.</em></p>
  <p>If you have received this message in error, please reply to this e-mail to alert us.</p>
 </body>
</html>
