{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Post - {% endblock %}

{% block body %}
 {% if post is defined %}
  <div id="all-posts">
   {% if post.parentPost %}
    <div style="padding-bottom:20px;text-align:center;">
     <div class="btn-group">
      <a href="{{ path('PostPage', {'post_id': post.parentPost.id }) }}" class="btn btn-default">Parent Post</a>
      <a href="{{ path('PostPage', {'post_id': post.parentPost.id }) }}" class="btn btn-primary">&#8593;</a>
     </div>
    </div>
   {% endif %}
   <div id="div-all-posts-base"></div>
   <div class="progress progress-striped active">
    <div id="div-loading-posts-progress-bar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%"></div>
   </div>
  </div>
 {% else %}
  <div class="alert alert-warning" style="text-align:center;">You don't have access to this post.{% if not app.user %} Perhaps you do if you <a href="{{ path('login') }}?target_url={{ app.getRequest.getUri }}">log in</a>?{% endif %}</div>
 {% endif %}
 {{ include('AnsweredbySharedBundle:Partials:login_modal.html.twig') }}
{% endblock %}

{% block javascript %}
 {% if post is defined %}
  {{ include('AnsweredbySharedBundle:Partials:progressBar.js.twig') }}
  {{ macros.newPostJs(path('ApiPostPostpageGet', {'post_id': post.id}), true) }}
 {% endif %}
{% endblock %}