{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block body %}
 <h3 style="text-align:center;">{{ user.username }}'s Profile is hidden.</h3>
 {% if not app.user %}
  <div style="margin-top:36px;text-align:center;">If you've established a relationship with {{ user.username }}, you may be able to view their profile if you're <a href="{{ path('login') }}?target_url={{ app.getRequest.getUri }}">logged in</a>.</div>
 {% endif %}
{% endblock %}
