{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block body %}
 <h1>{{ macros.UserProfilePic(user) }} {{ user.username }}</h1>
 <div id="alert-relationships" style="display:none;"></div>
 {% if app.user and user != app.user %}
  <div data-origination-user-id="{{ user.id }}" data-destination-user-id="{{ app.user.id }}">
   {{ macros.UserProfilePic(user, 32, 0) }} <img src="{{ asset('images/short-right-arrow.png') }}" style="width:80px;"> {{ macros.UserProfilePic(app.user, 32, 0) }}
   <select id="relationship2-select-picker" class="relationship-select-picker select-picker" style="display:none;" data-style="btn-primary" multiple title='Join their networks...'>
    {% for network in user.getNetworksWhereIsIndividualSharesType %}
     <option {% if user.getUsersRelationshipsWithSpecificUserAndNetworkApprovedByOriginationUser(app.user, network)|length %}data-icon="glyphicon-ok" {% endif %}value="{{ network.id }}">{{ network.text }}</option>
    {% endfor %}
    <option data-divider="true"></option>
    {% for network in user.getNetworksWithoutIsIndividualSharesType %}
     <option {% if user.getUsersRelationshipsWithSpecificUserAndNetworkApprovedByOriginationUser(app.user, network)|length %}data-icon="glyphicon-ok" {% endif %}value="{{ network.id }}" {% if network.isDefaultType %}class="option-default-network"{% endif %}>{{ network.text }}</option>
    {% endfor %}
   </select>
  </div>
  <div data-origination-user-id="{{ app.user.id }}" data-destination-user-id="{{ user.id }}">
   {{ macros.UserProfilePic(user, 16, 0, 36) }} <img src="{{ asset('images/short-left-arrow.png') }}" style="width:40px;"> {{ macros.UserProfilePic(app.user, 16, 36) }}
   <select id="relationship-select-picker" class="relationship-select-picker select-picker" style="display:none;" data-style="btn-purple btn-xs" multiple title='Invite to your networks...'>
    {% for network in app.user.getNetworksWhereIsIndividualSharesType %}
     <option {% if app.user.getUsersRelationshipsWithSpecificUserAndNetworkApprovedByDestinationUser(user, network)|length %}data-icon="glyphicon-ok" {% endif %}value="{{ network.id }}">{{ network.text }}</option>
    {% endfor %}
    <option data-divider="true"></option>
    {% for network in app.user.getNetworksWithoutIsIndividualSharesType %}
     <option {% if app.user.getUsersRelationshipsWithSpecificUserAndNetworkApprovedByDestinationUser(user, network)|length %}data-icon="glyphicon-ok" {% endif %}value="{{ network.id }}" class="option-relationship-select-picker-network-{{ network.id }} {% if network.isDefaultType %}option-default-network{% endif %}">{{ network.text }}</option>
    {% endfor %}
    <option class="option-relationship-select-picker-divider" data-divider="true"></option>
    <option class="option-select-picker-add">Add...</option>
   </select>
  </div>
 {% endif %}
 <div style="margin-top:10px;margin-bottom:20px;color:darkgrey;">
  {% if app.user and app.user == user %}
   All your Posts:
  {% elseif app.user %}
   {{ user.username }}'s public Posts and those shared with you either individually or through the Networks you follow:
  {% else %}
   {{ user.username }}'s public Posts:
  {% endif %}
 </div>
 <div id="all-posts" style="padding-top:15px;">
  {% if app.user and app.user == user %}
   <div id="div-new-post-button-container" style="text-align:right;">
    New Post <button class="btn btn-danger button-new-post btn-xs" data-type="" data-id="">+</button>
   </div>
  {% endif %}
  <div id="div-all-posts-base"></div>
  <div class="progress progress-striped active">
   <div id="div-loading-posts-progress-bar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%"></div>
  </div>
 </div>
 {{ include('AnsweredbySharedBundle:Partials:login_modal.html.twig') }}
{% endblock %}

{% block javascript %}
 {{ include('AnsweredbySharedBundle:Partials:progressBar.js.twig') }}
 {{ macros.newPostJs(path('ApiPostUserpageGet', {'user_id': user.id})) }}

 {% if app.user %}
  {% if app.user != user %}
   var userPageUserIdIfNotCurrentUserId = {{ user.id }};
  {% endif %}

  $("#relationship-select-picker").selectpicker()
                                  .selectpicker('val', [{% for relationship in app.user.getUsersRelationshipsWithSpecificUserApprovedByOriginationUser(user) %}'{{ relationship.network.id }}',{% endfor %}])
                                  .selectpicker('render');
  $("#relationship2-select-picker").selectpicker()
                                   .selectpicker('val', [{% for relationship in user.getUsersRelationshipsWithSpecificUserApprovedByDestinationUser(app.user) %}'{{ relationship.network.id }}',{% endfor %}])
                                   .selectpicker('render');
 {% endif %}
{% endblock %}
