{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Unsubscribe - {% endblock %}

{% block body %}
 <div style="text-align:center;">
  <button id="button-unsubscribe" class="btn btn-danger btn-lg button-subscribe"{% if invitation.isUnsubscribed %} style="display:none;"{% endif %}>Unsubscribe from Invitations to AnsweredBy</button>
  <button id="button-subscribe" class="btn btn-success btn-lg button-subscribe"{% if not invitation.isUnsubscribed %} style="display:none;"{% endif %}>Subscribe to Invitations to AnsweredBy</button>
 </div>
{% endblock %}

{% block javascript %}
 $(".button-subscribe").click( function() {
  $("#button-unsubscribe").toggle();
  $("#button-subscribe").toggle();
  $.ajax({
   type: "POST",
   url: "{{ path('ApiInvitationUnsubscribe') }}",
   data: {
    md5:         '{{ md5 }}',
    unsubscribe: $(this).attr('id') == 'button-unsubscribe' ? 1 : 0
   }
  });
 });
{% endblock %}
