{% import 'AnsweredbySharedBundle::macros.html.twig' as macros %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head>
 <title>{% block title %}{% endblock %}AnsweredBy{% block aftertitle %}{% endblock %}</title>
 <meta name="description" content="{% block description %}{% endblock %}">
 <!-- Force latest IE rendering engine or ChromeFrame if installed -->
 <!--[if IE]>
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 <![endif]-->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
 <!-- Bootstrap -->
 <link href="{{ asset('css/bootstrap_v2.min.css') }}" rel="stylesheet" media="screen">
 <link href="{{ asset('css/bootstrap-select.min.css') }}" rel="stylesheet" media="screen">
 <link href="{{ asset('css/bootstrap-tagsinput.css') }}" rel="stylesheet" media="screen">
 <link href="{{ asset('css/liveurl_v8.css') }}" rel="stylesheet">
 <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
 <link rel="stylesheet" href="/css/jquery.fileupload.css">
 <link rel="stylesheet" href="/css/jquery.fileupload-ui.css">
 <!-- CSS adjustments for browsers with JavaScript disabled -->
 <noscript><link rel="stylesheet" href="/css/jquery.fileupload-noscript.css"></noscript>
 <noscript><link rel="stylesheet" href="/css/jquery.fileupload-ui-noscript.css"></noscript>
 <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
 <link href="{{ asset('css/jquery.fileupload.css') }}" rel="stylesheet">
 <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
 <!--[if lt IE 9]>
  <script src="{{ asset('js/html5shiv.js') }}"></script>
  <script src="{{ asset('js/respond.min.js') }}"></script>
 <![endif]-->
 {% block extra_header %}{% endblock %}
 <style type="text/css">
  * {
   margin: 0;
   font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  }
  html, body {
   height: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
   font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
   font-weight:bold;
  }
  #body {
   position: relative;
   min-height: 100%;
  }
  .wrapper {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -7em;
  }
  .footer, .push {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 200px;
   background-color: #428bca;
   color: white;
   padding: 15px;
  }
  .footer a {
   color: white;
  }
  .footer a:hover {
   color: #f69441;
   text-decoration: none;
  }
  .above-footer {
   padding-bottom: 250px;
  }
  .bodylink, .bodylink:hover {
   color: black;
  }
  span.donotreveal {
   display:none;
  }
  .dropdown-menu>li>span {
   display: block;
   padding: 3px 20px;
   clear: both;
   font-weight: normal;
   line-height: 1.428571429;
   color: #333;
   white-space: nowrap;
  }
  .dropdown-menu>li>span:hover {
   cursor:pointer;
   color: white;
   background-color: #428bca;
  }
  .logo-arrow-image
  {
   display: inline-block;
   background-image: url({{ asset('new34x192.png') }});
   background-repeat: no-repeat;
  }
  .site-logo-34
  {
   display: inline-block;
   background-image: url({{ asset('images/ab_beta_logo_final_small-transparent.png') }});
   background-size: 124px 34px;
   background-repeat: no-repeat;
   width: 124px;
   height: 34px;
   background-position: 0px 0px;
  }
  .arrow-up-black
  {
   width: 14px;
   height: 14px;
   background-position: -46px -35px;
  }
  .arrow-up-black:hover
  {
   background-position: -61px -35px;
  }
  .arrow-up-orange
  {
   width: 14px;
   height: 14px;
   background-position: -31px -35px;
  }
  .arrow-down-black
  {
   width: 14px;
   height: 14px;
   background-position: -16px -35px;
  }
  .arrow-down-black:hover
  {
   background-position: -75px -36px;
  }
  .arrow-down-orange
  {
   width: 14px;
   height: 14px;
   background-position: 0px -35px;
  }
  .green
  {
   color: #5cb85c;
  }
  .red
  {
   color: #d9534f;
  }
  .blue
  {
   color: #428bca;
  }
  .orange
  {
   color: #f69442;
  }
  .grey
  {
   color: darkgrey;
  }
  .tag-button
  {
   background-color:#ededed;
   text-indent:0;
   border:1px solid #dcdcdc;
   display:inline-block;
   font-size:15px;
   font-weight:bold;
   font-style:normal;
   text-decoration:none;
   text-align:center;
  }
  .tag-button:hover
  {
   background-color:#dfdfdf;
  }
  .tag-button:active
  {
   position:relative;
   top:1px;
  }
  .padded-bottom-100px
  {
   padding-bottom:100px;
  }
  .padded-bottom-50px
  {
   padding-bottom:50px;
  }
  table.demo-table
  {
   margin-left:20px;
  }
  table.top td 
  {
   width: 150px;
   border: 2px solid black;
   border-style:solid;
   border-bottom-style:none;
  }
  table.sides td 
  {
   width: 150px;
   border: 2px solid black;
   border-style:solid;
   border-top-style:none;
   border-bottom-style:none;
  }
  .medium
  {
   letter-spacing:-0.02em;
   font-weight:700;
   font-style:normal;
   font-size:28px;
   line-height:1.1;
   color:black;
  }
  .medium-subtitle
  {
   letter-spacing: -0.02em;
   line-height: 1.2;
  }
  .navbutton
  {
   color:#777;
   border:0;
   background-color:white!important;
  }
  .navbutton:hover
  {
   color:black;
  }
  .question-director
  {
   margin:5px;
  }
  .counter
  {
   margin:1px auto;
   padding:0 5px 0 5px;
   border-style:solid;
   border-width:1px;
   border-radius:11px;
   border-color:#eea236;
  }
  .director-next
  {
   background-color:#f69442;
  }
  .director-next:hover
  {
   background-color:#dd853b;
  }
  .director-section
  {
   border-color:#67a2d4;
   background-color:#67a2d4;
  }
  .director-section:hover
  {
   border-color:#5c91be;
   background-color:#5c91be;
  }
  .director-home
  {
   border-color:#8db9df;
   background-color:#8db9df;
  }
  .director-home:hover
  {
   border-color:#7ea6c8;
   background-color:#7ea6c8;
  }
  .btn-wrap {
   white-space: normal;
  }
  .glyphicon-bell:before {
    content: "🔔";
  }
  a
  {
   // http://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
   word-wrap: break-word;
   -ms-word-break: break-all;
   word-break: break-all;
   word-break: break-word;
   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   hyphens: auto;
  }
  .table-login
  {
   display: inline-block;
  }
  .table-login tr td
  {
   text-align: right;
   padding: 6px;
  }
  .div-unopened-message
  {
   background-color:#E6FEE6;
  }
  .div-filter:hover
  {
   background-color:#F8F8F8;
   cursor:pointer;
  }
  .minimize-post
  {
   cursor:pointer;
   text-align:right;
   height:18px;
   padding-right:12px;
  }
  .a-notification-unclicked
  {
   background-color:#fff3e9;
  }
  .a-notification-unclicked:hover
  {
   background-color:#f5f5f5;
  }
  .span-notification-setting, .span-notification-setting:active, .span-notification-setting:focus, .span-notification-setting:hover {
   color: lightgrey;
  }
  .span-notification-setting-selected, .span-notification-setting-selected:active, .span-notification-setting-selected:focus, .span-notification-setting-selected:hover {
   color: black !important;
  }
  .div-post-options {
   padding: 10px;
   border-style: solid;
   border-width: 1px;
   border-radius: 11px;
   border-color: lightgrey;
  }
  .td-post-circle-label {
   padding-bottom: 10px;
  }
  .span-post-circle-label {
   font-size: 11px;
  }
  .span-post-circle-count {
   font-size: 16px;
   font-weight: bold;
  }
  .well-square {
   border-radius: 2px;
  }
  .img-post {
   width: 100%;
   padding: 1px;
   cursor: pointer;
  }
  .btn-purple {
   background-color: #7d56d0;
   border-color: #682a96;
   color: white;
  }
  .btn-purple:hover, .btn-purple:focus {
   background-color: #7530a9;
   border-color: #682a96;
   color: white;
  }
  .post-option-disabled {
   color: darkgrey;
   cursor: not-allowed;
  }
  ol#ol-todo-list li {
   padding-top: 10px;
   font-size: 13px;
  }
  table#table-todo-list tr td {
   vertical-align: top;
   padding: 4px;
  }
  .btn-glyphicon {
   height: 22px;
   padding-bottom: 6px;
  }
  .option-default-network span {
   font-weight: bold;
  }
  .h4-todo-modal-title {
   margin-top:2px;
   margin-bottom:20px;
  }
  .span-timestamp {
   font-size: 85%;
   color: darkgrey;
   cursor: pointer;
  }
  .attachmentUrlHost {
   margin-top: 10px;
   color: #666666;
  }
 </style>
 <script type="text/javascript">
  var datesToSet = new Object();
 </script>
</head>
<body>
 <div id="body">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
   <div class="container">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
     </button>
     <div class="header-logo-div" style="margin:3px;"><a href="{{ path('HomePage') }}" class="site-logo-34"></a></div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <form id="form-search-users" action="{{ path('UserSearchPage') }}" method="get" class="navbar-form navbar-left" role="search"{% if not app.user %} style="display:none;"{% endif %}>
      <div class="input-group">
      <input id="input-search-users" type="text" name="username" class="form-control" placeholder="Search users...">
      <span class="input-group-btn">
       <button id="button-search-users-submit" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span>&nbsp;</button>
      </span>
      </div>
     </form>
     <ul id="nav-dropdown" class="nav navbar-nav navbar-right">
      {% if app.user %}
       <li>
        {% set relationshipsAwaitingCurrentUsersApproval = twigGlobalsHelper.relationshipsAwaitingCurrentUsersApproval %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <b class="caret"></b>{% if relationshipsAwaitingCurrentUsersApproval|length > 0 %} <span id="span-badge-relationships-awaiting-approval" class="badge" style="background-color:#d43f3a;">{{ relationshipsAwaitingCurrentUsersApproval|length }}</span>{% endif %}</a>
        <ul class="dropdown-menu">
         <li id="li-no-new-relationships" role="presentation" class="dropdown-header"{% if relationshipsAwaitingCurrentUsersApproval|length > 0 %} style="display:none;"{% endif %}>No new relationship requests...</li>
         {% if relationshipsAwaitingCurrentUsersApproval|length > 0 %}
          {% for relationshipAwaitingCurrentUsersApproval in relationshipsAwaitingCurrentUsersApproval %}
           <li id="li-relationship-approve-ignore-{{ relationshipAwaitingCurrentUsersApproval.originationUser.id }}-{{ relationshipAwaitingCurrentUsersApproval.destinationUser.id }}-{{ relationshipAwaitingCurrentUsersApproval.network.id }}">
            <a id="a-relationship-list-count-{{ loop.index }}" href="{{ path('UserPage', {'userid': relationshipAwaitingCurrentUsersApproval.createdUser.id, 'username': relationshipAwaitingCurrentUsersApproval.createdUser.username}) }}" {% if loop.index > 5 %}style="display:none;"{% endif %}>
             <table style="width:100%;">
              <tr>
               <td>
                {{ macros.UserImage(relationshipAwaitingCurrentUsersApproval.createdUser) }}
                {{ relationshipAwaitingCurrentUsersApproval.createdUser.username }}
                {% if relationshipAwaitingCurrentUsersApproval.createdUser == relationshipAwaitingCurrentUsersApproval.originationUser %}
                 wants you to join
                {% else %}
                 wants to join
                {% endif %}
                {{ relationshipAwaitingCurrentUsersApproval.network.text }}.&nbsp;
               </td>
               <td style="text-align:right;" data-origination-user-id="{{ relationshipAwaitingCurrentUsersApproval.originationUser.id }}" data-destination-user-id="{{ relationshipAwaitingCurrentUsersApproval.destinationUser.id }}" data-network-id="{{ relationshipAwaitingCurrentUsersApproval.network.id }}">
                <button class="btn btn-success button-approve-ignore" data-ignore="0">Approve</button>
                <button class="btn btn-default button-approve-ignore" data-ignore="1">Ignore</button>
               </td>
              </tr>
             </table>
            </a>
           </li>
          {% endfor %}
         {% endif %}
         {% if relationshipsAwaitingCurrentUsersApproval|length > 5 %}
         <li><a id="a-more-new-relationships" href="#" style="color:darkgrey;">More...</a></li>
         {% endif %}
         <li class="divider"></li>
         <li><a href="{{ path('RelationshipsPage') }}">View All</a></li>
        </ul>
       </li>
       <li class="dropdown">
        {% set usersUnviewedNotificationsLength = twigGlobalsHelper.getUsersUnviewedNotifications|length %}
        <a href="#" class="dropdown-toggle a-notifications-dropdown" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"></span> <b class="caret"></b>{% if usersUnviewedNotificationsLength > 0 %} <span class="badge" style="background-color:#f69442;">{{ usersUnviewedNotificationsLength }}</span>{% endif %}</a>
        <ul class="dropdown-menu">
         {% set notifications = twigGlobalsHelper.getUsersNotifications(10) %}
         {% if notifications|length > 0 %}
          {% for notification in notifications %}
           <li>{{ macros.notificationAnchor(notification, 'notification_dropdown') }}</li>
          {% endfor %}
         {% else %}
          <li role="presentation" class="dropdown-header">No new notifications...</li>
         {% endif %}
         <li class="divider"></li>
         <li><a href="{{ path('NotificationsPage') }}">View All</a></li>
        </ul>
       </li>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="nav-login-dropdown-username-span">{{ app.user.username }}</span> <b class="caret"></b></a>
        <ul class="dropdown-menu">
         <li>{{ macros.UserPageAnchor(app.user, 'Profile', 'nav-login-dropdown-profile-a') }}</li>
         <li><a href="{{ path('AccountPage') }}">Account</a></li>
         <li class="divider"></li>
         <li><a id="a-tutorial-menu-item" href="#"><b><span class="blue">Answered</span><span class="orange">By</span></b> Tutorial</a></li>
         <li class="divider"></li>
         <li><a href="{{ path('logout') }}?target_url={{ app.getRequest.getUri }}">Log Out</a></li>
        </ul>
       </li>
      {% else %}
       <li><a href="{{ path('login') }}?target_url={{ app.getRequest.getUri }}">Log In</a></li>
      {% endif %}
     </ul>
    </div>
   </div>
  </nav>
  <div id="container" class="container above-footer">
   <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 {% if app.user and doNotShowSidebar is not defined %}col-md-offset-0{% else %}col-md-offset-2{% endif %}">
     {% block body %}{% endblock %}
    </div>
    {% if app.user and doNotShowSidebar is not defined %}
     <div class="hidden-xs hidden-sm col-md-4">
      {% if app.user.showToDoList %}
       <div id="div-todo-list" class="well well-square">
        <div style="float:right;">
         <span id="span-remove-todo-list" class="glyphicon glyphicon-remove" style="cursor:pointer;color:darkgrey;"></span>
        </div>
        <p><b>Tutorial Checklist:</b></p>
        <table id="table-todo-list">
         {% if app.user.showTodoPage1 %}
         <tr>
          <td><button id="button-todo-1" class="btn btn-xs {% if relationshipsAwaitingCurrentUsersApproval|length > 0 %}btn-danger{% else %}btn-success btn-glyphicon{% endif %}">{% if relationshipsAwaitingCurrentUsersApproval|length > 0 %}&rarr;{% else %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</button></td>
          <td>1.</td>
          <td>Approve your friends' invitations to their Networks.</td>
         </tr>
         {% endif %}
         <tr>
          <td><button id="button-todo-2" class="btn btn-xs {% if not app.user.isTodoPage2Done %}btn-danger{% else %}btn-success btn-glyphicon{% endif %}">{% if not app.user.isTodoPage2Done %}&rarr;{% else %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</button></td>
          <td>{% if app.user.showTodoPage1 %}2{% else %}1{% endif %}.</td>
          <td>Create your own Networks.</td>
         </tr>
         <tr>
          <td><button id="button-todo-3" class="btn btn-xs {% if not app.user.isTodoPage3Done %}btn-danger{% else %}btn-success btn-glyphicon{% endif %}">{% if not app.user.isTodoPage3Done %}&rarr;{% else %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</button></td>
          <td>{% if app.user.showTodoPage1 %}3{% else %}2{% endif %}.</td>
          <td>Invite your friends to your Networks.</td>
         </tr>
         <tr>
          <td><button id="button-todo-4" class="btn btn-xs {% if not app.user.hasSetProfilePicUrl %}btn-danger{% else %}btn-success btn-glyphicon{% endif %}">{% if not app.user.hasSetProfilePicUrl %}&rarr;{% else %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</button></td>
          <td>{% if app.user.showTodoPage1 %}4{% else %}3{% endif %}.</td>
          <td>Upload a photo of yourself.</td>
         </tr>
         <tr>
          <td><button id="button-todo-5" class="btn btn-xs {% if not app.user.isTodoPage5Done %}btn-danger{% else %}btn-success btn-glyphicon{% endif %}">{% if not app.user.isTodoPage5Done %}&rarr;{% else %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</button></td>
          <td>{% if app.user.showTodoPage1 %}5{% else %}4{% endif %}.</td>
          <td>Review your Privacy setting.</td>
         </tr>
        </table>
       </div>
      {% endif %}
      {% set doYouKnowUsers = twigGlobalsHelper.getUsersCurrentUserMayKnow %}
      {% if doYouKnowUsers|length > 0 %}
       <div id="div-suggested-user-container" class="well well-square" data-count="{{ doYouKnowUsers|length }}">
        <h5 style="text-align:center;">People you may know!</h5>
        {% for user in doYouKnowUsers %}
         <div id="div-suggested-user-{{ user.id }}">
          <div class="dropdown" style="float:right;">
           <div id="div-hide-post-dropdown-user-id-{{ user.id }}" style="color:darkgrey;" data-toggle="dropdown"><span class="glyphicon glyphicon-remove" style="cursor:pointer;"></span></div>
           <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="div-hide-post-dropdown-user-id-{{ user.id }}">
            <li><a href="#" class="a-ignore-suggested-user" data-id="{{ user.id }}">Don't suggest I know {{ user.username }}</a></li>
           </ul>
          </div>
          <table style="margin:3px;">
           <tr>
            <td><img src="{{ user.profilePicUrl }}" alt="" height="32" width="32" style="border-radius:50%;background-color:#{{ user.backgroundHtmlColor }};margin-right:3px;"></td>
            <td>{{ macros.UserPageAnchor(user) }}</td>
           </tr>
          </table>
         </div>
        {% endfor %}
       </div>
      {% endif %}
      <div id="div-invite" class="well well-square"{% if not app.user %} style="display:none;"{% endif %}>
       Invite others by e-mail address!
       <form id="form-invite">
        <input id="input-invite" type="text" class="form-control" placeholder="E-mail address">
        <div id="div-invite-submit" style="display:none;margin-top:6px;">
         1.
         <select id="invite-select-picker" class="select-picker" style="display:none;" data-style="btn-purple" multiple title='Add your networks...'>
          {% for network in app.user.getNetworksWhereIsIndividualSharesType %}
           <option value="{{ network.id }}">{{ network.text }}</option>
          {% endfor %}
          <option data-divider="true"></option>
          {% for network in app.user.getNetworksWithoutIsIndividualSharesType %}
           <option value="{{ network.id }}" class="option-relationship-select-picker-network-{{ network.id }} {% if network.isDefaultType %}option-default-network{% endif %}">{{ network.text }}</option>
          {% endfor %}
          <option class="option-relationship-select-picker-divider" data-divider="true"></option>
          <option class="option-select-picker-add">Add...</option>
         </select>
         2. <button type="submit" class="btn btn-danger">Invite</button> <b><span id="span-invite-email"></span></b> to <b><span class="blue">Answered</span><span class="orange">By</span></b>.
        </div>
       </form>
       <div id="div-invite-progress-container" class="progress" style="display:none;margin-top:6px;">
        <div id="div-invite-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
       </div>
       <div id="div-message-invite-yourself" style="display:none;margin-top:6px;">This is <i>your</i> e-mail address, silly!</div>
       <table id="table-invite-found-user" style="display:none;margin-top:6px;">
        <tr>
         <td colspan="2" style="display:table-cell;"><b>User found!</b></td>
        </tr>
        <tr>
         <td id="td-image-invite" style="width:74px;"></td>
         <td id="td-username-invite"></td>
        </tr>
       </table>
       <div id="div-invitation-sent" class="alert alert-success" style="display:none;margin-top:6px;text-align:center;">Invitation sent!</div>
      </div>
     </div>
    {% endif %}
   </div>
  </div>
  <div class="push"></div>
  <div class="footer">
   <div class="container">
    <div style="float:left;">
     <a href="{{ path('AboutPage') }}">About</a>
     &emsp;
     <a href="{{ path('AboutPage') }}#contact">Contact</a>
     &emsp;
     <a href="{{ path('HomePage') }}">Home</a>
     &emsp;
     <a href="{{ path('PrivacyPage') }}">Privacy</a>
     &emsp;
     <a href="{{ path('RegisterPage') }}?target_url={{ app.getRequest.getUri }}">Register</a>
     &emsp;
     <a href="{{ path('TermsPage') }}">Terms</a>
     &emsp;
    </div>
    <div style="float:right;">Site Design &amp; Logo &copy; {{ "now"|date("Y") }} answer1answer2, LLC&nbsp;</div>
    <div style="float:right;">User contributions licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">cc-by-sa</a>.&nbsp;</div>
    <div style="text-align:center;clear:both;padding-top:58px;">Change the world. Starting now.</div>
   </div>
  </div>
  <div class="modal fade" id="blank-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
   <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 id="blank-modal-title" class="modal-title"></h4>
     </div>
     <div id="blank-modal-body" class="modal-body"></div>
     <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
    </div>
   </div>
  </div>
  {% if app.user %}
   <div class="modal fade" id="todo-modal" tabindex="-1" role="dialog" aria-labelledby="todo-modal-label" aria-hidden="true">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       <h4 class="modal-title">
        <b><span class="blue">Answered</span><span class="orange">By</span></b> Tutorial
       </h4>
      </div>
      <div id="todo-modal-body" class="modal-body" style="height:60vh;overflow-y:auto;">
       <div id="div-todo-modal-page--1" class="div-todo-modal-page">
        <div style="text-align:center;">
         <h4>Welcome to <b><span class="blue">Answered</span><span class="orange">By</span></b>!</h4>
         <p>We're here to set up everything you need to get started in 5 easy steps.!</p>
        </div>
       </div>
       <div id="div-todo-modal-page-0" class="div-todo-modal-page">
        <div style="text-align:center;">
         <h4>Networks</h4>
         <p style="color:#4D4D4D;font-size:90%;margin-top:20px;">Most of this process centers around Networks. With <b><span class="blue">Answered</span><span class="orange">By</span></b>, Networks are groups of people exclusive to you that you share Posts with, like this:</p>
         <h3 style="text-align:center;">Posts</h3>
         <table style="margin: 0 auto;border-collapse: separate;border-spacing: 5px;">
          <tr style="text-align:center;">
           <td>( Text</td>
           <td>Links</td>
           <td>Photos</td>
           <td>Videos )</td>
          </tr>
          <tr>
           <td style="width:64px;height:64px;margin:6px;border:1px solid lightgrey;color:darkgrey;border-radius:6px;">
            Hi! I found something I think...
           </td>
           <td style="width:64px;height:64px;margin:6px;background-color:#F3F3F3;text-align:center;color:darkgrey;border-radius:6px;">
            <img src="{{ asset('images/liberty.jpg') }}" alt="" style="padding:5px;">
            <b>News</b>
           </td>
           <td style="width:64px;height:64px;margin:6px;">
            <img src="{{ asset('images/cat-photo.jpg') }}" alt="" style="border-radius:6px;">
           </td>
           <td style="width:64px;height:64px;margin:6px;">
            <img src="{{ asset('images/youtube.png') }}" alt="">
           </td>
          </tr>
          <tr>
           <td colspan="2" style="padding-top:20px;">
            <table>
             <tr>
              <td style="vertical-align:middle;">Networks</td>
              <td><img src="{{ asset('images/arrow-downward-left-orange.png') }}" alt="" style="width:50px;"></td>
             </tr>
            </table>
           </td>
           <td colspan="2" style="padding-top:20px;">
            <table>
             <tr>
              <td><img src="{{ asset('images/arrow-downward-right-orange.png') }}" alt="" style="width:50px;"></td>
              <td style="padding-left:10px;">Individuals</td>
             </tr>
            </table>
           </td>
          </tr>
          <tr>
           <td colspan="2"><img src="{{ asset('images/networks.png') }}" alt="" style="width:100px;"></td>
           <td colspan="2"><img src="{{ asset('images/individual.png') }}" alt="" style="width:50px;"></td>
          </tr>
         </table>
        </div>
       </div>
       <div id="div-todo-modal-page-1" class="div-todo-modal-page">
        <div><small>Step 1:</small></div>
        <h4 class="h4-todo-modal-title">Approve Your Friends' Invitations to Their Networks</h4>
        <p>First, here are the people who have invited you these networks of theirs. Do you want to accept posts from these networks (they'll appear on your sharefeed), or ignore them?</p>
        {% if relationshipsAwaitingCurrentUsersApproval|length > 0 %}
         {% for relationshipAwaitingCurrentUsersApproval in relationshipsAwaitingCurrentUsersApproval %}
          <div id="div-relationship-approve-ignore-{{ relationshipAwaitingCurrentUsersApproval.originationUser.id }}-{{ relationshipAwaitingCurrentUsersApproval.destinationUser.id }}-{{ relationshipAwaitingCurrentUsersApproval.network.id }}">
           <hr>
           <table style="width:100%;">
            <tr>
             <td>
              {{ macros.UserImage(relationshipAwaitingCurrentUsersApproval.createdUser) }}
              {{ relationshipAwaitingCurrentUsersApproval.createdUser.username }}
              {% if relationshipAwaitingCurrentUsersApproval.createdUser == relationshipAwaitingCurrentUsersApproval.originationUser %}
               wants you to join
              {% else %}
               wants to join
              {% endif %}
              {{ relationshipAwaitingCurrentUsersApproval.network.text }}.&nbsp;
             </td>
             <td style="text-align:right;" data-origination-user-id="{{ relationshipAwaitingCurrentUsersApproval.originationUser.id }}" data-destination-user-id="{{ relationshipAwaitingCurrentUsersApproval.destinationUser.id }}" data-network-id="{{ relationshipAwaitingCurrentUsersApproval.network.id }}">
              <button class="btn btn-success button-approve-ignore" data-ignore="0">Approve</button>
              <button class="btn btn-default button-approve-ignore" data-ignore="1">Ignore</button>
             </td>
            </tr>
           </table>
           {% if loop.last %}<hr>{% endif %}
          </div>
         {% endfor %}
        {% endif %}
        <div id="div-no-new-relationships" class="alert alert-success" {% if relationshipsAwaitingCurrentUsersApproval|length > 0 %} style="display:none;"{% endif %}>All relationship requests answered!</div>
       </div>
       <div id="div-todo-modal-page-2" class="div-todo-modal-page">
        <div><small>Step {% if app.user.showTodoPage1 %}2{% else %}1{% endif %}:</small></div>
        <h4 class="h4-todo-modal-title">Create Your Own Networks</h4>
        <p>What networks do you want to broadcast your posts to?</p>
        <p style="color:darkgrey;"><small>Networks are usually groups of people with similar interests, such as Family, Co-workers, Politicos, Foodies, Gamers, etc.</small></p>
        <table id="table-page-2-networks" class="table">
         {% for network in app.user.getNetworksWithoutIsIndividualSharesType %}
          <tr class="td-page-2-network-{{ network.id }}">
           <td>{{ network.text }}</td>
           <td style="text-align:center;">
            {% if not network.isDefaultType %}
             <span class="glyphicon glyphicon-trash span-remove-network" style="cursor:pointer;color:darkgrey;" data-network-id="{{ network.id }}"></span>
            {% endif %}
           </td>
          </tr>
         {% endfor %}
         <tr id="div-todo-modal-page-2-network-table">
          <td>
           <form id="form-add-page-2-network" role="form">
            <div class="form-group">
             <input id="input-add-page-2-network" type="text" class="form-control" placeholder="New network name...">
            </div>
           </form>
          </td>
          <td style="text-align:center;">
           <button id="button-add-page-2-network" class="btn btn-danger">Add</button>
          </td>
         </tr>
        </table>
        </div>
       <div id="div-todo-modal-page-3" class="div-todo-modal-page">
        <div><small>Step {% if app.user.showTodoPage1 %}3{% else %}2{% endif %}:</small></div>
        <h4 class="h4-todo-modal-title">Invite Your Friends to Your Networks</h4>
        <p>Invite your connections to those commuities!</p>
        {% for userCurrentUserHasRelationshipsWith in twigGlobalsHelper.getUsersCurrentUserHasRelationshipsWith %}
         <div class="row">
          <div class="col-sm-6">
           <div>{{ macros.UserImage(userCurrentUserHasRelationshipsWith) }} {{ macros.UserPageAnchor(userCurrentUserHasRelationshipsWith) }}</div>
          </div>
          <div class="col-sm-6">
           <div data-origination-user-id="{{ app.user.id }}" data-destination-user-id="{{ userCurrentUserHasRelationshipsWith.id }}">
            <select id="relationship-select-picker-user-{{ userCurrentUserHasRelationshipsWith.id }}" class="relationship-select-picker tutorial-relationship-select-picker select-picker" style="display:none;" data-style="btn-purple" multiple title='Invite to your networks...'>
             {% for network in app.user.getNetworksWhereIsIndividualSharesType %}
              <option {% if app.user.getUsersRelationshipsWithSpecificUserAndNetworkApprovedByDestinationUser(userCurrentUserHasRelationshipsWith, network)|length %}data-icon="glyphicon-ok" {% endif %}value="{{ network.id }}">{{ network.text }}</option>
             {% endfor %}
             <option data-divider="true"></option>
             {% for network in app.user.getNetworksWithoutIsIndividualSharesType %}
              <option {% if app.user.getUsersRelationshipsWithSpecificUserAndNetworkApprovedByDestinationUser(userCurrentUserHasRelationshipsWith, network)|length %}data-icon="glyphicon-ok" {% endif %}value="{{ network.id }}" class="option-relationship-select-picker-network-{{ network.id }} {% if network.isDefaultType %}option-default-network{% endif %}">{{ network.text }}</option>
             {% endfor %}
             <option class="option-relationship-select-picker-divider" style="display:none;"></option>
            </select>
           </div>
          </div>
         </div>
        {% endfor %}
        <div class="well well-square"{% if not app.user %} style="display:none;"{% endif %}>
         Invite others by e-mail address!
         <form id="form-invite2">
          <input id="input-invite2" type="text" class="form-control" placeholder="E-mail address">
          <div id="div-invite2-submit" style="display:none;margin-top:6px;">
           <div>
            1.
            <select id="invite2-select-picker" class="select-picker" style="display:none;" data-style="btn-purple" multiple title='Add your networks...'>
             {% for network in app.user.getNetworksWhereIsIndividualSharesType %}
              <option value="{{ network.id }}">{{ network.text }}</option>
             {% endfor %}
             <option data-divider="true"></option>
             {% for network in app.user.getNetworksWithoutIsIndividualSharesType %}
              <option value="{{ network.id }}" class="option-relationship-select-picker-network-{{ network.id }} {% if network.isDefaultType %}option-default-network{% endif %}">{{ network.text }}</option>
             {% endfor %}
             <option class="option-relationship-select-picker-divider" data-divider="true"></option>
             <option class="option-select-picker-add">Add...</option>
            </select>
           </div>
           <div>
            2. <button type="submit" class="btn btn-danger">Invite</button> <b><span id="span-invite2-email"></span></b> to <b><span class="blue">Answered</span><span class="orange">By</span></b>.
           </div>
          </div>
         </form>
         <div id="div-invite2-progress-container" class="progress" style="display:none;margin-top:6px;">
          <div id="div-invite2-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
         </div>
         <div id="div-message-invite2-yourself" style="display:none;margin-top:6px;">This is <i>your</i> e-mail address, silly!</div>
         <table id="table-invite2-found-user" style="display:none;margin-top:6px;">
          <tr>
           <td colspan="2" style="display:table-cell;"><b>User found!</b></td>
          </tr>
          <tr>
           <td id="td-image-invite2" style="width:74px;"></td>
           <td id="td-username-invite2"></td>
          </tr>
         </table>
         <div id="div-invitation2-sent" class="alert alert-success" style="display:none;margin-top:6px;text-align:center;">Invitation sent!</div>
        </div>
       </div>
       <div id="div-todo-modal-page-4" class="div-todo-modal-page">
        <div><small>Step {% if app.user.showTodoPage1 %}4{% else %}3{% endif %}:</small></div>
        <h4 class="h4-todo-modal-title">Upload a Photo of Yourself</h4>
        <p>Make yourself identifiable to others with a unique profile picture.</p>
        <div>
         <img id="img-profilePic2" src="{{ app.user.profilePicUrl }}" alt="" height="64" width="64" style="border-radius:50%;background-color:#{{ app.user.backgroundHtmlColor }};margin-right:6px;">
        </div>
        <div id="div-tutorial-file-upload-container"></div>
       </div>
       <div id="div-todo-modal-page-5" class="div-todo-modal-page">
        <div><small>Step {% if app.user.showTodoPage1 %}5{% else %}4{% endif %}:</small></div>
        <h4 class="h4-todo-modal-title">Review Your Privacy Setting</h4>
        <p>Privacy with <b><span class="blue">Answered</span><span class="orange">By</span></b> is simple. There's only one option for you to set!</p>
        <p>When searching for you by name, who should you appear in search results for?</p>
        <select id="select-privacy2" class="show-tick" data-style="btn-primary" data-width="auto" style="display:none;">
         <option value="3"{% if app.user.privacySetting == 3%} selected{% endif %}>Everyone</option>
         <option value="2"{% if app.user.privacySetting == 2%} selected{% endif %}>My Networks' Networks</option>
         <option value="1"{% if app.user.privacySetting == 1%} selected{% endif %}>My Networks</option>
         <option value="0"{% if app.user.privacySetting == 0%} selected{% endif %}>Noone</option>
        </select>
        <p style="color:darkgrey;"><small>People will still be able to discover you via comments you leave on others' posts. In that case, only the people above will be able to click through to your profile.</small></p>
        <div id="div-alert-noone-option2" class="alert alert-warning" style="{% if app.user.privacySetting != 0%}display:none;{% endif %}text-align:center;">Notice: Selecting &ldquo;Noone&rdquo; as your privacy option prevents everyone &mdash; including your networks &mdash; from viewing your profile.</div>
       </div>
       <div id="div-todo-modal-page-6" class="div-todo-modal-page">
        <h3 class="h4-todo-modal-title" style="text-align:center;">You're Done!</h3>
        <div style="text-align:center;">How you can access Posts:</div>
        <div style="text-align:center;font-size:85%;color:darkgrey;padding-bottom:20px;">(and make new ones from the top of either page)</div>
        <hr>
        <div class="row">
         <div class="col-sm-3">
          <div class="header-logo-div" style="margin:3px;"><a href="{{ path('HomePage') }}" class="site-logo-34"></a></div>
          <div><img src="{{ asset('images/arrow-upward-left.png') }}" alt="" style="margin-left:25px;width:70px;"></div>
         </div>
         <div class="col-sm-9" style="text-align:center;">
          <h4>Your Sharefeed</h4>
          <p style="color:darkgrey;">Click the logo at the top of the site to return to your Sharefeed, where you'll see all the Posts shared with you.</p>
         </div>
        </div>        
        <hr>
        <div class="row">
         <div class="col-sm-9" style="text-align:center;">
          <h4>Your Profile</h4>
          <p style="color:darkgrey;">All the Posts you make will appear on your profile. You'll see all of them, but others will only see the Posts they have the permissions to see.</p>
         </div>
         <div class="col-sm-3" style="float:right;">
          <div style="float:right;padding:15px;color:rgb(119, 119, 119);background-color:rgb(245, 245, 245);border-bottom: 1px solid rgb(231, 231, 231);">
           {{ app.user.username }} <b class="caret"></b>
          </div>
          <div style="float:right;clear:both;padding:5px 0;border:1px solid rgba(0, 0, 0, 0.14902);box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px 0px;">
           <a href="{{ path('UserPage', {'userid': app.user.id, 'username': app.user.getUrlUsername}) }}" style="padding:3px 45px 3px 20px;;text-decoration:none;color:black;">Profile</a>
          </div>
          <div style="float:right;clear:both;"><img src="{{ asset('images/arrow-upward-right.png') }}" alt="" style="width:70px;margin-right:50px;"></div>
         </div>
        </div>
      </ul>
       </div>
      </div>
      <div class="modal-footer" style="text-align:center;">
       <div id="div-previous-todo-modal-page" style="float:left;padding-top:7px;cursor:pointer;"><span class="glyphicon glyphicon-chevron-left"></span> Back</div>
       <div style="float:right;"><button id="button-next-todo-modal-page" class="btn btn-primary"></button></div>
      </div>
     </div>
    </div>
   </div>
  {% endif %}
 </div>
 {% if app.user %}
  <div id="new-form-photo-uploader-container" style="display:none;">
  <div id="new-form-photo-uploader">
    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload-multiple" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript><input type="hidden" name="redirect" value="//jquery-file-upload.appspot.com/"></noscript>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="fileupload-buttonbar">
            <div>
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add photos...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button id="button-fileuploader-start" type="submit" class="btn btn-primary start" style="display:none;">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
                <button id="button-fileuploader-cancel" type="reset" class="btn btn-warning cancel" style="display:none;">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody id="tbody-image-uploader-files" class="files"></tbody></table>
    </form>
  </div>
  </div>
 {% endif %}
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script type="text/javascript" src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
 <script type="text/javascript" src="{{ asset('js/bootstrap3-typeahead.min.js') }}"></script>
 <script type="text/javascript" src="{{ asset('js/jquery.autosize.min.js') }}"></script>
 <script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
 <script type="text/javascript" src="{{ asset('js/moment.min.js') }}"></script>
 <script type="text/javascript" src="{{ asset('js/bootstrap-select.min.js') }}"></script>
 <script type="text/javascript" src="{{ asset('js/bootstrap-tags-input.min.js') }}"></script>
 <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
 <script src="{{ asset('js/jquery.ui.widget.js') }}"></script>
 <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
 <script src="{{ asset('js/load-image.min.js') }}"></script>
 <!-- The Canvas to Blob plugin is included for image resizing functionality -->
 <script src="{{ asset('js/canvas-to-blob.min.js') }}"></script>
 <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
 <script src="{{ asset('js/jquery.iframe-transport.js') }}"></script>
 <!-- The basic File Upload plugin -->
 <script src="{{ asset('js/jquery.fileupload.js') }}"></script>
 <!-- The File Upload processing plugin -->
 <script src="{{ asset('js/jquery.fileupload-process.js') }}"></script>
 <!-- The File Upload image preview & resize plugin -->
 <script src="{{ asset('js/jquery.fileupload-image.js') }}"></script>
 <!-- The File Upload validation plugin -->
 <script src="{{ asset('js/jquery.fileupload-validate.js') }}"></script>
{% verbatim %}
 <!-- The template to display files available for upload -->
 <script id="template-upload" type="text/x-tmpl">
 {% for (var i=0, file; file=o.files[i]; i++) { %}
     <tr class="template-upload fade">
         <td>
             <span class="preview"></span>
         </td>
         <td>
             <p class="name">{%=file.name%}</p>
             <strong class="error text-danger"></strong>
         </td>
         <td>
             <p class="size">Processing...</p>
             <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
         </td>
         <td>
             {% if (!i && !o.options.autoUpload) { %}
                 <button class="btn btn-primary start" disabled>
                     <i class="glyphicon glyphicon-upload"></i>
                     <span>Start</span>
                 </button>
             {% } %}
             {% if (!i) { %}
                 <button class="btn btn-warning cancel">
                     <i class="glyphicon glyphicon-ban-circle"></i>
                     <span>Cancel</span>
                 </button>
             {% } %}
         </td>
     </tr>
 {% } %}
 </script>
 <!-- The template to display files available for download -->
 <script id="template-download" type="text/x-tmpl">
 {% for (var i=0, file; file=o.files[i]; i++) { %}
     <tr class="template-download fade">
         <td>
             <span class="preview">
                 {% if (file.thumbnailUrl) { %}
                     <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                 {% } %}
             </span>
         </td>
         <td>
             <p class="name">
                 {% if (file.url) { %}
                     <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                 {% } else { %}
                     <span>{%=file.name%}</span>
                 {% } %}
             </p>
             {% if (file.error) { %}
                 <div><span class="label label-danger">Error</span> {%=file.error%}</div>
             {% } %}
         </td>
         <td>
             <span class="size">{%=o.formatFileSize(file.size)%}</span>
         </td>
         <td>
             {% if (file.deleteUrl) { %}
             {% } else { %}
                 <button class="btn btn-warning cancel">
                     <i class="glyphicon glyphicon-ban-circle"></i>
                     <span>Cancel</span>
                 </button>
             {% } %}
         </td>
     </tr>
 {% } %}
 </script>
{% endverbatim %}
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{{ asset('js/tmpl.min.js') }}"></script>
<!-- The File Upload user interface plugin -->
<script type="text/javascript">var pathApiUserPostProfilePic = "{{ path('ApiUserPostProfilePic') }}";</script>
<script src="{{ asset('js/jquery.fileupload-ui_v9.js') }}"></script>
<!-- The main application script -->
<script src="{{ asset('js/main_v8.js') }}"></script>
<script type="text/javascript">
/*
 * jQuery LiveUrl
 *
 * MIT License - You are free to use this commercial projects as long as the copyright header is left intact.
 * @author        Stephan Fischer
 * @copyright     (c) 2012 Stephan Fischer (www.ainetworks.de)
 * @version 1.2.2
 * 
 * UriParser is a function from my addon "Superswitch" for Mozilla FireFox.
 */

(function( $ )
{
    $.fn.extend(
    { 
        liveUrl : function( options) 
        {
            var defaults = 
            {
                meta: [
                    ['description','name',     'description'],
                    ['description','property', 'og:description'],
                    ['description','property', 'pinterestapp:about'],
                    ['image','property', 'og:image'],
                    ['image','itemprop', 'image'],
                    ['title','property', 'og:title'],
                    ['video','property', 'og:video'],
                    ['video_type','property', 'og:video:type'],
                    ['video_width','property', 'og:video:width'],
                    ['video_height','property', 'og:video:height']
               ],
               findLogo         : false,
               findDescription  : true,
               matchNoData      : true,
               multipleImages   : true,
               defaultProtocol  : 'http://',
               minWidth         : 100,
               minHeight        : 32,
               logoWord         : 'logo',
               success          : function() {},
               loadStart        : function() {},
               loadEnd          : function() {},
               imgLoadStart     : function() {},
               imgLoadEnd       : function() {},
               addImage         : function() {}
            }

            var options =  $.extend(defaults, options);
            
            this.each(function() 
            {
                
                var o       = options,
                    core    = {already : []},
                    url     = {},
                    preview = {};
                
                core.init = function () 
                {
                    core.preview = false;
                    preview      = {
                        url : '',
                        images: [],
                        image : '',
                        title: '' ,
                        description: ''
                    };  
                };
                
                core.textUpdate = function(self) 
                {                
                    // read all links   
                    var links = $.urlHelper.getLinks($(self).val());
                    core.cleanDuplicates(links);
                    
                    if (links != null) {
                        if (!core.preview) {
                            core.current = $(self);
                            core.process(links);
                        }
                    }
                };
                
                core.process = function(urlArray) 
                {
        
                    for (var index in urlArray) {
        
                        var strUrl      = urlArray[index] ;
                        if (typeof strUrl == 'string') {
                            var pLink       = new $.urlHelper.UriParser(strUrl);

                            if (pLink.subdomain && pLink.subdomain.length > 0 || 
                                pLink.protocol  && pLink.protocol.length  > 0 ) {
                
                                if  (pLink.protocol.length == 0) {
                                    strUrl = o.defaultProtocol + strUrl;
                                }
                
                                if (!core.isDuplicate(strUrl, core.already)) {
                                   
                                   if ($.urlHelper.isImage(strUrl)) {
                                       preview.image = strUrl;
                                       core.getPreview({}, strUrl);
                                       
                                   } else {
                                       core.getData(strUrl);  
                                   }
                                   
                                   return true;
                                }
                            }
                        }
                    } 
                };
                
                core.cleanDuplicates = function(urlArray) 
                {
                    var links = core.createLinks(urlArray);
                    
                    for(var index in core.already) {
                        var strUrl  = core.already[index];
                          
                        if (!core.isDuplicate(strUrl, links)){
                            var index = $.inArray(strUrl, core.already);
                            core.already.splice(index, 1);
                        }
                    }
                };
                
                core.createLinks = function(urlArray) 
                {
                    var links = [];
                    
                    for(var index in urlArray) {
                        var strUrl  = urlArray[index];
                        if (typeof strUrl == 'string') {
                            var pLink   = new $.urlHelper.UriParser(strUrl);
                           
                            if (pLink.subdomain && pLink.subdomain.length > 0 || 
                                pLink.protocol  && pLink.protocol.length  > 0 ) {
                                    
                                if  (pLink.protocol.length == 0) {
                                    strUrl = o.defaultProtocol + strUrl;
                                }
                                
                                links.push(strUrl);
                            }
                        }
                    }
                    
                    return links;
                }
                
                core.isDuplicate = function(url, array) 
                {
                    var duplicate = false;
                    $.each(array, function(key, val)
                    {
                        if (val == url) {
                            duplicate = true;
                        } 
                    }); 
                    
                    return duplicate;
                };
                
                core.getData = function (url)
                {
                  
                    var xpath  =  '//head|//body';
                    var query  =  'select * from html where url="' + url + '" and compat="html5" and xpath="'+xpath+'"';

                    core.addLoader();
                    
                    $.yql(url, function() 
                        {
                            var data = {
                                query : {results: null}
                            }
                            
                            core.ajaxSuccess(data, url);
                            core.removeLoader();
                            return false;  
                        },
                        function(data) 
                        {
                            core.ajaxSuccess(data, url)
                        }
                    )
                }; //getData
                
                core.ajaxSuccess = function(data, url)
                {
                    // URL already loaded, or preview is already shown.
                    if (core.isDuplicate(url, core.already) || core.preview) {
                        core.removeLoader();
                        return false;  
                    }


                    if ($(data).find("html").text().length == 0) {

                        if (o.matchNoData) {
                            core.getPreview(data, url);
                        }  else {
                            core.already.push(url);
                            core.removeLoader();
                        }
                        
                    } else {
                        core.getPreview(data, url);
                    }
                }
                
                
                core.hasValue     = function(section){
                    return (preview[section].length == 0) ? false : true;  
                };
                
                core.getPreview = function(data, uri)
                {
                    core.preview = true; 
                    core.already.push(uri);  

                    var title  = "" ;
                    
                    $(data, '<head>').find('title').each(function() 
                    {
                        title = $(this).text();
                    }); 
                    
                  
                    preview.title       = ( title || uri);
                    preview.url         = uri;
                    
                    $(data, '<head>').find('meta').each(function() 
                    {
                        core.setMetaData($(this));
                         
                    });
                    
                    if(o.findDescription && !core.hasValue('description')) {
                        
                        $(data, '<body>').find('p').each(function() 
                        {
                            var text = $.trim($(this).text());
                            if(text.length > 3) {
                                preview.description = text;
                                return false;
                            }
                             
                        });
                    }
                    
                    if (!core.hasValue('image')) {
                    // meta tag has no images:
                    
                        var images = $(data, '<body>').find('img');
                        
                        if (o.findLogo ) {
                           images.each(function() 
                            {
                                var self = $(this);
                                
                                if (self.attr('src') && self.attr('src').search(o.logoWord, 'i')  != -1 || 
                                    self.attr('id' ) && self.attr('id' ).search(o.logoWord, 'i')  != -1 ||
                                    this.className   &&   this.className.search(o.logoWord, 'i')  != -1  
                                                                ) {
                                    preview.image = $(this).attr('src');
                                    return false;
                                }

                            }); 
                        }

                        
                        if (!core.hasValue('image') && images.length > 0 ) {
                            images.each(function() 
                            {
                                preview.images.push($(this).attr('src'));
                            });
                        } 
                    }
                    
                    core.removeLoader();
                    
                    // prepare output
                    var not   = 'undefined';
                    var data  = {
                        title       : preview.title,
                        description : preview.description,
                        url         : preview.url,
                        video       : (typeof preview.video != not && preview.video.length > 0) ? {} : null
                    };
                    
                    if (data.video != null) {
                        data.video = {
                            file  :   preview.video,
                            type  : (typeof preview.video_type   != not) ? preview.video_type  : '',
                            width : (typeof preview.video_width  != not) ? preview.video_width : '',
                            height: (typeof preview.video_height != not) ? preview.video_height :''
                        }
                    }
                    
                    o.success(data);
                    
                    if (core.hasValue('image')){
                        preview.images.push(preview.image); 
                        preview.image = '';
                    }
                    
                    
                    core.addImages();
                    core.current.one('clear', function() 
                    {
                       core.init();
                    });     
                };
                
                core.addLoader = function()
                {  
                    o.loadStart();
                };
                
                core.removeLoader = function() 
                {
                    o.loadEnd();
                };
                
                core.setMetaData = function(val) 
                {
                    for (index in o.meta) {
                        var meta = o.meta[index];
                        preview[meta[0]] = (core.getValue(val,meta[1],meta[2])|| preview[meta[0]] );
                    }
                };
                
                core.getValue = function (val,key, tag) {
                    if (val.attr(key)) {
                        if (val.attr(key).toLowerCase() ==  tag.toLowerCase()) {
                            if (val.attr('content') && val.attr('content').length > 0) {
                                return val.attr('content');
                            }
                        } 
                        
                    }
                };
                
                core.addImages = function() 
                {
                    var images = [];
                    
                    for (var index in preview.images) {
                        var image = preview.images[index];
                        
                        if (!$.urlHelper.isAbsolute(image)) {
                            var pLink    = new $.urlHelper.UriParser(preview.url);
                            var host     = pLink.url + pLink.subdomain + pLink.domain;

                            if ($.urlHelper.isPathAbsolute(image)) 
                                 image = host + image; 
                            else image = host + $.urlHelper.stripFile(pLink.path) + '/' + image;
                        }
                        
                        core.getImage(image, function(img) 
                        {
                            if (img.width  >= o.minWidth  && 
                                img.height >= o.minHeight && core.preview) {

                                o.addImage(img);
                                
                                if(!o.multipleImages) {
                                    return;
                                }
                                
                            }
                        });
                    }

                };
                
                core.getImage = function(src, callback)
                {
                    var concat  =  $.urlHelper.hasParam(src) ? "&" : "?";
                    src        +=  concat + 'random=' + (new Date()).getTime();
                    
                    $('<img/>').attr({'src': src}).load(function() 
                    {
                        var img = this;
                        var tmrLoaded = window.setInterval(function()
                        {   
                            if (img.width) {
                                window.clearInterval(tmrLoaded);  
                                callback(img);
                            }
                        }, 100);
                    });
                };

                core.init();
                var that  = this;
                var self  = $(this);
                
                self.on('keyup', function(e) 
                {
                    var links = $.urlHelper.getLinks($(self).val());
                    core.cleanDuplicates(links);
                    
                    window.clearInterval(core.textTimer); 
                    
                    var code = (e.keyCode ? e.keyCode : e.which);
                    
                    if(code == 13 || code == 32) { //Enter keycode
                        core.textUpdate(that);
                    } else {
                        core.textTimer = window.setInterval(function()
                        {   
                            core.textUpdate(that);
                            window.clearInterval(core.textTimer);  
                        }, 1000);
                    }
                }).on('paste', function() {core.textUpdate(that)});
    
            });
        }
    });

    jQuery.yql = function yql(url, error, success) 
    {
        var yql = {
            path: '{{ path('ApiUrlGrabberGet') }}?url=',
            url: encodeURIComponent(url)
        };
        
        var isIE = /msie/.test(navigator.userAgent.toLowerCase());
        
        if (isIE && window.XDomainRequest) {
            var xdr = new XDomainRequest();
            xdr.open("get", yql['path'] + yql['url']);
            xdr.onload = function() 
            {
                success(xdr.responseText);
            };
            
            xdr.send();
         
        } else {

            $.ajax({
                crossDomain : true,
                cache    : false,
                type     : 'GET',
                url      : yql['path'] + yql['url'], 
                timeout  : 8000, 
                dataType : 'xml',
                error    : error,
                success  : success
            });   
        }
    };
    
    jQuery.urlHelper =
    {
        UriParser :  function (uri)
        { 
            this._regExp      = /^((\w+):\/\/\/?)?((\w+):?(\w+)?@)?([^\/\?:]+)?(:\d+)?(.*)?/;
            this._regExpHost  = /^(.+\.)?(.+\..+)$/;
   
            this._getVal = function(r, i) 
            {
                if(!r) return null;
                return (typeof(r[i]) == 'undefined' ? "" : r[i]);
            };
          
            this.parse = function(uri) 
            {
                var r          = this._regExp.exec(uri);
                this.results   = r;
                this.url       = this._getVal(r,1);
                this.protocol  = this._getVal(r,2);
                this.username  = this._getVal(r,4);
                this.password  = this._getVal(r,5);
                this.domain    = this._getVal(r,6);
                this.port      = this._getVal(r,7);
                this.path      = this._getVal(r,8);
                
                var rH         = this._regExpHost.exec( this.domain );
                this.subdomain = this._getVal(rH,1);
                this.domain    = this._getVal(rH,2); 
                return r;
            }
              
            if(uri) this.parse(uri);
        },
        getLinks : function(text) 
        {
            var expression = /((https?:\/\/)?[\w-]+(\.[\w-]+)+\.?(:\d+)?(\/\S*)?)/gi;
            return (text.match(expression));
        },
        isImage : function(img, allowed)
        {
            //Match jpg, gif or png image  
            if (allowed == null)  allowed = 'jpg|gif|png|jpeg';
            
            var expression = /([^\s]+(?=\.(jpg|gif|png|jpeg))\.\2)/gm; 
            return (img.match(expression));
        },
        isAbsolute : function(path)
        {
            var expression = /^(https?:)?\/\//i;
            var value =  (path.match(expression) != null) ? true: false;
            
                            
            return value;
        },
        isPathAbsolute : function(path)
        {
            if (path.substr(0,1) == '/') return true;
        },
        hasParam : function(path)
        {
             return (path.lastIndexOf('?') == -1 ) ? false : true;
        },
        stripFile : function(path) {
            return path.substr(0, path.lastIndexOf('/') + 1);
        } 
    }
})( jQuery );
</script>

 <script type="text/javascript">
  for(var spanIdToUpdate in datesToSet) {
   var momentInTime = moment(datesToSet[spanIdToUpdate]);
   $("#" + spanIdToUpdate).html(momentInTime.fromNow());
   $("#" + spanIdToUpdate).attr("title",momentInTime.format("dddd, MMMM Do YYYY, h:mm:ss a"));
  }

  $(".min-height-window-height").css('min-height',$(window).height());

  var notificationsDropdownClicked = false;
  $('#nav-dropdown').on('click', '.a-notifications-dropdown', function() {
   if( !notificationsDropdownClicked ){
    $.ajax({
     type: "POST",
     url: "{{ path('ApiNotificationPostDropdownViewed') }}"
    });
    notificationsDropdownClicked = true;
   }
  });

  var userLoggedInId = {% if app.user %}{{ app.user.id }}{% else %}null{% endif %};
  var userLoggedInUsername = {% if app.user %}'{{ app.user.username }}'{% else %}null{% endif %};
  var userProfilePageUrl = {% if app.user %}'{{ path('UserPage', {'userid': app.user.id, 'username': app.user.getUrlUsername}) }}'{% else %}null{% endif %};
  var userProfilePicUrl = {% if app.user %}'{{ app.user.profilePicUrl }}'{% else %}null{% endif %};
  var userBackgroundHtmlColor = {% if app.user %}'{{ app.user.backgroundHtmlColor }}'{% else %}null{% endif %};

  {% if app.user %}
   var defaultPostShareFriendUsernames = {{ app.user.getSerializedDefaultPostShareFriendUsernamesUnserializedAndJsonEncoded|raw }};
   var defaultPostShareNetworkIds = {{ app.user.getSerializedDefaultPostShareNetworkIdsUnserializedAndJsonEncoded|raw }};

   var currentTodoModalPage = 1;
   function showTodoModalPage(pageNumber) {
    {% if not app.user.showTodoPage1 %}
     if( pageNumber == 1 ){
      if( currentTodoModalPage > 1 )
       pageNumber = 0;
      else
       pageNumber = 2;
     }
    {% endif %}
    currentTodoModalPage = pageNumber;
    if( currentTodoModalPage > 6 ){
     $("#todo-modal").modal("hide");
    } else {
     $(".div-todo-modal-page").hide();
     $("#div-todo-modal-page-" + pageNumber).show();
     if( currentTodoModalPage == -1 )
      $("#div-previous-todo-modal-page").hide();
     else
      $("#div-previous-todo-modal-page").show();
     if( currentTodoModalPage == 6 )
      $("#button-next-todo-modal-page").html("Done!");
     else
      $("#button-next-todo-modal-page").html("Next <span class='glyphicon glyphicon-chevron-right'></span>");
     $("#todo-modal").modal("show");

     // Attach photo uploader.
     $("#new-form-photo-uploader").attr("data-limit-to-one", "true")
                                  .appendTo($("#div-tutorial-file-upload-container"));

     // Move photo uploader back to container when modal is closed.
     $('#todo-modal').on('hide.bs.modal', function () {
      resetFormPhotoUploader();
     });
    }
   }

   {% if firstTimeToHomepage is defined and firstTimeToHomepage %}
    $(document).ready( function() {
     showTodoModalPage(-1);
    });
   {% endif %}

   $("#a-tutorial-menu-item").click( function(event) {
    event.preventDefault();
    showTodoModalPage(-1);
   });
   $("#button-todo-1").click( function() {
    showTodoModalPage(1);
   });
   $("#button-todo-2").click( function() {
    showTodoModalPage(2);
   });
   $("#button-todo-3").click( function() {
    showTodoModalPage(3);
   });
   $("#button-todo-4").click( function() {
    showTodoModalPage(4);
   });
   $("#button-todo-5").click( function() {
    showTodoModalPage(5);
   });
   $("#button-next-todo-modal-page").click( function() {
    if( currentTodoModalPage==2
     || currentTodoModalPage==3
     || currentTodoModalPage==5 ){
      setTodoButtonComplete(currentTodoModalPage);
      $.ajax({
       type: "POST",
       url: "{{ path('ApiUserPostTodoPageDone') }}/" + currentTodoModalPage
      });
     }
    showTodoModalPage(currentTodoModalPage + 1);
   });
   $("#div-previous-todo-modal-page").click( function() {
    showTodoModalPage(currentTodoModalPage - 1);
   });

   function validateEmail(email) 
   {
    var re = /\S+@\S+\.\S+/;
    return re.test(email);
   }

   function displayInviteUser(type, userObject)
   {
    $("#div-" + type + "-submit").hide();
    $("#table-" + type + "-found-user").show();
    $("#td-image-" + type).html("<img src='" + userObject.imageUrl + "' alt='' height='64' width='64' style='border-radius:50%;background-color:#" + userObject.backgroundHtmlColor + "'>");
    $("#td-username-" + type).html("<a href='" + userObject.url + "'>" + userObject.username + "</a>");
   }

   function tryInitialPostsLoad() {
    if( typeof initialPostsLoad == 'function' )
     initialPostsLoad();
   }

   var reloadPostsCounter;
   function startReloadPostsCounter() {
    clearTimeout(reloadPostsCounter);
    reloadPostsCounter = setTimeout(function(){tryInitialPostsLoad()}, 2000);
   }

   var invitationXMLHttpRequest = new Object();
   $("#input-invite").on("input", function() {
    $("#div-message-invite-yourself").hide();
    $("#table-invite-found-user").hide();
    $("#div-invitation-sent").hide();
    var inputInviteVal = $("#input-invite").val();
    if (validateEmail(inputInviteVal)) {
     if( inputInviteVal === '{{ app.user.email }}' ){
      $("#div-invite-progress-container").hide();
      $("#div-invite-submit").hide();
      $("#div-message-invite-yourself").show();
     } else {
      $("#div-invite-submit").show();
      $("#span-invite-email").text(inputInviteVal);
     }
    } else {
     $("#div-invite-submit").hide();
    }
   });

   $("#form-invite").submit( function(event) {
    if (typeof(invitationXMLHttpRequest.abort) === "function")
     invitationXMLHttpRequest.abort();
    $("#div-invite-progress-bar").removeClass("progress-bar-danger").addClass("progress-bar-warning");
    $("#div-invite-progress-container").addClass("progress-striped").addClass("active").show();
    var inputInviteVal = $("#input-invite").val();
    if (validateEmail(inputInviteVal)) {
     if( inputInviteVal === '{{ app.user.email }}' ){
      $("#div-invite-progress-container").hide();
      $("#div-invite-submit").hide();
      $("#div-message-invite-yourself").show();
     } else {
      $.ajax({
       type: "POST",
       url: "{{ path('ApiInvitationPost') }}",
       data: {
        email: inputInviteVal,
        networks: $("#invite-select-picker").val()
       }
      }).done( function(returnedJsonString) {
       $("#div-invite-progress-container").hide();
       $("#div-invitation-sent").show();
      }).fail( function() {
       $("#div-invite-progress-bar").removeClass("progress-bar-warning").addClass("progress-bar-danger");
       $("#div-invite-progress-container").removeClass("progress-striped").removeClass("active");
      });
      $("#input-invite").val("");
      $("#div-invite-submit").hide();
     }
    }
    event.preventDefault();
   });

   var invitationXMLHttpRequest2 = new Object();
   $("#input-invite2").on("input", function() {
    $("#div-message-invite2-yourself").hide();
    $("#table-invite2-found-user").hide();
    $("#div-invitations-sent").hide();
    var inputInviteVal = $("#input-invite2").val();
    if (validateEmail(inputInviteVal)) {
     if( inputInviteVal === '{{ app.user.email }}' ){
      $("#div-invite2-progress-container").hide();
      $("#div-invite2-submit").hide();
      $("#div-message-invite2-yourself").show();
     } else {
      $("#div-invite2-submit").show();
      $("#span-invite2-email").text(inputInviteVal);
     }
    } else {
     $("#div-invite2-submit").hide();
    }
   });

   $("#form-invite2").submit( function(event) {
    if (typeof(invitationXMLHttpRequest2.abort) === "function")
     invitationXMLHttpRequest2.abort();
    $("#div-invite2-progress-bar").removeClass("progress-bar-danger").addClass("progress-bar-warning");
    $("#div-invite2-progress-container").addClass("progress-striped").addClass("active").show();
    var inputInviteVal = $("#input-invite2").val();
    if (validateEmail(inputInviteVal)) {
     if( inputInviteVal === '{{ app.user.email }}' ){
      $("#div-invite2-progress-container").hide();
      $("#div-invite2-submit").hide();
      $("#div-message-invite2-yourself").show();
     } else {
      $.ajax({
       type: "POST",
       url: "{{ path('ApiInvitationPost') }}",
       data: {
        email: inputInviteVal,
        networks: $("#invite2-select-picker").val()
       }
      }).done( function(returnedJsonString) {
       $("#div-invite2-progress-container").hide();
       $("#div-invitation2-sent").show();
      }).fail( function() {
       $("#div-invite2-progress-bar").removeClass("progress-bar-warning").addClass("progress-bar-danger");
       $("#div-invite2-progress-container").removeClass("progress-striped").removeClass("active");
      });
      $("#input-invite2").val("");
      $("#div-invite2-submit").hide();
     }
    }
    event.preventDefault();
   });

   $('#input-search-users').typeahead({
    source: function (query, process) {
     return $.get('{{ path('ApiUserAutocomplete') }}', { search_string: query }, function (data) {
      return process(data);
     });
    }
   });

   $("#button-search-users-submit").click( function() {
    $("#form-search-users").submit();
   });

   $(".a-ignore-suggested-user").click( function(event) {
    event.preventDefault();
    var destinationUserId = $(this).attr("data-id");
    var suggestedUserCount = parseInt($("#div-suggested-user-container").attr("data-count"));
    if( suggestedUserCount == 1 ){
     $("#div-suggested-user-container").slideUp();
    } else {
     $("#div-suggested-user-" + destinationUserId).slideUp();
     $("#div-suggested-user-container").attr("data-count", suggestedUserCount - 1);
    }

    $.ajax({
     type: "POST",
     url: "{{ path('ApiUserSuggestionHidePost') }}",
     data: {
      destination_user_id: destinationUserId
     }
    });
   });

   $(".a-ignore-invitation").click( function(event) {
    event.preventDefault();
    var createdUserId = $(this).attr("data-id");
    var invitationUserCount = parseInt($("#div-invitation-container").attr("data-count"));
    if( invitationUserCount == 1 ){
     $("#div-invitation-container").slideUp();
    } else {
     $("#div-invitation-" + destinationUserId).slideUp();
     $("#div-invitation-container").attr("data-count", invitationUserCount - 1);
    }

    $.ajax({
     type: "POST",
     url: "{{ path('ApiUserInvitationHidePost') }}",
     data: {
      created_user_id: createdUserId
     }
    });
   });

   var nextPage2NetworkTemporaryId = 1;
   $("#form-add-page-2-network").submit( function(event) {
    event.preventDefault();
    var networkName = $("#input-add-page-2-network").val();
    var thisPage2NetworkTemporaryId = nextPage2NetworkTemporaryId++;
    $("#input-add-page-2-network").val("");
    $("#div-todo-modal-page-2-network-table").before(
    "<tr id='tr-page-2-network-temp-id-" + thisPage2NetworkTemporaryId + "'>" +
     "<td>" + networkName + "</td>" +
     "<td style='text-align:center;'>" +
      "<span id='span-page-2-remove-network-temp-id-" + thisPage2NetworkTemporaryId + "' class='glyphicon glyphicon-trash span-remove-network' style='cursor:pointer;color:darkgrey;'></span>" +
     "</td>" +
    "</tr>");
    $.ajax({
     type: "POST",
     url: "{{ path('ApiNetworkPost') }}",
     data: {
      text: networkName
     }
    }).done( function(returnedJsonString) {
     addNetwork(returnedJsonString['id'], networkName);
     $("#span-page-2-remove-network-temp-id-" + thisPage2NetworkTemporaryId).attr("data-network-id", returnedJsonString['id']);
     $("#tr-page-2-network-temp-id-" + thisPage2NetworkTemporaryId).addClass("td-page-2-network-" + returnedJsonString['id']);
    });
   });

   $("#button-add-page-2-network").click( function() {
    $("#form-add-page-2-network").submit();
   });

   {% for userCurrentUserHasRelationshipsWith in twigGlobalsHelper.getUsersCurrentUserHasRelationshipsWith %}
    $("#relationship-select-picker-user-{{ userCurrentUserHasRelationshipsWith.id }}").selectpicker()
                                                                                      .selectpicker('val', [{% for relationship in app.user.getUsersRelationshipsWithSpecificUserApprovedByOriginationUser(userCurrentUserHasRelationshipsWith) %}'{{ relationship.network.id }}',{% endfor %}])
                                                                                      .selectpicker('render');
   {% endfor %}
  {% endif %}

  {% if app.user %}
   var nextNewUserCount = 6;
   function showNextNewRelationshipDropdownItem() {
    $("#a-relationship-list-count-" + nextNewUserCount).show();
    nextNewUserCount += 1;
    if( nextNewUserCount > {{ relationshipsAwaitingCurrentUsersApproval|length }} )
     $("#a-more-new-relationships").hide();
   }

   function setTodoButtonComplete(pageNumber) {
    $("#button-todo-" + pageNumber).removeClass("btn-danger")
                                   .addClass("btn-success btn-glyphicon")
                                   .html("<span class='glyphicon glyphicon-ok'></span>");
   }

   $("#table-relationships-all,#table-page-2-networks").on("click", ".span-remove-network", function() {
    var networkId = $(this).attr("data-network-id");
    $(".td-network-" + networkId).animate({width:"toggle"},350);
    $(".td-page-2-network-" + networkId).slideUp();
    $(".option-relationship-select-picker-network-" + networkId).remove();

    $.ajax({
     type: "DELETE",
     url: "{{ path('ApiNetworkPost') }}/" + networkId
    });
   });

   $(".button-approve-ignore").click( function(event) {
    event.preventDefault();
    event.stopPropagation();
    var parent = $(this).parent();

    $("#div-relationship-approve-ignore-" + parent.attr("data-origination-user-id") + "-" + parent.attr("data-destination-user-id") + "-" + parent.attr("data-network-id")).slideUp();
    $("#li-relationship-approve-ignore-" + parent.attr("data-origination-user-id") + "-" + parent.attr("data-destination-user-id") + "-" + parent.attr("data-network-id")).slideUp();
    var relationshipsAwaitingApprovalCount = parseInt($("#span-badge-relationships-awaiting-approval").html()) - 1;
    if( relationshipsAwaitingApprovalCount ){
     $("#span-badge-relationships-awaiting-approval").html(relationshipsAwaitingApprovalCount);
    } else {
     $("#span-badge-relationships-awaiting-approval").hide();
     $("#li-no-new-relationships").show();
     $("#div-no-new-relationships").slideDown();
     setTodoButtonComplete(1);
    }

    showNextNewRelationshipDropdownItem();

    var originationUserId = parent.attr("data-origination-user-id");
    var destinationUserId = parent.attr("data-destination-user-id");
    var ignoreRelationshipBoolean = $(this).attr("data-ignore");

    if( ignoreRelationshipBoolean == 0 
     && typeof userPageUserIdIfNotCurrentUserId != 'undefined'
     && (userPageUserIdIfNotCurrentUserId == originationUserId || userPageUserIdIfNotCurrentUserId == destinationUserId) )
     startReloadPostsCounter();

    $.ajax({
     type: "POST",
     url: "{{ path('ApiRelationshipPostApproveOrIgnore') }}",
     data: {
      origination_user_id: originationUserId,
      destination_user_id: destinationUserId,
      network_id: parent.attr("data-network-id"),
      ignore_relationship_boolean: ignoreRelationshipBoolean
     }
    });
   });

   $("#a-more-new-relationships").click( function(event) {
    event.stopPropagation();
    event.preventDefault();
    for(var i = 0; i < 5; i++)
     showNextNewRelationshipDropdownItem();
   });

   $("#select-privacy,#select-privacy2").selectpicker()
                                        .change( function() {
    var privacyVal = $(this).val();

    if( $("#select-privacy").val() != privacyVal )
     $("#select-privacy").selectpicker('val', privacyVal);
    if( $("#select-privacy2").val() != privacyVal )
     $("#select-privacy2").selectpicker('val', privacyVal);

    if( privacyVal == 0 )
     $("#div-alert-noone-option,#div-alert-noone-option2").show();
    else
     $("#div-alert-noone-option,#div-alert-noone-option2").hide();

    $.ajax({
     type: "POST",
     url: "{{ path('ApiUserPostPrivacySetting') }}",
     data: {
      privacy_setting: privacyVal
     }
    });
   });

   $("#span-remove-todo-list").click( function() {
    $("#div-todo-list").hide();
    $.ajax({
     type: "POST",
     url: "{{ path('ApiUserHideToDoListPost') }}"
    });
   });
  {% endif %}

  function optionSelectPickerAddAddClickListener() {
   $(".option-select-picker-add").click( function(event) {
    event.stopPropagation();
    $(this).parent().parent().parent().parent().click();
    $("#blank-modal-title").html("Add Network");
    $("#blank-modal-body").html(
    "<div id='div-add-network-alert' style='display:none;'></div>" +
    "<form id='form-add-network' role='form' style='padding-bottom:10px;'>" +
     "<div class='form-group'>" +
      "<label for='input-network-name'>Name</label>" +
      "<input id='input-network-name' type='text' class='form-control' placeholder='Enter network name...'>" +
     "</div>" +
     "<button type='submit' class='btn btn-danger'>Add</button>" +
    "</form>" +
    "<div class='progress progress-striped active' style='display:none;'>" +
     "<div id='div-add-network-progress-bar' class='progress-bar progress-bar-warning' role='progressbar' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100' style='width:25%'></div>" +
    "</div>");
    $("#blank-modal").modal("show");

    $("#form-add-network").on("submit", function(event) {
     event.preventDefault();
     setProgressBarPercentage("div-add-network-progress-bar", 50);
     $("#form-add-network :input").attr("disabled", true);
     var networkName = $("#input-network-name").val();
     $.ajax({
      type: "POST",
      url: "{{ path('ApiNetworkPost') }}",
      data: {
       text: networkName
      }
     }).done( function(returnedJsonString) {
      setProgressBarPercentage("div-add-network-progress-bar", 75);
      addNetwork(returnedJsonString['id'], networkName);
      setProgressBarPercentage("div-add-network-progress-bar", 100);
      $("#blank-modal").modal("hide");
     }).fail( function() {
      $("#form-add-network :input").removeAttr("disabled");
      setProgressBarFailure("div-add-network-progress-bar");
      $('#div-add-network-alert')
       .html("Relationship Type failed to save... Try again?")
       .attr("class","alert alert-danger")
       .show();
     });
    });
   });
  }

  function addNetwork(id, text) {
   $(".option-relationship-select-picker-divider").before("<option value='" + id + "' class='option-relationship-select-picker-network-" + id + "'>" + text + "</option>");
   $("#relationship-select-picker").selectpicker("refresh");
   $("#invite-select-picker").selectpicker("refresh");
   $("#invite2-select-picker").selectpicker("refresh");
   $(".tutorial-relationship-select-picker").selectpicker("refresh");
   optionSelectPickerAddAddClickListener();

   $("#td-empty-last-header-cell").before("<td class='td-network-" + id + "'>" + text + "</td>");
   $(".td-empty-last-row-cell").before("<td class='td-network-" + id + "'><button class='btn btn-default button-relationship-select button-relationship-unselected' data-network-id='" + id + "'><span class='glyphicon glyphicon-ok' value='" + id + "'></span></button></td>");
   $("#td-empty-last-footer-cell").before("<td class='td-network-" + id + "' style='text-align:center;'><span class='glyphicon glyphicon-trash span-remove-network' style='color:darkgrey;cursor:pointer;' title='Hide " + text + "' data-network-id='" + id + "'></span></td>");
  }

  function resetFormPhotoUploader() {
   if( $("#div-account-page-uploader-container").length != 0 ){
    $("#new-form-photo-uploader").appendTo($("#div-account-page-uploader-container"));
   } else {
    $("#new-form-photo-uploader").appendTo($("#new-form-photo-uploader-container"));
    $("#tbody-image-uploader-files").html("");
    $("#new-form-photo-uploader :input").removeAttr("disabled");
    $('#button-fileuploader-start').hide();
    $('#button-fileuploader-cancel').hide();
    arrayOfPhotosAttachedToCurrentNewPost = new Array();
   }
  }

  {% block javascript %}{% endblock %}

  $("#invite-select-picker").selectpicker();
  $("#invite2-select-picker").selectpicker();

  var relationshipPostQueue = new Array();

  function processRelationshipPost(relationshipPost)
  {
   $.ajax({
    type: "POST",
    url: "{{ path('ApiRelationshipPost') }}",
    data: {
     network_ids: relationshipPost.networks,
     origination_user_id: relationshipPost.originationUserId,
     destination_user_id: relationshipPost.destinationUserId
    }
   }).done( function(returnedJsonString) {
    $('#alert-relationships')
     .html("Relationship save succeeded!")
     .attr("class","alert alert-success");

    relationshipPostQueue.shift();
    if( relationshipPostQueue.length >= 1 )
     processRelationshipPost(relationshipPostQueue[0]);

   }).fail( function() {
    $('#alert-relationships')
     .html("Relationship failed to save...")
     .attr("class","alert alert-danger")
     .show();
   });
  }

  function queueRelationshipPost(relationshipPost)
  {
   relationshipPostQueue.push(relationshipPost);
   if( relationshipPostQueue.length == 1 )
    processRelationshipPost(relationshipPost);
  }

  $(".relationship-select-picker").change( function() {
   var relationshipPost =
   {
    networks: $(this).val(),
    originationUserId: $(this).parent().attr('data-origination-user-id'),
    destinationUserId: $(this).parent().attr('data-destination-user-id')
   };
   queueRelationshipPost(relationshipPost);
  });

  optionSelectPickerAddAddClickListener();
 </script>
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54336964-1', 'auto');
  ga('send', 'pageview');
 </script>
</body>
</html>