{% macro UserImage(user) %}
 <img src="{{ user.profilePicUrl }}" alt="" height="32" width="32" style="border-radius:50%;background-color:#{{ user.backgroundHtmlColor }};margin-right:3px;">{% endmacro %}

{% macro UserPageAnchor(user, anchorText='', id='') %}
 <a href='{{ path('UserPage', {'userid': user.id, 'username': user.getUrlUsername}) }}' id='{{ id }}' class='a-user-page'>{% if anchorText %}{{ anchorText|raw }}{% else %}{{ user.username }}{% endif %}</a>{% endmacro %}

{% macro PostPageAnchor(post, anchorText='post', class='', getParameterString='') %}
 <a href="{{ path('PostPage', {'post_id': post.id}) }}{{ getParameterString }}" class="{{ class }}">{{ anchorText|raw }}</a>{% endmacro %}

{% macro UserProfilePic(user, circumference='64', rightMargin='6', leftMargin='0') %}
 {% import _self as macros %}
 {{ macros.UserPageAnchor(user, "<img src='" ~ user.profilePicUrl ~ "' alt='' height='" ~ circumference ~ "' width='" ~ circumference ~ "' style='border-radius:50%;background-color:#" ~ user.backgroundHtmlColor ~ ";margin-right:" ~ rightMargin ~ "px;margin-left:" ~ leftMargin ~ "px;'>") }}
{% endmacro %}

{% macro notificationAnchor(notification, uniqueType) %}
 {% import _self as macros %}
 {% if notification.getTargetPost %}
  {{ macros.PostPageAnchor(notification.getTargetPost, "<img src='" ~ notification.createdUser.profilePicUrl ~ "' alt='' height='32' width='32' style='border-radius:50%;background-color:#" ~ notification.createdUser.backgroundHtmlColor ~ ";margin-right:3px;'>" ~ notification.getDescription ~ " " ~ macros.timestampSpan(uniqueType, notification.id, notification.createdDatetime.date), notification.opened ? '' : 'a-notification-unclicked', '?notification_id=' ~ notification.md5) }}
 {% else %}
  {{ macros.UserPageAnchor(notification.createdUser, "<img src='" ~ notification.createdUser.profilePicUrl ~ "' alt='' height='32' width='32' style='border-radius:50%;background-color:#" ~ notification.createdUser.backgroundHtmlColor ~ ";margin-right:3px;'>" ~ notification.getDescription ~ " " ~ macros.timestampSpan(uniqueType, notification.id, notification.createdDatetime.date), notification.opened ? '' : 'a-notification-unclicked', '?notification_id=' ~ notification.md5) }}
 {% endif %}
{% endmacro %}

{% macro timestampSpan(uniqueType, id, timestamp) %}
 <span id="timestamp_{{ uniqueType }}_{{ id }}" class="span-timestamp"></span>
 <script type="text/javascript">
  datesToSet.timestamp_{{ uniqueType }}_{{ id }} = "{{ timestamp|date('Y-m-d\\TH:i:sP') }}";
 </script>
{% endmacro %}

{% macro integerNotificationFrequencyToDescription(integerFrequency) %}
 {% if integerFrequency == 1 %}Weekly
 {% elseif integerFrequency == 2 %}Daily
 {% elseif integerFrequency == 3 %}Instantly
 {% else %}Never
 {% endif %}
{% endmacro %}

{% macro newPostJs(postSourcePath, ignoreLoadingAdditionalPosts=null) %}
 {% import _self as macros %}
 var postSource = "{{ postSourcePath }}";
 var pagePostCount = 0;
 var shareFormListofUsersRelationships = "";
 var pagePostImages = new Object();
 {% if app.user %}
  {% for network in app.user.getNetworksWithoutIsIndividualSharesType %}
   shareFormListofUsersRelationships += "<option value='{{ network.id }}' {% if network.isDefaultType %}class='option-default-network'{% endif %}>{{ network.text }}</option>";
  {% endfor %}
 {% endif %}
 if( typeof(toAddToPostSource) !== 'undefined')
  postSource += toAddToPostSource;

 function generateSharePostHtml(count) {
  var returnString = 
  "<div id='div-share-alert" + count + "' style='display:none;'></div>" +
  "<form id='form-share-post" + count + "' role='form' style='padding-bottom:10px;'>" +
   "<div class='form-group'>" +
    "<label for='input-share-users" + count + "'>Share with:</label>&nbsp;" +
    "<input id='input-share-users" + count + "' type='text' class='form-control' placeholder='Individuals...'>" +
    "<div style='float:right;'>" +
     "<select id='select-share-form-relationships" + count + "' data-style='btn-primary' multiple title='Networks...'>" +
      shareFormListofUsersRelationships +
     "</select>" +
    "</div>" +
   "</div>" +
   "<div class='form-group' style='clear:both;'>" +
    "<label for='textarea-share-message" + count + "'>Message</label>" +
    "<textarea id='textarea-share-message" + count + "' placeholder='Enter text' class='form-control' rows='3'></textarea>" +
   "</div>";
   if( count === "" ){
    returnString +=
     "<button type='submit' class='btn btn-danger'>Share</button>" +
    "</form>" +
    "<div class='progress progress-striped active' style='display:none;'>" +
     "<div id='div-share-submit-progress-bar" + count + "' class='progress-bar progress-bar-warning' role='progressbar' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100' style='width:25%'></div>" +
    "</div>";
   } else {
    returnString +=
    "</form>" +
    "<hr>";
   }
  return returnString;
 }

 function attachListenersToSharePostHtml(count) {
  $("#select-share-form-relationships" + count).selectpicker();
  if( Array.isArray(defaultPostShareNetworkIds) )
   $("#select-share-form-relationships" + count).selectpicker('val', defaultPostShareNetworkIds).selectpicker('render');

  $("#input-share-users" + count).tagsinput({
   typeahead: {
    source: function (query) {
     return $.get('{{ path('ApiUserWithApprovedRelationshipAutocomplete') }}', { search_string: query });
    }
   }
  });
  if( Array.isArray(defaultPostShareFriendUsernames) )
   for(var i = 0; i < defaultPostShareFriendUsernames.length; i++ )
    $("#input-share-users" + count).tagsinput('add', defaultPostShareFriendUsernames[i]);
 }

 function addNewPostHtml(dataType, dataId) {
 var returnString = 
 "<div id='div-post-alert' style='display:none;'></div>" +
 "<form id='" + dataType + dataId + "-form-post' role='form' style='text-align:left;margin-bottom:10px;'>" +
  "<div class='form-group'>" +
   "<label for='" + dataType + dataId + "-textarea-post-text'>Text</label>" +
   "<textarea id='" + dataType + dataId + "-textarea-post-text' placeholder='Enter text' class='form-control' rows='3'></textarea>" +
   "<div id='" + dataType + dataId + "-liveurl-loader' class='liveurl-loader'></div>" +
   "<div id='" + dataType + dataId + "-liveurl' class='liveurl'>" +
    "<div id='" + dataType + dataId + "-liveurl-close' class='close' title='Close'></div>" +
    "<div class='inner'>" +
     "<div id='" + dataType + dataId + "-liveurl-image' class='image'></div>" +
     "<div class='details'>" +
      "<div class='info'>" +
       "<div id='" + dataType + dataId + "-liveurl-title' class='title'></div>" +
       "<div id='" + dataType + dataId + "-liveurl-description' class='description'></div>" +
       "<div class='url'><a href='#' target='_blank' id='" + dataType + dataId + "-liveurl-url'></a></div>" +
      "</div>" +
      "<div id='" + dataType + dataId + "-liveurl-thumbnail' class='thumbnail'>" +
       "<div class='pictures'>" +
        "<div id='" + dataType + dataId + "-liveurl-controls' class='controls'>" +
         "<div class='prev button inactive'></div>" +
         "<div class='next button inactive'></div>" +
         "<div class='count'>" +
          "<span class='current'>0</span><span> of </span><span class='max'>0</span>" +
         "</div>" +
        "</div>" +
       "</div>" +
      "</div>" +
      "<div id='" + dataType + dataId + "-liveurl-video' class='video' data-url='' data-height='' data-width=''></div>" +
     "</div>" +
    "</div>" +
   "</div>" +
  "</div>";
  if( !dataId ){
   returnString +=
   "<div id='div-" + dataType + dataId + "-new-post-photo-container'></div>" +
   "<div class='form-group'>" +
    "<label for='" + dataType + dataId + "-select-post-public'>Publicly Post to Profile&nbsp;</label>" +
    "<input type='checkbox' id='" + dataType + dataId + "-select-post-public'>" +
    "<div><small style='color:darkgrey;'>Posts are normally visible to you and those you share them with. Checking this will make this post visible to everyone who views your profile page.</small></div>" +
   "</div>" +
   "<hr>" +
   "<label for='input-share-users'>Share with:</label>&nbsp;" +
   "<input id='input-share-users' type='text' class='form-control' placeholder='Individuals...'>" +
   "<div style='float:right;'>" +
    "<select id='select-share-form-relationships' data-style='btn-primary' multiple title='Networks...'>" +
     shareFormListofUsersRelationships +
    "</select>" +
   "</div>";
  }
  returnString +=
  "<hr style='clear:both;'>" +
  "<button type='submit' class='btn btn-danger'>Post</button>" +
 "</form>" +
 "<div class='progress progress-striped active' style='display:none;'>" +
  "<div id='div-post-submit-progress-bar-" + dataType + dataId + "' class='progress-bar progress-bar-warning' role='progressbar' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100' style='width:25%'></div>" +
 "</div>";
 return returnString;
 }

 var liveurlImages = new Object();

 $("#all-posts").on("click",".button-new-post",function() {
  var dataType = $(this).attr("data-type");
  var dataId = $(this).attr("data-id");
  var dataDepth = $(this).attr("data-depth");

  if( userLoggedInId ){
   showNewPostModal(dataType, dataId, dataDepth);
  } else {
   window.location.href = "{{ path('login') }}?target_url={{ app.getRequest.getUri }}";
  }
 });

 function showNewPostModal(dataType, dataId, dataDepth) {
  $("#blank-modal-title").html(dataId === "" ? "New Post" : "New Comment");
  $("#blank-modal-body").html(addNewPostHtml(dataType, dataId));
  $("#blank-modal").modal("show");

  if( !dataId ){
   attachListenersToSharePostHtml("");

   // Attach photo uploader.
   $("#new-form-photo-uploader").attr("data-limit-to-one", "")
                                .appendTo($("#div-" + dataType + dataId + "-new-post-photo-container"));

   // Move photo uploader back to container when modal is closed.
   $('#blank-modal').on('hide.bs.modal', function () {
    resetFormPhotoUploader();
   });

   // Attach liveurl.
   $('#' + dataType + dataId + '-textarea-post-text').liveUrl({
      loadStart : function(){
          $('#' + dataType + dataId + '-liveurl-loader').show();
      },
      loadEnd : function(){
          $('#' + dataType + dataId + '-liveurl-loader').hide();
      },
      success : function(data) 
      {
          $('#' + dataType + dataId + '-liveurl-title').text(data.title);
          $('#' + dataType + dataId + '-liveurl-description').text(data.description);
          $('#' + dataType + dataId + '-liveurl-url').attr('href',data.url).text(data.url);
          $('#' + dataType + dataId + '-liveurl-image').empty();
          liveurlImages = new Object();

          $('#' + dataType + dataId + '-liveurl-close').one('click', function() 
          {
              var liveUrl     = $(this).parent();
              liveUrl.hide('fast');
              liveUrl.find('.video').html('').hide();
              liveUrl.find('.image').html('');
              liveUrl.find('.controls .prev').addClass('inactive');
              liveUrl.find('.controls .next').addClass('inactive');
              liveUrl.find('.thumbnail').hide();
              liveUrl.find('.image').hide();

              $('#' + dataType + dataId + '-textarea-post-text').trigger('clear');
              liveurlImages = new Object();
          });

          $('#' + dataType + dataId + '-liveurl').show('fast');

          if (data.video != null) {                       
              var ratioW        = data.video.width  /350;
              data.video.width  = 350;
              data.video.height = data.video.height / ratioW;

              var video = 
              '<object width="' + data.video.width  + '" height="' + data.video.height  + '">' +
                  '<param name="movie"' +
                        'value="' + data.video.file  + '"></param>' +
                  '<param name="allowScriptAccess" value="always"></param>' +
                  '<embed src="' + data.video.file  + '"' +
                        'type="application/x-shockwave-flash"' +
                        'allowscriptaccess="always"' +
                        'width="' + data.video.width  + '" height="' + data.video.height  + '"></embed>' +
              '</object>';
              $('#' + dataType + dataId + '-liveurl-video')
                  .html(video)
                  .show()
                  .attr('data-url',data.video.file)
                  .attr('data-height',data.video.height)
                  .attr('data-width',data.video.width);
          }
      },
      addImage : function(image)
      {
          var jqImage = $(image);
          jqImage.attr('alt', 'Preview');

          if ((image.width / image.height)  > 7 
          ||  (image.height / image.width)  > 4 ) {
              // we dont want extra large images...
              return false;
          } 

          var dataKey = dataType + dataId;
          if( !(dataKey in liveurlImages) )
              liveurlImages[dataKey] = new Array();
          liveurlImages[dataKey].push(jqImage.attr('src'));
          $('#' + dataType + dataId + '-liveurl-image').append(jqImage);

          if (liveurlImages[dataKey].length == 1) {
              // first image...

              $('#thumbnail .current').text('1');
              $('#thumbnail').show();
              $('#' + dataType + dataId + '-liveurl-image').show();
              jqImage.addClass('active');
          }

          if (liveurlImages[dataKey].length == 2) {
              $('#controls .next').removeClass('inactive');
          }

          $('#thumbnail .max').text(liveurlImages[dataKey].length);
      }
   });
   $('#' + dataType + dataId + '-liveurl').on('click', '.controls .button', function() 
   {
      var self        = $(this);
      var liveUrl     = $(this).parents('.liveurl');
      var content     = liveUrl.find('.image');
      var images      = $('img', content);
      var activeImage = $('img.active', content);

      if (self.hasClass('next')) 
           var elem = activeImage.next("img");
      else var elem = activeImage.prev("img");

      if (elem.length > 0) {
          activeImage.removeClass('active');
          elem.addClass('active');  
          liveUrl.find('.thumbnail .current').text(elem.index() +1);

          if (elem.index() +1 == images.length || elem.index()+1 == 1) {
              self.addClass('inactive');
          }
      }

      if (self.hasClass('next')) 
           var other = elem.prev("img");
      else var other = elem.next("img");

      if (other.length > 0) {
          if (self.hasClass('next')) 
                 self.prev().removeClass('inactive');
          else   self.next().removeClass('inactive');
     } else {
          if (self.hasClass('next')) 
                 self.prev().addClass('inactive');
          else   self.next().addClass('inactive');
     }
   });
  }

  var currentNewPostShareCount = 0;
  $("#" + dataType + dataId + "-form-post").submit( function(event) {
   setProgressBarPercentage("div-post-submit-progress-bar-" + dataType + dataId, 50);
   $("#" + dataType + dataId + "-form-post :input").attr("disabled", true);
   $.ajax({
    type: "POST",
    url: "{{ path('ApiPostPost') }}",
    data: {
     text: $("#" + dataType + dataId + "-textarea-post-text").val(),
     title: $("#" + dataType + dataId + "-input-post-title").val(),
     parent_post: dataType == 'post' ? dataId : '',
     is_public: $("#" + dataType + dataId + "-select-post-public").is(":checked") ? 1 : 0,
     attachment_is_shown: $("#" + dataType + dataId + "-liveurl").is(":visible") ? 1 : 0,
     attachment_title: $("#" + dataType + dataId + "-liveurl-title").text(),
     attachment_description: $("#" + dataType + dataId + "-liveurl-description").text(),
     attachment_url: $("#" + dataType + dataId + "-liveurl-url").text(),
     attachment_image_url: $("#" + dataType + dataId + "-liveurl-image").find('.active').attr("src") ? $("#" + dataType + dataId + "-liveurl-image").find('.active').attr("src") : "",
     attachment_video_url: $('#' + dataType + dataId + '-liveurl-video').attr('data-url'),
     attachment_video_height: $('#' + dataType + dataId + '-liveurl-video').attr('data-height'),
     attachment_video_width: $('#' + dataType + dataId + '-liveurl-video').attr('data-width'),
     arrayOfPhotosAttachedToCurrentNewPost: arrayOfPhotosAttachedToCurrentNewPost,
     network_array: $("#select-share-form-relationships").val() ? $("#select-share-form-relationships").val() : new Array(),
     friends_array: $("#input-share-users").tagsinput('items')
    }
   }).done( function(returnedJsonString) {
    if( 'message' in returnedJsonString ){
     newPostFail(returnedJsonString.message);
     return;
    }
    setProgressBarPercentage("div-post-submit-progress-bar-" + dataType + dataId, 75);
    defaultPostShareFriendUsernames = $("#input-share-users").tagsinput('items');
    defaultPostShareNetworkIds = $("#select-share-form-relationships").val() ? $("#select-share-form-relationships").val() : new Array();
    if( dataType == 'post' ){
     $(buildPostHtml(returnedJsonString.post, dataId, parseInt(dataDepth) + 1, false, true)).appendTo($("#div-subposts-list-post-" + dataId)).slideDown();
     var newSubpostCount = parseInt($("#post-" + dataId + "-subpost-count").html()) + 1;
     $("#post-" + dataId + "-subpost-count").html(newSubpostCount);
     $("#post-" + dataId + "-subpost-count-description").html(newSubpostCount == 1 ? "comment" : "comments");
     $("#td-show-subposts-" + dataId).removeClass("post-option-disabled");
    } else {
     $(buildPostHtml(returnedJsonString.post, "base", 0, false, true)).prependTo($("#div-all-posts-base")).slideDown();
    }
    setProgressBarPercentage("div-post-submit-progress-bar-" + dataType + dataId, 100);
    $("#blank-modal").modal("hide");
   }).fail( function() {
    newPostFail();
   });
   event.preventDefault();
  });

  function newPostFail(message) {
   $("#" + dataType + dataId + "-form-post :input").removeAttr("disabled");
   setProgressBarFailure("div-post-submit-progress-bar-" + dataType + dataId);
   $('#div-post-alert')
    .html(message ? message : "Post failed to save... Try again?")
    .attr("class","alert alert-danger")
    .show();
  }
 }

  function buildPostHtml(postObject, parentPostId, depth, boolShowProgressBar, boolDisplayNone) {
   var createdDatetimeMoment = moment(postObject.createdDatetime);
   var createdUserImageUrl = postObject.createdUserImageUrl;
   var userPostArrowColor = postObject.userPostsCreatedByUser>0 ? "arrow-up-orange" : "arrow-up-black";
   var internalMargin = depth == 0 ? "12px" : "0";
   var imageCellPadding = depth == 0 ? "6px" : "3px";
   var imageSize = depth == 0 ? 64 : 32;
   var hrMargin = depth == 0 ? "12px" : "0";
   var displayNone = boolDisplayNone ? "display:none;" : "";
   var htmlString = 
   "<div id='div-post-id-" + postObject.id + "' class='div-post-created-by-user-id-" + postObject.createdUserId + "' style='" + displayNone + "' data-depth='" + depth + "'>" +
    "<div>" +
     "<div id='div-post-top-content-id-" + postObject.id + "'>" +
      "<div style='display:table;'>";
       if ("postShares" in postObject) {
        for (var i = 0; i < postObject.postShares.length; i++) {
         //  If the Post's Created User is the same as the PostShare's Created User and there's no message, don't show the PostShare.
         if( postObject.postShares[i].createdUserId == postObject.createdUserId
          && !postObject.postShares[i].message )
          continue;
         var postShareCreatedUserImageUrl = postObject.postShares[i].createdUserImageUrl;
         var postShareCreatedDatetimeMoment = moment(postObject.postShares[i].createdDatetime);
         htmlString +=
         "<div class='div-postshare-created-by-user-id-" + postObject.postShares[i].createdUserId + "' style='display:table-row;' data-id='" + postObject.id + "'>" +
          "<div style='display:table-cell;text-align:center;'>" +
           "<a href='" + postObject.postShares[i].createdUserUrl + "'><img src='" + postShareCreatedUserImageUrl + "' alt='' height='32' width='32' style='border-radius:50%;background-color:#" + postObject.postShares[i].createdUserBackgroundColor + ";'></a>" +
          "</div>" +
          "<div style='display:table-cell;vertical-align:top;padding-bottom:" + internalMargin + ";'>";
          {% if postSourcePath == path('ApiPostHomepageGet') %}
           htmlString +=
           "<div class='dropdown' style='float:right;'>" +
            "<div id='div-hide-post-dropdown-post-id-" + postObject.postShares[i].id + "'  style='color:darkgrey;' data-toggle='dropdown'><span class='span-hide-post-dropdown' style='cursor:pointer;'><span class='glyphicon glyphicon-remove'></span></span></div>" +
            "<ul class='dropdown-menu dropdown-menu-right' role='menu' aria-labelledby='div-hide-post-dropdown-post-id-" + postObject.postShares[i].id + "'>";
             for( var j = 0; j < postObject.postShares[i].networks.length; j++ ){
              var networkLeaveOrJoinVerb = postObject.postShares[i].networks[j].approvedByDestinationUser ? "Leave" : "Join";
              htmlString += "<li><a href='#' class='a-leave-network' data-post-id='" + postObject.id + "' data-origination-user-id='" + postObject.postShares[i].createdUserId + "' data-network-id='" + postObject.postShares[i].networks[j].id + "'><span class='span-post-share-verb-post-" + postObject.id + "-network-" + postObject.postShares[i].networks[j].id + "'>" + networkLeaveOrJoinVerb + "</span> " + postObject.postShares[i].createdUserUsername + "'s " + postObject.postShares[i].networks[j].text + " Network</a></li>";
             }
            htmlString +=
            "</ul>" +
           "</div>";
          {% endif %}
           htmlString +=
           "<div><small><a href='" + postObject.postShares[i].createdUserUrl + "'>" + postObject.postShares[i].createdUserUsername + "</a> <span style='cursor:pointer;' title='" + postShareCreatedDatetimeMoment.format("dddd, MMMM Do YYYY, h:mm:ss a") + "'>shares:</span></small></div>" +
           "<div><em>" + postObject.postShares[i].message + "</em></div>" +
          "</div>" +
         "</div>";
        }
       }
       htmlString +=
       "<div style='display:table-row;'>" +
        "<div style='display:table-cell;padding:0 " + imageCellPadding + " 0 " + imageCellPadding + ";'>" +
         "<a href='" + postObject.createdUserUrl + "'><img src='" + createdUserImageUrl + "' alt='' height='" + imageSize + "' width='" + imageSize + "' style='border-radius:50%;background-color:#" + postObject.createdUserBackgroundHtmlColor + ";'></a>" +
        "</div>" +
        "<div style='display:table-cell;width:100%;vertical-align:top;'>";
         if( postObject.currentUserCreatedPost ){
          htmlString += "<div style='float:right;'><small>";
          htmlString += postObject.isPublic ? "<span class='green'>Public</span>" : "<span class='red'>Private</span>";
          htmlString += "</small></div>";
          {% if app.user and postSourcePath == path('ApiPostHomepageGet') %}
           } else if( depth == 0 ){
            htmlString +=
            "<div class='dropdown' style='float:right;'>" +
             "<div id='div-hide-post-dropdown-post-id-" + postObject.id + "'  style='color:darkgrey;' data-toggle='dropdown'><span class='glyphicon glyphicon-remove span-hide-post-dropdown' style='cursor:pointer;'></span></div>" +
             "<ul class='dropdown-menu dropdown-menu-right' role='menu' aria-labelledby='div-hide-post-dropdown-post-id-" + postObject.id + "'>";
              if( "postShares" in postObject ){
               var listOfNetworkIdsIncludedInPost = {};
               for( var i = 0; i < postObject.postShares.length; i++ )
                for( var j = 0; j < postObject.postShares[i].networks.length; j++ )
                 if( !listOfNetworkIdsIncludedInPost.hasOwnProperty(postObject.postShares[i].networks[j].id) ){
                  var networkLeaveOrJoinVerb = postObject.postShares[i].networks[j].approvedByDestinationUser ? "Leave" : "Join";
                  htmlString += "<li><a href='#' class='a-leave-network' data-post-id='" + postObject.id + "' data-origination-user-id='" + postObject.postShares[i].createdUserId + "' data-network-id='" + postObject.postShares[i].networks[j].id + "'><span class='span-post-share-verb-post-" + postObject.id + "-network-" + postObject.postShares[i].networks[j].id + "'>" + networkLeaveOrJoinVerb + "</span> " + postObject.postShares[i].createdUserUsername + "'s " + postObject.postShares[i].networks[j].text + " Network</a></li>";
                  listOfNetworkIdsIncludedInPost[postObject.postShares[i].networks[j].id] = true;
                 }
              }
              htmlString +=
              "<li class='divider'></li>" + 
              "<li><a href='#' class='a-hide-post' data-id='" + postObject.id + "' data-spam='1'>Hide this post (It's spam.)</a></li>" +
              "<li><a href='#' class='a-hide-post' data-id='" + postObject.id + "' data-spam='0'>Hide this post (Just because...)</a></li>" +
             "</ul>" +
            "</div>";
          {% endif %}
         }
         htmlString +=
         "<div style='padding-bottom:" + internalMargin + ";'><small><a href='" + postObject.createdUserUrl + "'>" + postObject.createdUserUsername + "</a>:</small></div>";
         if( postObject.title )
          htmlString += "<h6>" + postObject.title + "</h6>";
         htmlString += "<div>" + postObject.text;
         if( postObject.hiddenText ){
          htmlString += "<span id='span-show-hidden-text-post-" + postObject.id + "'>... <a href='#' class='a-show-post-hidden-text' data-id='" + postObject.id + "'>More</a></span>";
          htmlString += "<span id='span-hidden-text-post-" + postObject.id + "' style='display:none;'>" + postObject.hiddenText + "</span>";
         }
         htmlString += "</div><div><table><tr>";
         for( var i = 0; i < postObject.photos.length; i++ ){
          if( i>0 && i%3 == 0 )
           htmlString += "</tr><tr>";
          htmlString += "<td><img src='" + postObject.photos[i] + "' alt='' class='img-post' data-post-id='" + postObject.id + "' data-image-iterator='" + i + "'></td>";
          pagePostImages[postObject.id + '-' + i] = postObject.photos[i];
         }
         htmlString += "</tr></table></div><div>";
         if( postObject.attachmentTitle ){
          htmlString +=
           "<a href='" + postObject.attachmentUrl + "' target='_blank' class='liveurl' style='display:block;'>" +
            "<div class='inner'>";
            if( postObject.attachmentImageUrl && !postObject.attachmentVideoUrl && !postObject.attachmentVideoHeight && !postObject.attachmentVideoWidth )
             htmlString += "<div class='image' style='display:block;'><img src='" + postObject.attachmentImageUrl + "' alt='' style='display:block;'></div>";
            htmlString +=
             "<div class='details'>" +
              "<div class='info'>" +
               "<div class='title'>" + postObject.attachmentTitle + "</div>" +
               "<div class='description'>" + postObject.attachmentDescription + "</div>" +
               "<div class='attachmentUrlHost'>" + postObject.attachmentUrlHost + "</div>" +
              "</div>";
             if( postObject.attachmentVideoUrl && postObject.attachmentVideoHeight && postObject.attachmentVideoWidth ){
              htmlString += '<div class="video" style="display:block;">' +
                             '<object width="' + postObject.attachmentVideoWidth  + '" height="' + postObject.attachmentVideoHeight  + '">' +
                     '<param name="movie"' +
                           'value="' + postObject.attachmentVideoUrl  + '"></param>' +
                     '<param name="allowScriptAccess" value="always"></param>' +
                     '<embed src="' + postObject.attachmentVideoUrl  + '"' +
                           'type="application/x-shockwave-flash"' +
                           'allowscriptaccess="always"' +
                           'width="' + postObject.attachmentVideoWidth  + '" height="' + postObject.attachmentVideoHeight  + '"></embed>' +
                 '</object>' +
              '</div>';
             }
             htmlString +=
             "</div>" +
            "</div>" +
           "</a>";
         }
         htmlString +=
         "</div>" +
         "<div style='padding-top:" + internalMargin + ";'><span class='span-timestamp' title='" + createdDatetimeMoment.format("dddd, MMMM Do YYYY, h:mm:ss a") + "'>" + createdDatetimeMoment.fromNow() + "</span></div>" +
        "</div>" +
       "</div>" +
      "</div>" +
     "</div>" +
     "<div>";
      if( depth == 0 ){
       htmlString +=
       "<div style='text-align:center;'>" +
        "<div class='button-upvote-post' style=\"display:inline-block;margin:20px;min-width:64px;min-height:64px;text-align:center;background-image:url('{{ asset('/images/circle_blue_64.png') }}');background-repeat:no-repeat;color:white;cursor:pointer;\" data-id='" + postObject.id + "' >" +
         "<table style='min-width:64px;'>" +
          "<tr>" +
           "<td>" +
            "<span id='span-page-post-number-" + pagePostCount + "' data-id='" + postObject.id + "'>" +
             "<span id='post-" + postObject.id + "-1' class='logo-arrow-image " + userPostArrowColor + " post-arrow' title='Vote' style='cursor:pointer;' data-id='" + postObject.id + "'></span>" +
            "</span>" +
           "</td>" +
          "</tr>" +
          "<tr>" +
           "<td>" +
            "<span id='post-" + postObject.id + "-count' class='span-post-circle-count'>" + postObject.userPostsCount + "</span>" +
           "</td>" +
          "</tr>" +
          "<tr>" +
           "<td class='td-post-circle-label'>" +
            "<span id='post-" + postObject.id + "-upvote-count' class='span-post-circle-label'>upvote";
             if( postObject.userPostsCount != 1 )
              htmlString += "s";
             htmlString +=
            "</span>" +
           "</td>" +
          "</tr>" +
          "<tr style='color:black;'>" +
           "<td id='td-span-upvote-count-post-" + postObject.id + "' class='span-post-count";
            if( postObject.userPostsCount == 0 )
             htmlString += " post-option-disabled";
            htmlString +=
            "' data-id='" + postObject.id + "'>" +
            "<span id='span-upvote-arrow-post-" + postObject.id + "' class='glyphicon glyphicon-circle-arrow-down' style='padding-top:10px;'></span>" +
           "</td>" +
          "</tr>" +
         "</table>" +
        "</div>";
        if( !postObject.hasParentPost ){
         htmlString +=
         "<div class='button-share-post' style=\"display:inline-block;margin:20px;min-width:64px;min-height:64px;text-align:center;background-image:url('{{ asset('/images/circle_red_64.png') }}');background-repeat:no-repeat;color:white;cursor:pointer;\" data-id='" + postObject.id + "' >" +
          "<table style='min-width:64px;'>" +
           "<tr>" +
            "<td style='height:14px;'></td>" +
           "</tr>" +
           "<tr>" +
            "<td>" +
             "<span id='post-" + postObject.id + "-share-count' class='span-post-circle-count'>" + postObject.activePostShares + "</span>" +
            "</td>" +
           "</tr>" +
           "<tr>" +
            "<td class='td-post-circle-label'>" +
             "<span id='post-" + postObject.id + "-share-count-description' class='span-post-circle-label'>share";
             if( postObject.activePostShares != 1 )
              htmlString += "s";
             htmlString +=
             "</span>" +
            "</td>" +
           "</tr>" +
           "<tr style='color:black;'>" +
            "<td id='td-share-count-" + postObject.id + "' class='share-count";
            if( postObject.activePostSharesCreatedByUser == 0 )
             htmlString += " post-option-disabled";
            htmlString += 
            "' data-id='" + postObject.id + "'>" +
             "<span id='span-share-arrow-post-" + postObject.id + "' class='glyphicon glyphicon-circle-arrow-down' style='padding-top:10px;'></span>" +
            "</td>" +
           "</tr>" +
          "</table>" +
         "</div>";
        }
        htmlString +=
        "<div class='button-new-post' style=\"display:inline-block;margin:20px;min-width:64px;min-height:64px;text-align:center;background-image:url('{{ asset('/images/circle_orange_64.png') }}');background-repeat:no-repeat;color:white;cursor:pointer;\" data-type='post' data-id='" + postObject.id + "' data-depth='" + depth + "'>" +
         "<table style='min-width:64px;'>" +
          "<tr>" +
           "<td style='height:14px;'></td>" +
          "</tr>" +
          "<tr>" +
           "<td>" +
            "<span id='post-" + postObject.id + "-subpost-count' class='span-post-circle-count'>" + postObject.subpostCount + "</span>" +
           "</td>" +
          "</tr>" +
          "<tr>" +
           "<td class='td-post-circle-label'>" +
            "<span id='post-" + postObject.id + "-subpost-count-description' class='span-post-circle-label'>comment";
            if( postObject.subpostCount != 1 )
             htmlString += "s";
            htmlString +=
            "</span> " +
           "</td>" +
          "</tr>" +
          "<tr style='color:black;'>" +
           "<td id='td-show-subposts-" + postObject.id + "' class='td-show-subposts";
          if( postObject.subpostCount == 0 )
           htmlString += " post-option-disabled";
          htmlString +=
             "' data-id='" + postObject.id + "'>" +
            "<span id='span-subpost-arrow-post-" + postObject.id + "' class='glyphicon glyphicon-circle-arrow-down' style='padding-top:10px;'></span>" +
           "</td>" +
          "</tr>" +
         "</table>" +
        "</div>" +
       "</div>";
      } else {
       htmlString +=
       "<div style='text-align:center;'>" +
        "<div class='button-upvote-post' style=\"display:inline-block;cursor:pointer;\" data-id='" + postObject.id + "' >" +
         "<span id='span-page-post-number-" + pagePostCount + "' data-id='" + postObject.id + "'>" +
          "<span id='post-" + postObject.id + "-1' class='logo-arrow-image " + userPostArrowColor + " post-arrow' title='Vote' style='cursor:pointer;' data-id='" + postObject.id + "'></span>" +
         "</span>" +
        "</div> " +
        "<b><span id='post-" + postObject.id + "-count'>" + postObject.userPostsCount + "</span></b> " +
        "<div style='display:inline-block;'>" +
         "<span id='post-" + postObject.id + "-upvote-count' class='span-post-circle-label'>upvote";
          if( postObject.userPostsCount != 1 )
           htmlString += "s";
          htmlString +=
         "</span>&nbsp;" +
         "<span style='cursor:pointer;'>" +
          "<span id='td-span-upvote-count-post-" + postObject.id + "' class='span-post-count";
           if( postObject.userPostsCount == 0 )
            htmlString += " post-option-disabled";
           htmlString +=
           "' data-id='" + postObject.id + "'>" +
           "<span id='span-upvote-arrow-post-" + postObject.id + "' class='glyphicon glyphicon-circle-arrow-down' style='padding-top:10px;'></span>" +
          "</span>" +
         "</span>" +
        "</div> " +
        "<div class='button-new-post' style=\"display:inline-block;cursor:pointer;\" data-type='post' data-id='" + postObject.id + "' data-depth='" + depth + "'>" +
         "<b><span id='post-" + postObject.id + "-subpost-count'>" + postObject.subpostCount + "</span></b> " +
          "<span id='post-" + postObject.id + "-subpost-count-description' class='span-post-circle-label'>comment";
          if( postObject.subpostCount != 1 )
           htmlString += "s";
          htmlString +=
          "</span> " +
         "</div> " +
         "<span style='cursor:pointer;'>" +
          "<span id='td-show-subposts-" + postObject.id + "' class='td-show-subposts";
          if( postObject.subpostCount == 0 )
           htmlString += " post-option-disabled";
          htmlString +=
            "' data-id='" + postObject.id + "'>" +
           "<span id='span-subpost-arrow-post-" + postObject.id + "' class='glyphicon glyphicon-circle-arrow-down' style='padding-top:10px;'></span>" +
          "</span>" +
         "</span>" +
        "</div>" +
       "</div>";
      }
      htmlString +=
      "<div id='div-post-bottom-options-id-" + postObject.id + "' class='div-post-options' style='display:none;'>";
       if( boolShowProgressBar ){
        htmlString +=
        "<div class='progress progress-striped active div-loading-posts-progress-grandchild-post-id-" + parentPostId + "' style='margin:15px 5% 15px 5%'>" +
         "<div class='progress-bar progress-bar-warning div-loading-posts-progress-bar-grandchild-post-id-" + parentPostId + "' role='progressbar' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100' style='width:50%'></div>" +
        "</div>";
       }
       htmlString +=
       "<div id='div-subposts-list-post-" + postObject.id + "' style='display:none;' data-content='0'></div>" +
       "<div id='div-userposts-list-post-" + postObject.id + "' style='display:none;'></div>" +
       "<div id='div-shares-box-post-" + postObject.id + "' style='display:none;'></div>" +
      "</div>" +
     "</div>" +
    "</div>" +
   "</div>" +
   "<hr style='margin:" + hrMargin + " 5% " + hrMargin + " 5%;'>";
   pagePostCount++;
   return htmlString;
  }

  function getSubposts(postId, depth) {
   if( $("#div-subposts-list-post-" + postId).attr("data-content") == 0 ){
    $("#div-subposts-list-post-" + postId).attr("data-content",1);
    $.ajax({
     type: "GET",
     url: "{{ path('ApiSubpostsGet') }}/" + postId
    }).done( function(returnedJsonString) {
     for (var subpostParentId in returnedJsonString.subposts) {
      if (returnedJsonString.subposts.hasOwnProperty(subpostParentId)) {
       for (var i=0; i<returnedJsonString.subposts[subpostParentId].length; i++) {
        $("#div-subposts-list-post-" + subpostParentId).append(buildPostHtml(returnedJsonString.subposts[subpostParentId][i], subpostParentId, depth+2, false, false));
       }
      }
     }
     $(".div-loading-posts-progress-grandchild-post-id-" + postId).slideUp();
    }).fail( function() {
     $(".div-loading-posts-progress-grandchild-post-id-" + postId).removeClass("progress-striped").removeClass("active");
     $(".div-loading-posts-progress-bar-grandchild-post-id-" + postId).removeClass("progress-bar-warning").addClass("progress-bar-danger");
    });
   }
  }
  $(".a-user-page").click(function() {
   event.stopPropagation();
  });

  function updateVote(answerOrArgumentString, idInt, voteInt, updateVoteCountBool) {
   if( voteInt == 1 ){  // If voting up...
    if( $('#' + answerOrArgumentString + '-' + idInt + '-1').hasClass("arrow-up-orange") ){  // If already voted up (If orange)...
     $('#' + answerOrArgumentString + '-' + idInt + '-1').addClass("arrow-up-black").removeClass("arrow-up-orange");  // Set to black.
     if( updateVoteCountBool == true ){  // If updating the vote count...
      $('#' + answerOrArgumentString + '-' + idInt + '-count').html(parseInt($('#' + answerOrArgumentString + '-' + idInt + '-count').html()) - voteInt);  // Update the vote count.
     }
     if( answerOrArgumentString == 'post' )  // If a post...
      $('#div-upvote-post-' + idInt + '-user-' + userLoggedInId).remove();  // Remove the current user from the list of upvoters.
    } else {  // If not yet voted up (If black)...
     $('#' + answerOrArgumentString + '-' + idInt + '-1').addClass("arrow-up-orange").removeClass("arrow-up-black");  // Set to orange.
     if( updateVoteCountBool == true ){  // If updating the vote count...
      $('#' + answerOrArgumentString + '-' + idInt + '-count').html(parseInt($('#' + answerOrArgumentString + '-' + idInt + '-count').html()) + voteInt);  // Update the vote count.
      if( $('#' + answerOrArgumentString + '-' + idInt + '--1').hasClass("arrow-down-orange") ){  // If black and voted down is orange...
       $('#' + answerOrArgumentString + '-' + idInt + '--1').addClass("arrow-down-black").removeClass("arrow-down-orange");  // Set down to black.
       $('#' + answerOrArgumentString + '-' + idInt + '-count').html(parseInt($('#' + answerOrArgumentString + '-' + idInt + '-count').html()) + voteInt);  // Update the vote count.
      }
     }
     if( answerOrArgumentString == 'post' ){  // If a post...
      $("#td-span-upvote-count-post-" + idInt).removeClass("post-option-disabled");  // Allow the User to see the upvotes.
      if( $("#div-userposts-list-post-" + idInt).is(":visible") ){
       $("#div-userposts-list-post-" + idInt).append(  // Add the user to the list of upvoters.
        "<div id='div-upvote-post-" + idInt + "-user-" + userLoggedInId + "'>" +
         "<div style='display:inline-block;padding:0 3px 0 3px;'>" +
          "<a href='" + userProfilePageUrl + "'><img src='" + userProfilePicUrl + "' alt='' height='32' width='32' style='border-radius:50%;background-color:#" + userBackgroundHtmlColor + ";'></a>" +
         "</div>" +
         "<div style='display:inline-block;'>" +
          "<small><a href='" + userProfilePageUrl + "'>" + userLoggedInUsername + "</a></small>" +
         "</div>" +
        "</div>"
       );
      }
     }
    }
   } else {  // If voting down...
    if( $('#' + answerOrArgumentString + '-' + idInt + '--1').hasClass("arrow-down-orange") ){  // If already voted down (If orange)...
     $('#' + answerOrArgumentString + '-' + idInt + '--1').addClass("arrow-down-black").removeClass("arrow-down-orange");  // Set to black.
     if( updateVoteCountBool == true ){  // If updating the vote count...
      $('#' + answerOrArgumentString + '-' + idInt + '-count').html(parseInt($('#' + answerOrArgumentString + '-' + idInt + '-count').html()) - voteInt);  // Update the vote count.
     }
    } else {  // If not yet voted up (If black)...
     $('#' + answerOrArgumentString + '-' + idInt + '--1').addClass("arrow-down-orange").removeClass("arrow-down-black");  // Set to orange.
     if( updateVoteCountBool == true ){  // If updating the vote count...
      $('#' + answerOrArgumentString + '-' + idInt + '-count').html(parseInt($('#' + answerOrArgumentString + '-' + idInt + '-count').html()) + voteInt);  // Update the vote count.
      if( $('#' + answerOrArgumentString + '-' + idInt + '-1').hasClass("arrow-up-orange") ){  // If black and voted up is orange...
       $('#' + answerOrArgumentString + '-' + idInt + '-1').addClass("arrow-up-black").removeClass("arrow-up-orange");  // Set up to black.
       $('#' + answerOrArgumentString + '-' + idInt + '-count').html(parseInt($('#' + answerOrArgumentString + '-' + idInt + '-count').html()) + voteInt);  // Update the vote count.
      }
     }
    }
   }
   $("#post-" + idInt + "-upvote-count").html($('#' + answerOrArgumentString + '-' + idInt + '-count').html() == 1 ? "upvote" : "upvotes");
  }
  function undoVote(answerOrArgumentString, idInt, voteInt, oldCount, newCount) {
   if( Math.abs(parseInt(newCount) - parseInt(oldCount)) > 1 )
    updateVote(answerOrArgumentString, idInt, parseInt(voteInt) * -1, true);
   else
    updateVote(answerOrArgumentString, idInt, parseInt(voteInt), true);
  }

  $("#all-posts").on("click",".button-share-post",function() {
   var postId = $(this).attr("data-id");

   if( userLoggedInId ){
    showSharePostModal(postId);
   } else {
    window.location.href = "{{ path('login') }}?target_url={{ app.getRequest.getUri }}";
   }
  });

  function postSharesToPostSharesListHtml(postShares) {
   var htmlString = "";
   for (var i = 0; i < postShares.length; i++){
    var postShareMoment = moment(postShares[i].createdDatetime);
    htmlString +=
    "<hr>" +
    "<div class='row'>" +
     "<div class='col-sm-6'>";
      for (var j = 0; j < postShares[i].networks.length; j++)
      htmlString += "<div title='" + postShares[i].networks[j].destinationUsernames + "'><a href='{{ path('RelationshipsPage') }}'>" + postShares[i].networks[j].text + "</a></div>";
     htmlString +=
     "</div>" +
     "<div class='col-sm-6'>" +
      "<em>" + postShares[i].message + "</em>" +
      "<div><span class='span-timestamp' title='" + postShareMoment.format("dddd, MMMM Do YYYY, h:mm:ss a") +"'>&mdash; " + postShareMoment.fromNow() + "</span></div>" +
     "</div>" +
    "</div>";
    ;
   }
   return htmlString;
  }

  function showSharePostModal(postId) {
   $("#blank-modal-title").html("Share Post");
   $("#blank-modal-body").html(generateSharePostHtml(""));
   attachListenersToSharePostHtml("");
   $("#blank-modal").modal("show");

   $("#form-share-post").on("submit", function(event) {
    event.preventDefault();
    var i = 1;
    var networks = $("#select-share-form-relationships").val() ? $("#select-share-form-relationships").val() : new Array();
    var friendsArray = $("#input-share-users").tagsinput('items');
    if( networks.length == 0 && friendsArray.length == 0 ){
     $('#div-share-alert')
      .html("You have to share this with <i>someone</i>. No users or relationships have been selected.")
      .attr("class","alert alert-warning")
      .show();
     return;
    }
    setProgressBarPercentage("div-share-submit-progress-bar", 50);
    $("#form-share-post :input").attr("disabled", true);
    $.ajax({
     type: "POST",
     url: "{{ path('ApiPostSharePost') }}",
     data: {
      post_id: postId,
      friends_array: friendsArray,
      network_array: networks,
      message: $("#textarea-share-message").val()
     }
    }).done( function(returnedJsonString) {
     if( 'message' in returnedJsonString ){
      postShareFail(returnedJsonString.message);
      return;
     }
     setProgressBarPercentage("div-share-submit-progress-bar", 75);
     defaultPostShareFriendUsernames = friendsArray;
     defaultPostShareNetworkIds = networks;
     var newShareCount = parseInt($("#post-" + postId + "-share-count").html()) + 1;
     $("#post-" + postId + "-share-count").html(newShareCount);
     $("#post-" + postId + "-share-count-description").html(newShareCount == 1 ? "share" : "shares");
     setProgressBarPercentage("div-share-submit-progress-bar", 100);
     $("#blank-modal").modal("hide");
     $("#td-share-count-" + postId).removeClass("post-option-disabled");
     $("#div-shares-list-post-" + postId).prepend(postSharesToPostSharesListHtml(returnedJsonString.postShares));
    }).fail( function() {
     postShareFail();
    });
   });

   function postShareFail(message) {
    $("#form-share-post :input").removeAttr("disabled");
    setProgressBarFailure("div-share-submit-progress-bar");
    $('#div-share-alert')
     .html(message ? message : "Share failed to save... Try again?")
     .attr("class","alert alert-danger")
     .show();
   }
  }

  $("#all-posts").on("click", ".a-show-post-hidden-text", function(event) {
   event.preventDefault();
   var postId = $(this).attr("data-id");
   $("#span-hidden-text-post-" + postId).show();
   $("#span-show-hidden-text-post-" + postId).hide();
  });

  $("#all-posts").on("click",".post-arrow",function(event) {
   event.stopPropagation();

   if( !userLoggedInId ){
    window.location.href = "{{ path('login') }}?target_url={{ app.getRequest.getUri }}";
   }
   var postId = $(this).attr('data-id');
   var postVote = 1;
   var oldCount = $('#post-' + postId + '-count').html();
   if( $(this).hasClass("arrow-up-orange") ){
    $.ajax({
     type: "DELETE",
     url: "{{ path('ApiUserPostDelete') }}/" + postId
    }).done( function(returnedJsonString) {
     if( returnedJsonString['success'] != 1 ){
      undoVote('post', postId, postVote, oldCount, $('#post-' + postId + '-count').html());
      $('#alert-main')
       .html("Un-vote failed to save...")
       .attr("class","alert alert-danger")
       .show();
     } else {
      $('#alert-main')
       .html("Un-vote succeeded!")
       .attr("class","alert alert-success");
     }
    }).fail( function() {
      undoVote('post', postId, postVote, oldCount, $('#post-' + postId + '-count').html());
      $('#alert-main')
       .html("Un-vote failed to save...")
       .attr("class","alert alert-danger")
       .show();
    });
   } else {
    $.ajax({
     type: "POST",
     url: "{{ path('ApiUserPostPost') }}",
     data: {
      post_id: postId
     }
    }).done( function(returnedJsonString) {
     if( returnedJsonString['success'] != 1 ){
      undoVote('post', postId, postVote, oldCount, $('#post-' + postId + '-count').html());
      $('#alert-main')
       .html("Vote failed to save...")
       .attr("class","alert alert-danger")
       .show();
     } else {
      $('#alert-main')
       .html("Vote succeeded!")
       .attr("class","alert alert-success");
     }
    }).fail( function() {
     undoVote('post', postId, postVote, oldCount, $('#post-' + postId + '-count').html());
     $('#alert-main')
      .html("Vote failed to save...")
      .attr("class","alert alert-danger")
      .show();
    });
   }
   updateVote('post', parseInt(postId), parseInt(postVote), true);
  });

  $("#all-posts").on("click", ".span-post-count", function(event) {
   event.stopPropagation();
   if( $(this).hasClass("post-option-disabled") )
    return;

   var postId = $(this).attr("data-id");

   $("#span-upvote-arrow-post-" + postId).toggleClass("glyphicon-circle-arrow-up").toggleClass("glyphicon-circle-arrow-down");

   if( $("#div-userposts-list-post-" + postId).is(":visible") ){
    $("#div-post-bottom-options-id-" + postId).slideUp();
    $("#div-userposts-list-post-" + postId).hide();
    return;
   }

   $("#div-subposts-list-post-" + postId).hide();
   $("#span-subpost-arrow-post-" + postId).addClass("glyphicon-circle-arrow-down").removeClass("glyphicon-circle-arrow-up");
   $("#div-shares-box-post-" + postId).hide();
   $("#span-share-arrow-post-" + postId).addClass("glyphicon-circle-arrow-down").removeClass("glyphicon-circle-arrow-up");
   $("#div-userposts-list-post-" + postId).show();
   $("#div-post-bottom-options-id-" + postId).slideDown();

   if( !$("#div-userposts-list-post-" + postId).html() ){
    $("#div-userposts-list-post-" + postId).html(
     "<h6>Upvotes</h6>" +
     "<div id='userpost-modal-progress-bar-container' class='progress progress-striped active'>" +
      "<div id='userpost-modal-progress-bar' class='progress-bar progress-bar-warning' role='progressbar' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100' style='width:50%'></div>" +
     "</div>"
    );
    $.ajax({
     type: "GET",
     url: "{{ path('ApiUserPostGet') }}/" + postId
    }).done( function(returnedJsonString) {
     if( returnedJsonString.userPosts.length > 0 ){
      for (var i = 0; i < returnedJsonString.userPosts.length; i++){
       var userImageUrl = returnedJsonString.userPosts[i].userImageUrl;
       $("#div-userposts-list-post-" + postId).append(
        "<div id='div-upvote-post-" + postId + "-user-" + returnedJsonString.userPosts[i].userId + "'>" +
         "<div style='display:inline-block;padding:0 3px 0 3px;'>" +
          "<a href='" + returnedJsonString.userPosts[i].userUrl + "'><img src='" + userImageUrl + "' alt='' height='32' width='32' style='border-radius:50%;background-color:#" + returnedJsonString.userPosts[i].userBackgroundHtmlColor + ";'></a>" +
         "</div>" +
         "<div style='display:inline-block;'>" +
          "<small><a href='" + returnedJsonString.userPosts[i].userUrl + "'>" + returnedJsonString.userPosts[i].userUsername + "</a></small>" +
         "</div>" +
        "</div>"
       );
      }
     } else {
      $("#div-userposts-list-post-" + postId).append("<h1 style='color:darkgrey;text-align:center;'>No Votes Yet!</h1>");
     }
     $("#userpost-modal-progress-bar").removeClass("progress-bar-warning").addClass("progress-bar-success").attr("aria-valuenow",100).css("width","100%");
     $("#userpost-modal-progress-bar-container").slideUp();
    }).fail( function() {
     $("#userpost-modal-progress-bar-container").removeClass("progress-striped").removeClass("active");
     $("#userpost-modal-progress-bar").removeClass("progress-bar-warning").addClass("progress-bar-danger");
    });
   }
  });

  $("#all-posts").on("click",".share-count",function(event) {
   event.stopPropagation();
   if( $(this).hasClass("post-option-disabled") )
    return;

   var postId = $(this).attr("data-id");

   $("#span-share-arrow-post-" + postId).toggleClass("glyphicon-circle-arrow-up").toggleClass("glyphicon-circle-arrow-down");

   if( $("#div-shares-box-post-" + postId).is(":visible") ){
    $("#div-post-bottom-options-id-" + postId).slideUp();
    $("#div-shares-box-post-" + postId).hide();
    return;
   }

   $("#div-subposts-list-post-" + postId).hide();
   $("#span-subpost-arrow-post-" + postId).addClass("glyphicon-circle-arrow-down").removeClass("glyphicon-circle-arrow-up");
   $("#div-userposts-list-post-" + postId).hide();
   $("#span-upvote-arrow-post-" + postId).addClass("glyphicon-circle-arrow-down").removeClass("glyphicon-circle-arrow-up");
   $("#div-shares-box-post-" + postId).show();
   $("#div-post-bottom-options-id-" + postId).slideDown();

   if( !$("#div-shares-box-post-" + postId).html() ){
    $("#div-shares-box-post-" + postId).html(
     "<h6>Your Shares of This Post</h6>" +
     "<div id='div-shares-list-post-" + postId + "'></div>" +
     "<div id='share-modal-progress-bar-container-" + postId + "' class='progress progress-striped active'>" +
      "<div id='share-modal-progress-bar-" + postId + "' class='progress-bar progress-bar-warning' role='progressbar' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100' style='width:50%'></div>" +
     "</div>"
    );
    $.ajax({
     type: "GET",
     url: "{{ path('ApiPostSharesGet') }}/" + postId
    }).done( function(returnedJsonString) {
     $("#div-shares-list-post-" + postId).append(postSharesToPostSharesListHtml(returnedJsonString.postShares));
     $("#share-modal-progress-bar-" + postId).removeClass("progress-bar-warning").addClass("progress-bar-success").attr("aria-valuenow",100).css("width","100%");
     $("#share-modal-progress-bar-container-" + postId).slideUp();
    }).fail( function() {
     $("#share-modal-progress-bar-container-" + postId).removeClass("progress-striped").removeClass("active");
     $("#share-modal-progress-bar-" + postId).removeClass("progress-bar-warning").addClass("progress-bar-danger");
    });
   }
  });

  $("#all-posts").on("click",".td-show-subposts",function(event) {
   event.stopPropagation();
   if( $(this).hasClass("post-option-disabled") )
    return;

   var postId = $(this).attr("data-id");

   $("#span-subpost-arrow-post-" + postId).toggleClass("glyphicon-circle-arrow-up").toggleClass("glyphicon-circle-arrow-down");

   if( $("#div-subposts-list-post-" + postId).is(":visible") ){
    $("#div-post-bottom-options-id-" + postId).slideUp();
    $("#div-subposts-list-post-" + postId).hide();
    return;
   }

   $("#div-subposts-list-post-" + postId).show();
   $("#div-userposts-list-post-" + postId).hide();
   $("#span-upvote-arrow-post-" + postId).addClass("glyphicon-circle-arrow-down").removeClass("glyphicon-circle-arrow-up");
   $("#div-shares-box-post-" + postId).hide();
   $("#span-share-arrow-post-" + postId).addClass("glyphicon-circle-arrow-down").removeClass("glyphicon-circle-arrow-up");
   $("#div-post-bottom-options-id-" + postId).slideDown();
   getSubposts(postId, parseInt($("#div-post-id-" + postId).attr("data-depth")));
  });

  $("#all-posts").on("click",".button-upvote-post",function(event) {
   event.stopPropagation();
   $("#post-" + $(this).attr("data-id") + "-1").click();
  });

  $("#form-login").submit(function(event){
   $("#username").attr("disabled","disabled");
   $("#password").attr("disabled","disabled");
   $("#input-submit-login").attr("disabled","disabled");
   setProgressBarPercentage("div-login-progress-bar", 50);
   var postCount = 0;
   var arrayOfPostIds = new Array();
   while( $("#span-page-post-number-" + postCount).length != 0 ){
    arrayOfPostIds.push($("#span-page-post-number-" + postCount).attr("data-id"));
    postCount++;
   }
   $.ajax({
    type: "POST",
    url: "{{ path('login_check') }}",
    data: {
     _username:$("#username").val(),
     _password:$("#password").val(),
     login:"Log in",
     arrayOfPostIds:arrayOfPostIds
    }
   }).done( function(returnedJsonString) {
    setProgressBarPercentage("div-login-progress-bar", 75);
    if( !returnedJsonString.hasOwnProperty('success')
     || returnedJsonString['success'] == false
     || !returnedJsonString.hasOwnProperty('data')
     || !returnedJsonString['data'].hasOwnProperty('username')
     || !returnedJsonString['data'].hasOwnProperty('userProfilePageUrl')
    ){
     if( returnedJsonString.hasOwnProperty('message') ){
      $("#modal-error").html(returnedJsonString['message'] + ". Did you <a href='{{ path('ForgotPage') }}'>forget something</a>?").slideDown();
      setProgressBarPercentage("div-login-progress-bar", 100);
     } else {
      $("#modal-error").html("Failure getting necessary information from server. Try again?").slideDown();
      setProgressBarFailure("div-login-progress-bar");
     }
    } else {
     // Show invite div.
     $("#div-invite").attr("data-id", returnedJsonString['data']['id']).show();
     // Update "Log In" dropdown
      var loggedInNavHtml =
       "<li><a href='#'><span class='glyphicon glyphicon-user'></span></a></li>" +
       "<li><a href='{{ path('ConversationsPage') }}'><span class='glyphicon glyphicon-comment'></span>";
      if( returnedJsonString['data']['unopenedMessagesCount'] > 0 )
       loggedInNavHtml += " <span class='badge' style='background-color:#5cb85c;'>" + returnedJsonString['data']['unopenedMessagesCount'] + "</span>";
      loggedInNavHtml +=
       "</a></li>"
      loggedInNavHtml +=
       "<li class='dropdown'>" +
        "<a href='#' class='dropdown-toggle a-notifications-dropdown' data-toggle='dropdown'><span class='glyphicon glyphicon-bell'></span> <b class='caret'></b>";
      if( returnedJsonString['data']['unviewedNotificationsCount'] > 0 )
       loggedInNavHtml += " <span class='badge' style='background-color:#f69442;'>" + returnedJsonString['data']['unviewedNotificationsCount'] + "</span>";
      loggedInNavHtml +=
        "</a>" +
        "<ul class='dropdown-menu' style='left:auto;right:0;'>";
      for( var i = 0; i < returnedJsonString['data']['notifications'].length; i++ ){
       var anchorClass = returnedJsonString['data']['notifications'][i].notificationOpened ? "" : "a-notification-unclicked";
       var momentInTime = moment(returnedJsonString['data']['notifications'][i].createdDatetime);
       loggedInNavHtml += "<li><a href='" + returnedJsonString['data']['notifications'][i].postUrl + "' class='" + anchorClass + "'><img src='" + returnedJsonString['data']['notifications'][i].createdUserImageUrl + "' alt='' height='32' width='32' style='border-radius:50%;background-color:#" + returnedJsonString['data']['notifications'][i].createdUserBackgroundHtmlColor + ";margin-right:3px;'>" + returnedJsonString['data']['notifications'][i].notificationDescription + " <span class='span-timestamp' title='" + momentInTime.format("dddd, MMMM Do YYYY, h:mm:ss a") + "'>" + momentInTime.fromNow() + "</span></a></li>";
      }
      loggedInNavHtml +=
         "<li class='divider'></li>" +
         "<li><a href='{{ path('NotificationsPage') }}'>View All</a></li>" +
        "</ul>" +
       "</li>" +
       "<li class='dropdown'>" +
        "<a href='#' class='dropdown-toggle' data-toggle='dropdown'><span id='nav-login-dropdown-username-span'>" + returnedJsonString['data']['username'] + "</span> <b class='caret'></b></a>" +
        "<ul class='dropdown-menu' style='left:auto;right:0;'>" +
         "<li><a href='" + returnedJsonString['data']['userProfilePageUrl'] + "' id='nav-login-dropdown-profile-a'>Profile</a></li>" +
         "<li><a href='{{ path('AccountPage') }}'>Account</a></li>" +
         "<li class='divider'></li>" +
         "<li><a href='{{ path('logout') }}?target_url={{ app.getRequest.getUri }}'>Log Out</a></li>" +
        "</ul>" +
       "</li>";
     $('#nav-dropdown').html(loggedInNavHtml);
     $('#login-modal').modal('hide');
     $("#modal-error").hide();
     userLoggedInId = returnedJsonString['data']['id'];
     userLoggedInUsername = returnedJsonString['data']['username'];
     userProfilePageUrl = returnedJsonString['data']['userProfilePageUrl'];
     userProfilePicUrl = returnedJsonString['data']['userProfilePicUrl'];
     userBackgroundHtmlColor = returnedJsonString['data']['userBackgroundHtmlColor'];

     // Load the User's Relationship Types.
     var index = 1;
     for( var key in returnedJsonString['data']['userNetworks'] ){
      if( returnedJsonString['data']['userNetworks'].hasOwnProperty(key) ){
       shareFormListofUsersRelationships += 
        "<div class='form-group'>" +
         "<label for='input-relationship-share-type-" + index + "'>" + returnedJsonString['data']['userNetworks'][key] + "</label>" +
         "<input id='input-relationship-share-type-" + index + "' type='checkbox' data-id='" + key + "'>" +
        "</div>";
       $(".option-select-picker-divider").before("<option class='network'>" + returnedJsonString['data']['userNetworks'][key] + "</option>");
      }
      index += 1;
     }

     for( var key in returnedJsonString['data']['userPostPostIds'] )
      updateVote('post', returnedJsonString['data']['userPostPostIds'][key], 1, false);
     setProgressBarPercentage("div-login-progress-bar", 100);
    }
   }).fail( function() {
    $("#modal-error").html("Failure connecting to server. Try again?").slideDown();
    setProgressBarFailure("div-login-progress-bar");
   }).always( function() {
    $("#username").removeAttr("disabled");
    $("#password").removeAttr("disabled");
    $("#input-submit-login").removeAttr("disabled");
   });
   event.preventDefault();
  });

  $("#all-posts").on("click", ".img-post", function() {
   $("#blank-modal-title").html("Image Zoom");
   $("#blank-modal-body").html("<table><tr><td><a href='#' class='a-previous-image-zoom' style='padding:10px;'><span class='glyphicon glyphicon-circle-arrow-left'></span></a></td><td><img id='img-zoom' src='" + $(this).attr("src") + "' alt='' style='width:100%;' data-post-id='" + $(this).attr("data-post-id") + "' data-image-iterator='" + $(this).attr("data-image-iterator") + "'></td><td><a href='#' class='a-next-image-zoom' style='padding:10px;'><span class='glyphicon glyphicon-circle-arrow-right'></span></a></td></tr></table>");
   $("#blank-modal").modal("show");
  });

  $("#blank-modal-body").on("click", ".a-previous-image-zoom", function(event) {
   event.preventDefault();
   var imageIteratorMinusOne = parseInt($("#img-zoom").attr("data-image-iterator")) - 1;
   var pagePostImagesKey = $("#img-zoom").attr("data-post-id") + "-" + imageIteratorMinusOne;
   if( pagePostImagesKey in pagePostImages )
    $("#img-zoom").attr("src", pagePostImages[pagePostImagesKey]).attr("data-image-iterator", imageIteratorMinusOne);
  });

  $("#blank-modal-body").on("click", ".a-next-image-zoom", function(event) {
   event.preventDefault();
   var imageIteratorPlusOne = parseInt($("#img-zoom").attr("data-image-iterator")) + 1;
   var pagePostImagesKey = $("#img-zoom").attr("data-post-id") + "-" + imageIteratorPlusOne;
   if( pagePostImagesKey in pagePostImages )
    $("#img-zoom").attr("src", pagePostImages[pagePostImagesKey]).attr("data-image-iterator", imageIteratorPlusOne);
  });

  $("#all-posts").on("click", ".a-leave-network", function(event) {
   event.preventDefault();
   var postId = $(this).attr("data-post-id");
   var networkId = $(this).attr("data-network-id");
   var approveNetwork = $(".span-post-share-verb-post-" + postId + "-network-" + networkId).first().html() == "Join" ? 1 : 0;
   $.ajax({
    type: "POST",
    url: "{{ path('ApiRelationshipApproveOrUnapprove') }}",
    data: {
     origination_user_id: $(this).attr("data-origination-user-id"),
     destination_user_id: userLoggedInId,
     network_id: networkId,
     approve_network: approveNetwork
    }
   });
   if( approveNetwork )
    $(".span-post-share-verb-post-" + postId + "-network-" + networkId).html("Leave");
   else
    $(".span-post-share-verb-post-" + postId + "-network-" + networkId).html("Join");
  });

  $("#all-posts").on("click", ".a-hide-post", function(event) {
   event.preventDefault();
   var postId = $(this).attr("data-id");
   $("#div-post-id-" + postId).slideUp();
   $.ajax({
    type: "POST",
    url: "{{ path('ApiUserPostHidePost') }}",
    data: {
     post_id: postId,
     is_marked_spam: $(this).attr("data-spam")
    }
   });
  });

  var initialPostsLoadXMLHttpRequest = new Object();
  function initialPostsLoad() {
   if( typeof(initialPostsLoadXMLHttpRequest.abort) === "function" )
    initialPostsLoadXMLHttpRequest.abort();
   $("#div-all-posts-base").html("");
   setProgressBarPercentage("div-loading-posts-progress-bar", 50);
   initialPostsLoadXMLHttpRequest = $.ajax({
    type: "GET",
    url: postSource
   }).done(function(returnedJsonString) {
    setProgressBarPercentage("div-loading-posts-progress-bar", 75);
    for( var i=0; i<returnedJsonString.posts.length; i++ ){
     $("#div-all-posts-base").append(buildPostHtml(returnedJsonString.posts[i], "base", 0, false, false));
     for( var j=0; j<returnedJsonString.posts[i].childposts.length; j++ ){
      $("#div-subposts-list-post-" + returnedJsonString.posts[i].id).append(buildPostHtml(returnedJsonString.posts[i].childposts[j], returnedJsonString.posts[i].id, 1, true, false));
     }
     $(".div-loading-posts-progress-grandchild-post-id-base").hide();
     lastBasePostIdShown = returnedJsonString.posts[i].id;
    }
    setProgressBarPercentage("div-loading-posts-progress-bar", 100);
    if( returnedJsonString.posts.length > 0 ){
     isLoading = false;
    } else {
     $("#div-all-posts-base").append("<h1 style='color:darkgrey;text-align:center;'>No Posts Found (Yet!)</h1>");
    }
   }).fail(function() {
    setProgressBarFailure("div-loading-posts-progress-bar");
   });
  }

  var lastBasePostIdShown;
  var isLoading = true;
  $(document).ready(function() {
   initialPostsLoad();
  });

 $("#login-modal").on("shown.bs.modal", function() {
  $("#username").focus();
 });

 function loadPage() {
  isLoading = true;
  setProgressBarPercentage("div-loading-posts-progress-bar", 50);
  $.ajax({
   type: "GET",
      url: postSource + "?starting_post_id=" + lastBasePostIdShown
   }).done(function(returnedJsonString) {
    setProgressBarPercentage("div-loading-posts-progress-bar", 75);
    for( var i=0; i<returnedJsonString.posts.length; i++ ){
     $("#div-all-posts-base").append(buildPostHtml(returnedJsonString.posts[i], "base", 0, false, false));
     for( var j=0; j<returnedJsonString.posts[i].childposts.length; j++ ){
      $("#div-subposts-list-post-" + returnedJsonString.posts[i].id).append(buildPostHtml(returnedJsonString.posts[i].childposts[j], returnedJsonString.posts[i].id, 1, true, false));
     }
     $(".div-loading-posts-progress-grandchild-post-id-base").hide();
     lastBasePostIdShown = returnedJsonString.posts[i].id;
    }
    setProgressBarPercentage("div-loading-posts-progress-bar", 100);
    if( returnedJsonString.posts.length > 0 ){
     isLoading = false;
    } else {
     $("#div-all-posts-base").append("<h1 style='color:darkgrey;text-align:center;'>End of Posts :'(</h1>");
    }
   }).fail(function() {
    setProgressBarFailure("div-loading-posts-progress-bar");
   });
  }

 {% if not ignoreLoadingAdditionalPosts %}
  var win = $(window);
  var doc = $(document);
  win.scroll(function(){
   if( win.scrollTop() >= doc.height() - win.height() ) {
    if( !isLoading ){
     loadPage();
    }
   }
  }).scroll();
 {% endif %}
{% endmacro %}
