{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Register/Login - {% endblock %}

{% block description %}Register for or log in to answeredby.com.{% endblock %}

{% block extra_header %}
 <style type="text/css">
  div .div-form-select select
  {
   height: 34px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   color: #555;
   background-color: #fff;
   background-image: none;
   border: 1px solid #ccc;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
   -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
   transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  #recaptcha_area
  {
   display: inline-block;
   padding: 3px;
  }
 </style>
{% endblock %}

{% block body %}
 <div style="text-align:center;">
  <h3>Register Here :)</h3>
  {{ include('AnsweredbySharedBundle:Partials:register_form_with_login_form_minimized.html.twig') }}
 </div>
{% endblock %}

{% block javascript %}
 {{ include('AnsweredbySharedBundle:Partials:register_form_with_login_form_minimized.js.twig') }}

 $(document).ready( function(){
  $("#form_email").focus();
 });
{% endblock %}