{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Relationships - {% endblock %}

{% block extra_header %}
 <style type="text/css">
  table#table-relationships-all {
   table-layout: fixed;
   width: 100%;
   *margin-left: -250px;/*ie7*/
  }
  table#table-relationships-all th {
   border-top: 1px dotted #ccc;
  }
  table#table-relationships-all tr {
   border-top: 1px solid #ccc;
  }
  table#table-relationships-all td, table#table-relationships-all th {
   vertical-align: top;
   padding:10px;
   width:100px;
  }
  table#table-relationships-all th {
   position:absolute;
   *position: relative; /*ie7*/
   left:0; 
   width:250px;
   font-weight:normal;
  }
  .outer {position:relative}
  .inner {
   overflow-x:scroll;
   overflow-y:visible;
   margin-left:250px;
  }
  .button-relationship-selected, .button-relationship-selected:hover, .button-relationship-selected:focus {
   color: black;
  }
  .button-relationship-unselected, .button-relationship-unselected:hover, .button-relationship-unselected:focus {
   color: lightgrey;
  }
 </style>
{% endblock %}

{% block body %}
 <h1>Relationships</h1>
 <table style="margin-bottom:10px;">
  <tr>
   <td style="padding-left:5px;width:250px;"><b>Users and their networks <span class="glyphicon glyphicon-arrow-down"></span></b></td>
   <td style="padding-left:5px;"><b>Your networks they've joined <span class="glyphicon glyphicon-arrow-right"></span></b></td>
  </tr>
 </table>
 <div class="outer">
  <div class="inner">
   <table id="table-relationships-all">
    <tr>
     <th></th>
     {% for network in app.user.getNonHiddenNetworks %}
      <td class="td-network-{{ network.id }}">{{ network.text }}</td>
     {% endfor %}
     <td id="td-empty-last-header-cell"><button id="button-add-network" class="btn btn-danger">Add...</button></td>
    </tr>
    {% for userCurrentUserHasRelationshipsWith in twigGlobalsHelper.getUsersCurrentUserHasRelationshipsWith %}
     <tr style="height:100px;" data-destination-user-id="{{ userCurrentUserHasRelationshipsWith.id }}">
      <th>
       <div>{{ macros.UserImage(userCurrentUserHasRelationshipsWith) }} {{ macros.UserPageAnchor(userCurrentUserHasRelationshipsWith) }}</div>
       <div>You've joined their networks:</div>
       <div data-origination-user-id="{{ userCurrentUserHasRelationshipsWith.id }}" data-destination-user-id="{{ app.user.id }}">
        <select id="relationship-{{ userCurrentUserHasRelationshipsWith.id }}-select-picker" class="relationship-select-picker select-picker" style="display:none;" data-style="btn-primary" multiple title='Join their networks...'>
         {% for network in userCurrentUserHasRelationshipsWith.getNetworksWhereIsIndividualSharesType %}
          <option {% if userCurrentUserHasRelationshipsWith.getUsersRelationshipsWithSpecificUserAndNetworkApprovedByOriginationUser(app.user, network)|length %}data-icon="glyphicon-ok" {% endif %}value="{{ network.id }}">{{ network.text }}</option>
         {% endfor %}
         <option data-divider="true"></option>
         {% for network in userCurrentUserHasRelationshipsWith.getNetworksWithoutIsIndividualSharesType %}
          <option {% if userCurrentUserHasRelationshipsWith.getUsersRelationshipsWithSpecificUserAndNetworkApprovedByOriginationUser(app.user, network)|length %}data-icon="glyphicon-ok" {% endif %}value="{{ network.id }}" class="option-relationship-select-picker-network-{{ network.id }} {% if network.isDefaultType %}option-default-network{% endif %}">{{ network.text }}</option>
         {% endfor %}
        </select>
       </div>
      </th>
      {% for network in app.user.getNonHiddenNetworks %}
       <td class="td-network-{{ network.id }}">
        <button class="btn btn-default button-relationship-select {% if app.user.getUsersRelationshipsWithSpecificUserAndNetworkApprovedByOriginationUser(userCurrentUserHasRelationshipsWith, network)|length %}button-relationship-selected{% else %}button-relationship-unselected{% endif %}" data-network-id="{{ network.id }}">
         <span class="glyphicon glyphicon-ok" value="{{ network.id }}"></span>
        </button>
        <span {% if app.user.getUsersRelationshipsWithSpecificUserAndNetworkApprovedByDestinationUser(userCurrentUserHasRelationshipsWith, network)|length %}class="glyphicon glyphicon-ok"{% endif %} style="width:16px;"></span>
       </td>
      {% endfor %}
      <td class="td-empty-last-row-cell"></td>
     </tr>
    {% endfor %}
    <tr>
     <th></th>
     <td></td>
     {% for network in app.user.getNetworksWithoutIsIndividualSharesType %}
      {% if network.isDefaultType %}
       <td></td>
      {% else %}
       <td class="td-network-{{ network.id }}" style="text-align:center;"><span class="glyphicon glyphicon-trash span-remove-network" style="color:darkgrey;cursor:pointer;" title="Hide {{ network.text }}" data-network-id="{{ network.id }}"></span></td>
      {% endif %}
     {% endfor %}
     <td id="td-empty-last-footer-cell"></td>
    </tr>
   </table>
  </div>
 </div>
{% endblock %}

{% block javascript %}
 {{ include('AnsweredbySharedBundle:Partials:progressBar.js.twig') }}
 {% for userCurrentUserHasRelationshipsWith in twigGlobalsHelper.getUsersCurrentUserHasRelationshipsWith %}
  $("#relationship-{{ userCurrentUserHasRelationshipsWith.id }}-select-picker").selectpicker()
                                                                               .selectpicker('val', [{% for relationship in userCurrentUserHasRelationshipsWith.getUsersRelationshipsWithSpecificUserApprovedByDestinationUser(app.user) %}'{{ relationship.network.id }}',{% endfor %}])
                                                                               .selectpicker('render');
 {% endfor %}

 $("#table-relationships-all").on("click", ".button-relationship-select", function() {
  $(this).toggleClass("button-relationship-selected").toggleClass("button-relationship-unselected");
  $.ajax({
   type: "POST",
   url: "{{ path('ApiRelationshipPostApproveOrIgnore') }}",
   data: {
    origination_user_id: {{ app.user.id }},
    destination_user_id: $(this).parent().parent().attr("data-destination-user-id"),
    network_id: $(this).attr("data-network-id"),
    unselect: $(this).hasClass("button-relationship-unselected") ? 1 : 0
   }
  });
 });

 $("#button-add-network").click( function() {
  $("#blank-modal-title").html("Add Network");
  $("#blank-modal-body").html(
  "<div id='div-add-network-alert' style='display:none;'></div>" +
  "<form id='form-add-network' role='form' style='padding-bottom:10px;'>" +
   "<div class='form-group'>" +
    "<label for='input-network-name'>Name</label>" +
    "<input id='input-network-name' type='text' class='form-control' placeholder='Enter network name...'>" +
   "</div>" +
   "<button type='submit' class='btn btn-danger'>Add</button>" +
  "</form>" +
  "<div class='progress progress-striped active' style='display:none;'>" +
   "<div id='div-add-network-progress-bar' class='progress-bar progress-bar-warning' role='progressbar' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100' style='width:25%'></div>" +
  "</div>");
  $("#blank-modal").modal("show");

  $("#form-add-network").on("submit", function(event) {
   event.preventDefault();
   setProgressBarPercentage("div-add-network-progress-bar", 50);
   $("#form-add-network :input").attr("disabled", true);
   var networkName = $("#input-network-name").val();
   $.ajax({
    type: "POST",
    url: "{{ path('ApiNetworkPost') }}",
    data: {
     text: networkName
    }
   }).done( function(returnedJsonString) {
    setProgressBarPercentage("div-add-network-progress-bar", 75);
    addNetwork(returnedJsonString['id'], networkName)
    setProgressBarPercentage("div-add-network-progress-bar", 100);
    $("#blank-modal").modal("hide");
   }).fail( function() {
    $("#form-add-network :input").removeAttr("disabled");
    setProgressBarFailure("div-add-network-progress-bar");
    $('#div-add-network-alert')
     .html("Relationship Type failed to save... Try again?")
     .attr("class","alert alert-danger")
     .show();
   });
  });
 });
{% endblock %}
