{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block body %}
 <div id="div-all-conversations">
  <h1>Conversations...</h1>
  <div id="div-new-conversation-button" style="text-align:right;">New Conversation <button id="button-new-conversation" class="btn btn-danger btn-xs">+</button></div>
  <hr>
  {% for conversation in app.user.getAllConversations %}
   <div id="div-conversation-id-{{ conversation.id }}" style="margin: 0px 5%;">
    <div id="div-conversation-top-bar-id-{{ conversation.id }}" class="minimize-post" data-id="{{ conversation.id }}" style="border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin-bottom: 10px; display: none; background-color: rgb(216, 216, 216);">
     <span class="glyphicon glyphicon-resize-small"></span>
    </div>
    <div id="div-conversation-between-bars-id-{{ conversation.id }}" class="div-maximize-post" data-id="{{ conversation.id }}" style="border-left-width: 1px; border-left-style: solid; border-left-color: white; border-right-width: 1px; border-right-style: solid; border-right-color: white;">
     <table>
      <tr>
       <td style="vertical-align:top;padding:0 6px 0 6px;">
        <img src="{{ conversation.getUserWhoIsNot(app.user).profilePicUrl }}" alt="" height="64" width="64" style="border-radius:50%;background-color:#{{ conversation.getUserWhoIsNot(app.user).backgroundHtmlColor}};">
       </td>
       <td style="vertical-align:top;width:100%;">
        <div>w/ {{ macros.UserPageAnchor(conversation.getUserWhoIsNot(app.user)) }}</div>
        <br>
        <div id="div-error-new-message-conversation-id-{{ conversation.id }}" class="alert alert-danger" style="display:none;">Message failed to save...</div>
        <form id="form-new-message-conversation-id-{{ conversation.id }}" class="form-post-message" style="display:none;" data-id="{{ conversation.id }}">
         <textarea id="textarea-conversation-id-{{ conversation.id }}" class="form-control" rows="3"></textarea>
         <input type="submit" value="Submit New Message" class="btn btn-danger">
        </form>
        {% for message in conversation.messages %}
         {% if loop.first %}
          <div{% if message.createdUser != app.user and not message.hasDestinationUserOpened %} class="div-unopened-message"{% endif %}>
           <table>
            <tr>
             <td style="vertical-align:top;">
              <img src="{{ message.createdUser.profilePicUrl }}" alt="" height="32" width="32" style="border-radius:50%;background-color:#{{ message.createdUser.backgroundHtmlColor}};">
             </td>
             <td style="vertical-align:top;">
              <div>{{ macros.UserPageAnchor(message.createdUser) }}:</div>
              <div>{{ message.text|raw }}</div>
              <div>{{ macros.timestampSpan('message', message.id, message.createdDatetime) }}</div>
             </td>
            </tr>
           </table>
          </div>
          <div id="div-hidden-messages-conversation-id-{{ conversation.id }}" style="display:none;">
         {% else %}
          <hr style="margin:0;">
          <div{% if message.createdUser != app.user and not message.hasDestinationUserOpened %} class="div-unopened-message"{% endif %}>
           <table>
            <tr>
             <td style="vertical-align:top;">
              <img src="{{ message.createdUser.profilePicUrl }}" alt="" height="32" width="32" style="border-radius:50%;background-color:#{{ message.createdUser.backgroundHtmlColor}};">
             </td>
             <td style="vertical-align:top;">
              <div>{{ macros.UserPageAnchor(message.createdUser) }}:</div>
              <div>{{ message.text|raw }}</div>
              <div>{{ macros.timestampSpan('message', message.id, message.createdDatetime) }}</div>
             </td>
            </tr>
           </table>
          </div>
         {% endif %}
        {% endfor %}
          </div>
       </td>
      </tr>
     </table>
    </div>
    <div id="div-conversation-bottom-bar-id-{{ conversation.id }}" class="minimize-post" data-id="{{ conversation.id }}" style="border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; margin-top: 10px; display: none; background-color: rgb(216, 216, 216);">
     <span class="glyphicon glyphicon-resize-small"></span>
    </div>
   </div>
   <hr>
  {% endfor %}
 </div>
 <div class="modal fade" id="div-conversation-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     <h4 class="modal-title">New Conversation</h4>
    </div>
    <div class="modal-body">
     <form id="form-new-conversation">
      <div id="div-new-conversation-failed" class="alert alert-danger" style="text-align:center;display:none;">Conversation failed to save...</div>
      <div class="alert alert-warning" style="text-align:center;">We apologize, but we currently support messages between you and only one other user.</div>
      <div class="form-group">
       <label for="input-new-conversation-recipient">Display Name</label>
       <div id="div-new-conversation-recipient-holder">
        <input id="input-new-conversation-recipient" type="text" class="form-control" placeholder="Enter Display Name">
       </div>
      </div>
      <div class="form-group">
       <label for="textarea-new-conversation">Message</label>
       <textarea id="textarea-new-conversation" class="form-control" rows="3"></textarea>
      </div>
      <input type="submit" class="btn btn-danger">
     </form>
    </div>
    <div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    </div>
  </div>
 </div>
{% endblock %}

{% block javascript %}
 var notificationsDropdownClicked = new Object();
 $("#div-all-conversations").on("click", ".div-maximize-post", function(event) {
  // Don't do anything if an anchor tag was clicked.
  if( event.target.nodeName == "A" )
   return;
  var conversationId = $(this).attr("data-id");
  $("#div-conversation-top-bar-id-" + conversationId).slideDown();
  $("#div-conversation-bottom-bar-id-" + conversationId).slideDown();
  $("#div-conversation-between-bars-id-" + conversationId).animate({padding:"0 5% 0 5%"}).removeClass("div-maximize-post");
  $("#div-conversation-id-" + conversationId).animate({margin:0});
  $("#form-new-message-conversation-id-" + conversationId).slideDown();
  $("#div-hidden-messages-conversation-id-" + conversationId).slideDown();

  // Mark the Conversation's Messages as opened.
  if( !notificationsDropdownClicked[conversationId] ){
   $.ajax({
    type: "POST",
    url: "{{ path('ApiConversationPostOpened') }}",
    data: {
     conversation_id: conversationId
    }
   });
   notificationsDropdownClicked[conversationId] = true;
  }
 });
 $("#div-all-conversations").on("click", ".minimize-post", function() {
  var conversationId = $(this).attr("data-id");
  $("#div-conversation-top-bar-id-" + conversationId).slideUp();
  $("#div-conversation-bottom-bar-id-" + conversationId).slideUp();
  $("#div-conversation-between-bars-id-" + conversationId).addClass("div-maximize-post").animate({padding:0}).css("border-left","1px solid white").css("border-right","1px solid white");
  $("#div-conversation-id-" + conversationId).animate({margin:"0 5% 0 5%"});
  $("#form-new-message-conversation-id-" + conversationId).slideUp();
  $("#div-hidden-messages-conversation-id-" + conversationId).slideUp();
 });
 $("#div-all-conversations").on("submit", ".form-post-message", function(event) {
  event.preventDefault();
  var conversationId = $(this).attr("data-id");
  $.ajax({
   type: "POST",
   url: "{{ path('ApiMessagePost') }}",
   data: {
    text: $("#textarea-conversation-id-" + conversationId).val(),
    conversation_id: conversationId
   }
  }).done( function(returnedJsonString) {
   var momentInTime = moment(returnedJsonString['createdDatetime']);
   $("#div-error-new-message-conversation-id-" + conversationId).hide();
   $("#form-new-message-conversation-id-" + conversationId).after(
     "<table>" +
      "<tr>" +
       "<td style='vertical-align:top;'>" +
        "<img src='{{ app.user.profilePicUrl }}' alt='' height='32' width='32' style='border-radius:50%;background-color:#{{ app.user.backgroundHtmlColor}};'>" +
       "</td>" +
       "<td style='vertical-align:top;'>" +
        "<div>{{ macros.UserPageAnchor(app.user) }}:</div>" +
        "<div>" + returnedJsonString['text'] + "</div>" +
        "<div><span class='span-timestamp' title='" + momentInTime.format("dddd, MMMM Do YYYY, h:mm:ss a") + "'>" + momentInTime.fromNow() + "</span></div>" +
       "</td>" +
      "</tr>" +
     "</table>" +
     "<hr style='margin:0;'>"
   );
   $("#div-conversation-modal").modal("hide");
  }).fail( function() {
   $("#div-error-new-message-conversation-id-" + conversationId).show();
  });
 });
 $("#form-new-conversation").on("submit", function(event) {
  event.preventDefault();
  $("#form-new-conversation :input").attr("disabled", true);
  $.ajax({
   type: "POST",
   url: "{{ path('ApiConversationPost') }}",
   data: {
    recipient_username_array: $("#input-new-conversation-recipient").tagsinput('items'),
    text: $("#textarea-new-conversation").val()
   }
  }).done( function(returnedJsonString) {
   var momentInTime = moment(returnedJsonString['createdDatetime']);
   var conversationId = returnedJsonString['conversation_id'];
   var destinationUserImage = returnedJsonString['destination_user_object']['imageUrl'];
   $("#div-new-conversation-button").after(
    "<hr>" +
    "<div id='div-conversation-id-" + conversationId + "' style='margin: 0px 5%;'>" +
     "<div id='div-conversation-top-bar-id-" + conversationId + "' class='minimize-post' data-id='" + conversationId + "' style='border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin-bottom: 10px; display: none; background-color: rgb(216, 216, 216);'>" +
      "<span class='glyphicon glyphicon-resize-small'></span>" +
     "</div>" +
     "<div id='div-conversation-between-bars-id-" + conversationId + "' class='div-maximize-post' data-id='" + conversationId + "' style='border-left-width: 1px; border-left-style: solid; border-left-color: white; border-right-width: 1px; border-right-style: solid; border-right-color: white;'>" +
      "<table>" +
       "<tr>" +
        "<td style='vertical-align:top;padding:0 6px 0 6px;'>" +
         "<img src='" + destinationUserImage + "' alt='' height='64' width='64' style='border-radius:50%;background-color:#" + returnedJsonString['destination_user_object']['backgroundHtmlColor'] + ";'>" +
        "</td>" +
        "<td style='vertical-align:top;width:100%;'>" +
         "<div>w/ <a href='" + returnedJsonString['destination_user_object']['url'] + "'>" + returnedJsonString['destination_user_object']['username'] + "</a></div>" +
         "<br>" +
         "<div id='div-error-new-message-conversation-id-" + conversationId + "' class='alert alert-danger' style='display:none;'>Message failed to save...</div>" +
         "<form id='form-new-message-conversation-id-" + conversationId + "' class='form-post-message' style='display:none;' data-id='" + conversationId + "'>" +
          "<textarea id='textarea-conversation-id-" + conversationId + "' class='form-control' rows='3'></textarea>" +
          "<input type='submit' value='Submit New Message' class='btn btn-danger'>" +
         "</form>" +
         "<table>" +
          "<tr>" +
           "<td style='vertical-align:top;'>" +
            "<img src='{{ app.user.profilePicUrl }}' alt='' height='32' width='32' style='border-radius:50%;background-color:#{{ app.user.backgroundHtmlColor}};'>" +
           "</td>" +
           "<td style='vertical-align:top;'>" +
            "<div>{{ macros.UserPageAnchor(app.user) }}:</div>" +
            "<div>" + returnedJsonString['text'] + "</div>" +
            "<div><span class='span-timestamp' title='" + momentInTime.format("dddd, MMMM Do YYYY, h:mm:ss a") + "'>" + momentInTime.fromNow() + "</span></div>" +
           "</td>" +
          "</tr>" +
         "</table>" +
         "<div id='div-hidden-messages-conversation-id-" + conversationId + "' style='display:none;'>" +
        "</div>" +
        "</td>" +
       "</tr>" +
      "</table>" +
     "</div>" +
     "<div id='div-conversation-bottom-bar-id-" + conversationId + "' class='minimize-post' data-id='" + conversationId + "' style='border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; margin-top: 10px; display: none; background-color: rgb(216, 216, 216);'>" +
      "<span class='glyphicon glyphicon-resize-small'></span>" +
     "</div>" +
    "</div>"
   );
   $("#div-conversation-modal").modal("hide");
   $("#textarea-new-conversation").val("");
   $("#div-new-conversation-recipient-holder").html("");
   $("#div-new-conversation-recipient-holder").html("<input id='input-new-conversation-recipient' type='text' class='form-control' placeholder='Enter Display Name'>");
   $("#input-new-conversation-recipient").tagsinput({
    maxTags: 1,
    typeahead: {
     source: function (query) {
      return $.get('{{ path('ApiUserRelationshipAutocomplete') }}', { search_string: query });
     }
    }
   });
   $("#div-new-conversation-failed").hide();
  }).fail( function() {
   $("#div-new-conversation-failed").show();
  }).always( function() {
   $("#form-new-conversation :input").removeAttr("disabled");
  });
 });
 $("#input-new-conversation-recipient").val(window.location.hash.substr(1)).tagsinput({
  maxTags: 1,
  typeahead: {
   source: function (query) {
    return $.get('{{ path('ApiUserRelationshipAutocomplete') }}', { search_string: query });
   }
  }
 });
 $("#button-new-conversation").on("click", function() {
  $("#div-conversation-modal").modal("show");
 });
 $(document).ready( function() {
  if( window.location.hash )
   $("#div-conversation-modal").modal("show");
 });
{% endblock %}