{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Reset Password - {% endblock %}

{% block description %}Reset your AnsweredBy password.{% endblock %}

{% block body %}
 <h1>Reset Password</h1>
 {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
  {{ form_errors(form) }}
  <div class="form-group">
   <div class="col-sm-2 control-label">
    <b>Display Name</b>
   </div>
   <div class="col-xs-3">
    {{ username }}
   </div>
  </div>
  <div class="form-group">
   <div class="col-sm-2 control-label">
    {{ form_label(form.password) }}
   </div>
   <div class="col-xs-3">
    {{ form_errors(form.password) }}
    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
   </div>
  </div>
  <div class="form-group">
   <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" value="Reset Password" class="btn btn-danger">
   </div>
  </div>
 {{ form_end(form) }}
{% endblock %}