{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Reset - {% endblock %}

{% block body %}
 <h1>Password Reset!</h1>
 <a href="{{ path('AccountPage') }}" class="btn btn-primary">Account Page</a>
{% endblock %}