{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Subscriptions - {% endblock %}

{% block body %}
 <h1 style="text-align:center;">Your E-mail Subscriptions</h1>
 <table class="table">
  <tr>
   <th>Relationship Requests</th>
   <td><span class="glyphicon glyphicon-ok span-notification-setting{% if user.isEmailNotificationRelationshipRequestsSet %} span-notification-setting-selected{% endif %}" data-notification-type="relationship_requests"></span></td>
  </tr><tr>
   <th>Upvotes</th>
   <td><span class="glyphicon glyphicon-ok span-notification-setting{% if user.isEmailNotificationUpvotesSet %} span-notification-setting-selected{% endif %}" data-notification-type="upvotes"></span></td>
  </tr><tr>
   <th>Shares</th>
   <td><span class="glyphicon glyphicon-ok span-notification-setting{% if user.isEmailNotificationSharesSet %} span-notification-setting-selected{% endif %}" data-notification-type="shares"></span></td>
  </tr><tr>
   <th>Subposts</th>
   <td><span class="glyphicon glyphicon-ok span-notification-setting{% if user.isEmailNotificationSubpostsSet %} span-notification-setting-selected{% endif %}" data-notification-type="subposts"></span></td>
  </tr>
 </table>
{% endblock %}

{% block javascript %}
 $(".span-notification-setting").click( function() {
  if( $(this).hasClass("span-notification-setting-selected") ){
   $(this).removeClass("span-notification-setting-selected");
  } else {
   $(this).addClass("span-notification-setting-selected");
  }

  var data = {};
  data[$(this).attr("data-notification-type")] = $(this).hasClass("span-notification-setting-selected") ? 1 : 0;
  $.ajax({
   type: "POST",
   url: "{{ path('ApiUserPostEmailNotificationSetting') }}?{{ id_type }}={{ md5 }}",
   data: data
  });
 });
{% endblock %}
