{% extends 'AnsweredbySharedBundle::layout.html.twig' %}

{% block title %}Register/Login - {% endblock %}

{% block description %}Register for or log in to answeredby.com.{% endblock %}

{% block extra_header %}
 <style type="text/css">
  div .div-form-select select
  {
   height: 34px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   color: #555;
   background-color: #fff;
   background-image: none;
   border: 1px solid #ccc;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
   -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
   transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  #recaptcha_area
  {
   display: inline-block;
   padding: 3px;
  }
 </style>
{% endblock %}

{% block body %}
 <div style="text-align:center;">
  <h3>You must log in to continue!</h3>
  <div id="login" style="text-align:left;padding-top:20px;">
   {% if error %}
    <div class="alert alert-danger" style="text-align:center;">{{ error.message }}. Did you <a href="{{ path('ForgotPage') }}">forget something</a>?</div>
   {% endif %}
   <form action="{{ path('login_check') }}" method="post" class="form-horizontal">
    <input type="hidden" name="_target_path" value="{{ target_url }}#{{ target_fragment }}">
    {{ include('AnsweredbySharedBundle:Partials:login_form.html.twig') }}
   </form>
  </div>
  <hr>
  <div style="display:inline-block;">
   Register with <b><span class="blue">Answered</span><span class="orange">By</span></b>
   <button id="button-register-maximize-minimize" type="button" class="btn btn-primary btn-xs">+</button>
  </div>
  <div id="register" style="{% if not registrationErrors and not form_errors(form) and not form_errors(form.username) and not form_errors(form.password) and not form_errors(form.email) and not form_errors(form.recaptcha) %}display:none;{% endif %}text-align:center;padding-top:20px 0 20px 0;">
   <div style="padding-bottom:20px;"></div>
   {{ include('AnsweredbySharedBundle:Partials:register_form.html.twig') }}
  </div>
 </div>
{% endblock %}

{% block javascript %}
 $("#button-register-maximize-minimize").click( function(){
  if($("#register").is(":visible")) {
   $("#register").slideUp(400, function(){
    $("#username").focus();
   });
   $("#button-register-maximize-minimize").html("+");
  } else {
   $("#register").slideDown(400, function(){
    $("#form_email").focus();
   });
   $("#button-register-maximize-minimize").html("-");
  }
 });
 $(document).ready( function(){
  $("#username").focus();
 });

 {{ include('AnsweredbySharedBundle:Partials:register_form.js.twig') }}
{% endblock %}
